In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
pd.set_option('display.max_columns', None)

## Sonic Fox

In [2]:
sonicfox_url = 'https://www.esportsearnings.com/players/4603-sonicfox-dominique-mclean'
response = requests.get(sonicfox_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [3]:
sonic_fox = pd.read_html(str(tables), skiprows=1)
len(sonic_fox)

6

In [4]:
sonic_fox = sonic_fox[0]
sonic_fox

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$18,694.21",9,2.67%,|,"$1,826.37",2,0.26%,|,"$16,867.84",7,2.41%
2,2020.0,"$40,800.00",2,5.82%,|,$0.00,0,0.00%,|,"$40,800.00",2,5.82%
3,2019.0,"$64,925.00",22,9.27%,|,$200.00,1,0.03%,|,"$64,725.00",21,9.24%
4,2018.0,"$84,201.28",23,12.02%,|,$0.00,0,0.00%,|,"$84,201.28",23,12.02%
5,2017.0,"$184,820.53",19,26.38%,|,$0.00,0,0.00%,|,"$184,820.53",19,26.38%
6,2016.0,"$192,326.50",18,27.46%,|,$0.00,0,0.00%,|,"$192,326.50",18,27.46%
7,2015.0,"$112,174.00",20,16.01%,|,$0.00,0,0.00%,|,"$112,174.00",20,16.01%
8,2014.0,"$2,537.20",13,0.36%,|,$0.00,0,0.00%,|,"$2,537.20",13,0.36%
9,2013.0,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%

In [5]:
sonic_fox.columns = sonic_fox.iloc[0]
sonic_fox

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$18,694.21",9,2.67%,|,"$1,826.37",2,0.26%,|,"$16,867.84",7,2.41%
2,2020.0,"$40,800.00",2,5.82%,|,$0.00,0,0.00%,|,"$40,800.00",2,5.82%
3,2019.0,"$64,925.00",22,9.27%,|,$200.00,1,0.03%,|,"$64,725.00",21,9.24%
4,2018.0,"$84,201.28",23,12.02%,|,$0.00,0,0.00%,|,"$84,201.28",23,12.02%
5,2017.0,"$184,820.53",19,26.38%,|,$0.00,0,0.00%,|,"$184,820.53",19,26.38%
6,2016.0,"$192,326.50",18,27.46%,|,$0.00,0,0.00%,|,"$192,326.50",18,27.46%
7,2015.0,"$112,174.00",20,16.01%,|,$0.00,0,0.00%,|,"$112,174.00",20,16.01%
8,2014.0,"$2,537.20",13,0.36%,|,$0.00,0,0.00%,|,"$2,537.20",13,0.36%
9,2013.0,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%

In [6]:
sonic_fox = sonic_fox.drop([0])
sonic_fox

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$18,694.21",9,2.67%,|,"$1,826.37",2,0.26%,|,"$16,867.84",7,2.41%
2,2020.0,"$40,800.00",2,5.82%,|,$0.00,0,0.00%,|,"$40,800.00",2,5.82%
3,2019.0,"$64,925.00",22,9.27%,|,$200.00,1,0.03%,|,"$64,725.00",21,9.24%
4,2018.0,"$84,201.28",23,12.02%,|,$0.00,0,0.00%,|,"$84,201.28",23,12.02%
5,2017.0,"$184,820.53",19,26.38%,|,$0.00,0,0.00%,|,"$184,820.53",19,26.38%
6,2016.0,"$192,326.50",18,27.46%,|,$0.00,0,0.00%,|,"$192,326.50",18,27.46%
7,2015.0,"$112,174.00",20,16.01%,|,$0.00,0,0.00%,|,"$112,174.00",20,16.01%
8,2014.0,"$2,537.20",13,0.36%,|,$0.00,0,0.00%,|,"$2,537.20",13,0.36%
9,2013.0,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%

In [7]:
sonic_fox['Player ID'] = 'SonicFox'
sonic_fox

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$18,694.21",9,2.67%,|,"$1,826.37",2,0.26%,|,"$16,867.84",7,2.41%,SonicFox
2,2020.0,"$40,800.00",2,5.82%,|,$0.00,0,0.00%,|,"$40,800.00",2,5.82%,SonicFox
3,2019.0,"$64,925.00",22,9.27%,|,$200.00,1,0.03%,|,"$64,725.00",21,9.24%,SonicFox
4,2018.0,"$84,201.28",23,12.02%,|,$0.00,0,0.00%,|,"$84,201.28",23,12.02%,SonicFox
5,2017.0,"$184,820.53",19,26.38%,|,$0.00,0,0.00%,|,"$184,820.53",19,26.38%,SonicFox
6,2016.0,"$192,326.50",18,27.46%,|,$0.00,0,0.00%,|,"$192,326.50",18,27.46%,SonicFox
7,2015.0,"$112,174.00",20,16.01%,|,$0.00,0,0.00%,|,"$112,174.00",20,16.01%,SonicFox
8,2014.0,"$2,537.20",13,0.36%,|,$0.00,0,0.00%,|,"$2,537.20",13,0.36%,SonicFox
9,2013.0,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,SonicFox

In [8]:
sonic_fox.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
sonic_fox

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$18,694.21",9,2.67%,|,"$1,826.37",2,0.26%,|,"$16,867.84",7,2.41%,SonicFox
2,2020.0,"$40,800.00",2,5.82%,|,$0.00,0,0.00%,|,"$40,800.00",2,5.82%,SonicFox
3,2019.0,"$64,925.00",22,9.27%,|,$200.00,1,0.03%,|,"$64,725.00",21,9.24%,SonicFox
4,2018.0,"$84,201.28",23,12.02%,|,$0.00,0,0.00%,|,"$84,201.28",23,12.02%,SonicFox
5,2017.0,"$184,820.53",19,26.38%,|,$0.00,0,0.00%,|,"$184,820.53",19,26.38%,SonicFox
6,2016.0,"$192,326.50",18,27.46%,|,$0.00,0,0.00%,|,"$192,326.50",18,27.46%,SonicFox
7,2015.0,"$112,174.00",20,16.01%,|,$0.00,0,0.00%,|,"$112,174.00",20,16.01%,SonicFox
8,2014.0,"$2,537.20",13,0.36%,|,$0.00,0,0.00%,|,"$2,537.20",13,0.36%,SonicFox
9,2013.0,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,SonicFox

In [9]:
sonic_fox = sonic_fox.drop(columns=['blank', 'blank1'])
sonic_fox

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$18,694.21",9,2.67%,"$1,826.37",2,0.26%,"$16,867.84",7,2.41%,SonicFox
2,2020.0,"$40,800.00",2,5.82%,$0.00,0,0.00%,"$40,800.00",2,5.82%,SonicFox
3,2019.0,"$64,925.00",22,9.27%,$200.00,1,0.03%,"$64,725.00",21,9.24%,SonicFox
4,2018.0,"$84,201.28",23,12.02%,$0.00,0,0.00%,"$84,201.28",23,12.02%,SonicFox
5,2017.0,"$184,820.53",19,26.38%,$0.00,0,0.00%,"$184,820.53",19,26.38%,SonicFox
6,2016.0,"$192,326.50",18,27.46%,$0.00,0,0.00%,"$192,326.50",18,27.46%,SonicFox
7,2015.0,"$112,174.00",20,16.01%,$0.00,0,0.00%,"$112,174.00",20,16.01%,SonicFox
8,2014.0,"$2,537.20",13,0.36%,$0.00,0,0.00%,"$2,537.20",13,0.36%,SonicFox
9,2013.0,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,SonicFox

In [10]:
sonic_fox['Year'] = sonic_fox['Year'].round().astype(int)
sonic_fox

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$18,694.21",9,2.67%,"$1,826.37",2,0.26%,"$16,867.84",7,2.41%,SonicFox
2,2020,"$40,800.00",2,5.82%,$0.00,0,0.00%,"$40,800.00",2,5.82%,SonicFox
3,2019,"$64,925.00",22,9.27%,$200.00,1,0.03%,"$64,725.00",21,9.24%,SonicFox
4,2018,"$84,201.28",23,12.02%,$0.00,0,0.00%,"$84,201.28",23,12.02%,SonicFox
5,2017,"$184,820.53",19,26.38%,$0.00,0,0.00%,"$184,820.53",19,26.38%,SonicFox
6,2016,"$192,326.50",18,27.46%,$0.00,0,0.00%,"$192,326.50",18,27.46%,SonicFox
7,2015,"$112,174.00",20,16.01%,$0.00,0,0.00%,"$112,174.00",20,16.01%,SonicFox
8,2014,"$2,537.20",13,0.36%,$0.00,0,0.00%,"$2,537.20",13,0.36%,SonicFox
9,2013,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,SonicFox

### made a separate table for games

In [11]:
sonic_fox_games = pd.read_html(str(tables), skiprows=1)

In [12]:
sonic_fox_games = sonic_fox_games[2]
sonic_fox_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dead or Alive 5 Ultimate,$0.00,4,0.00%,|,$0.00,0,0.00%,|,$0.00,4,0.00%
2,Dead or Alive 5: Last Round,$504.00,6,0.07%,|,$0.00,0,0.00%,|,$504.00,6,0.07%
3,Dragon Ball FighterZ,"$43,872.21",22,6.26%,|,$0.00,0,0.00%,|,"$43,872.21",22,6.26%
4,Guilty Gear -STRIVE-,"$2,647.10",4,0.38%,|,"$1,826.37",2,0.26%,|,$820.73,2,0.12%
5,Injustice 2,"$223,245.53",16,31.87%,|,$0.00,0,0.00%,|,"$223,245.53",16,31.87%
6,Injustice: Gods Among Us,"$3,414.20",11,0.49%,|,$0.00,0,0.00%,|,"$3,414.20",11,0.49%
7,Marvel vs. Capcom: Infinite,"$2,081.00",3,0.30%,|,$0.00,0,0.00%,|,"$2,081.00",3,0.30%
8,Melty Blood: Type Lumina,$400.92,1,0.06%,|,$0.00,0,0.00%,|,$400.92,1,0.06%
9,Mortal Kombat 11,"$106,479.30",11,15.20%,|,$200.00,1,0.03%,|,"$106,279.30",10,15.17%
10,Mortal Kombat 9,$785.00,4,0.11%,|,$0.00,0,0.00%,|,$785.00,4,0.11%
11,Mortal Kombat X,"$253,343.60",14,36.17%,|,$0.00,0,0.00%,|,"$253,343.60",14,36.17%
12,Mortal Kombat XL,"$50,511.90",6,7.21%,|,$0.00,0,0.00%,|,"$50,511.90",6,7.21%
13,Persona 4 Arena Ultimax,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
14,Skullgirls 2nd Encore,"$7,057.00",9,1.01%,|,$0.00,0,0.00%,|,"$7,057.00",9,1.01%
15,Skullgirls Encore,"$3,985.00",4,0.57%,|,$0.00,0,0.00%,|,"$3,985.00",4,0.57%
16,Soul Calibur VI,$325.00,2,0.05%,|,$0.00,0,0.00%,|,$325.00,2,0.05%
17,Street Fighter V,$500.00,1,0.07%,|,$0.00,0,0.00%,|,$500.00,1,0.07%
18,Tekken 7,$249.46,2,0.04%,|,$0.00,0,0.00%,|,$249.46,2,0.04%
19,Under Night In-Birth EXE: Late,$762.50,6,0.11%,|,$0.00,0,0.00%,|,$762.50,6,0.11%
20,Under Night In-Birth EXE: Late[st],$315.00,1,0.04%,|,$0.00,0,0.00%,|,$315.00,1,0.04%

In [13]:
sonic_fox_games.columns = sonic_fox_games.iloc[0]

In [14]:
sonic_fox_games = sonic_fox_games.drop([0])
sonic_fox_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dead or Alive 5 Ultimate,$0.00,4,0.00%,|,$0.00,0,0.00%,|,$0.00,4,0.00%
2,Dead or Alive 5: Last Round,$504.00,6,0.07%,|,$0.00,0,0.00%,|,$504.00,6,0.07%
3,Dragon Ball FighterZ,"$43,872.21",22,6.26%,|,$0.00,0,0.00%,|,"$43,872.21",22,6.26%
4,Guilty Gear -STRIVE-,"$2,647.10",4,0.38%,|,"$1,826.37",2,0.26%,|,$820.73,2,0.12%
5,Injustice 2,"$223,245.53",16,31.87%,|,$0.00,0,0.00%,|,"$223,245.53",16,31.87%
6,Injustice: Gods Among Us,"$3,414.20",11,0.49%,|,$0.00,0,0.00%,|,"$3,414.20",11,0.49%
7,Marvel vs. Capcom: Infinite,"$2,081.00",3,0.30%,|,$0.00,0,0.00%,|,"$2,081.00",3,0.30%
8,Melty Blood: Type Lumina,$400.92,1,0.06%,|,$0.00,0,0.00%,|,$400.92,1,0.06%
9,Mortal Kombat 11,"$106,479.30",11,15.20%,|,$200.00,1,0.03%,|,"$106,279.30",10,15.17%
10,Mortal Kombat 9,$785.00,4,0.11%,|,$0.00,0,0.00%,|,$785.00,4,0.11%
11,Mortal Kombat X,"$253,343.60",14,36.17%,|,$0.00,0,0.00%,|,"$253,343.60",14,36.17%
12,Mortal Kombat XL,"$50,511.90",6,7.21%,|,$0.00,0,0.00%,|,"$50,511.90",6,7.21%
13,Persona 4 Arena Ultimax,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
14,Skullgirls 2nd Encore,"$7,057.00",9,1.01%,|,$0.00,0,0.00%,|,"$7,057.00",9,1.01%
15,Skullgirls Encore,"$3,985.00",4,0.57%,|,$0.00,0,0.00%,|,"$3,985.00",4,0.57%
16,Soul Calibur VI,$325.00,2,0.05%,|,$0.00,0,0.00%,|,$325.00,2,0.05%
17,Street Fighter V,$500.00,1,0.07%,|,$0.00,0,0.00%,|,$500.00,1,0.07%
18,Tekken 7,$249.46,2,0.04%,|,$0.00,0,0.00%,|,$249.46,2,0.04%
19,Under Night In-Birth EXE: Late,$762.50,6,0.11%,|,$0.00,0,0.00%,|,$762.50,6,0.11%
20,Under Night In-Birth EXE: Late[st],$315.00,1,0.04%,|,$0.00,0,0.00%,|,$315.00,1,0.04%

In [15]:
sonic_fox_games['Player ID'] = 'SonicFox'
sonic_fox_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Dead or Alive 5 Ultimate,$0.00,4,0.00%,|,$0.00,0,0.00%,|,$0.00,4,0.00%,SonicFox
2,Dead or Alive 5: Last Round,$504.00,6,0.07%,|,$0.00,0,0.00%,|,$504.00,6,0.07%,SonicFox
3,Dragon Ball FighterZ,"$43,872.21",22,6.26%,|,$0.00,0,0.00%,|,"$43,872.21",22,6.26%,SonicFox
4,Guilty Gear -STRIVE-,"$2,647.10",4,0.38%,|,"$1,826.37",2,0.26%,|,$820.73,2,0.12%,SonicFox
5,Injustice 2,"$223,245.53",16,31.87%,|,$0.00,0,0.00%,|,"$223,245.53",16,31.87%,SonicFox

In [16]:
sonic_fox_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes',
'Online Placed', 'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
sonic_fox_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dead or Alive 5 Ultimate,$0.00,4,0.00%,|,$0.00,0,0.00%,|,$0.00,4,0.00%,SonicFox
2,Dead or Alive 5: Last Round,$504.00,6,0.07%,|,$0.00,0,0.00%,|,$504.00,6,0.07%,SonicFox
3,Dragon Ball FighterZ,"$43,872.21",22,6.26%,|,$0.00,0,0.00%,|,"$43,872.21",22,6.26%,SonicFox
4,Guilty Gear -STRIVE-,"$2,647.10",4,0.38%,|,"$1,826.37",2,0.26%,|,$820.73,2,0.12%,SonicFox
5,Injustice 2,"$223,245.53",16,31.87%,|,$0.00,0,0.00%,|,"$223,245.53",16,31.87%,SonicFox

In [17]:
sonic_fox_games = sonic_fox_games.drop(columns=['blank', 'blank1'])
sonic_fox_games.head

<bound method NDFrame.head of                                   Game Total Prizes Total Placed  \
1             Dead or Alive 5 Ultimate        $0.00            4
2          Dead or Alive 5: Last Round      $504.00            6
3                 Dragon Ball FighterZ   $43,872.21           22
4                 Guilty Gear -STRIVE-    $2,647.10            4
5                          Injustice 2  $223,245.53           16
6             Injustice: Gods Among Us    $3,414.20           11
7          Marvel vs. Capcom: Infinite    $2,081.00            3
8             Melty Blood: Type Lumina      $400.92            1
9                     Mortal Kombat 11  $106,479.30           11
10                     Mortal Kombat 9      $785.00            4
11                     Mortal Kombat X  $253,343.60           14
12                    Mortal Kombat XL   $50,511.90            6
13             Persona 4 Arena Ultimax        $0.00            1
14               Skullgirls 2nd Encore    $7,057.00            9
15                   Skullgirls Encore    $3,985.00            4
16                     Soul Calibur VI      $325.00            2
17                    Street Fighter V      $500.00            1
18                            Tekken 7      $249.46            2
19      Under Night In-Birth EXE: Late      $762.50            6
20  Under Night In-Birth EXE: Late[st]      $315.00            1

   Total Percent Online Prizes Online Placed Online Percent Offline Prizes  \
1          0.00%         $0.00             0          0.00%          $0.00
2          0.07%         $0.00             0          0.00%        $504.00
3          6.26%         $0.00             0          0.00%     $43,872.21
4          0.38%     $1,826.37             2          0.26%        $820.73
5         31.87%         $0.00             0          0.00%    $223,245.53
6          0.49%         $0.00             0          0.00%      $3,414.20
7          0.30%         $0.00             0          0.00%      $2,081.00
8          0.06%         $0.00             0          0.00%        $400.92
9         15.20%       $200.00             1          0.03%    $106,279.30
10         0.11%         $0.00             0          0.00%        $785.00
11        36.17%         $0.00             0          0.00%    $253,343.60
12         7.21%         $0.00             0          0.00%     $50,511.90
13         0.00%         $0.00             0          0.00%          $0.00
14         1.01%         $0.00             0          0.00%      $7,057.00
15         0.57%         $0.00             0          0.00%      $3,985.00
16         0.05%         $0.00             0          0.00%        $325.00
17         0.07%         $0.00             0          0.00%        $500.00
18         0.04%         $0.00             0          0.00%        $249.46
19         0.11%         $0.00             0          0.00%        $762.50
20         0.04%         $0.00             0          0.00%        $315.00

   Offline Placed Offline Percent Player ID
1               4           0.00%  SonicFox
2               6           0.07%  SonicFox
3              22           6.26%  SonicFox
4               2           0.12%  SonicFox
5              16          31.87%  SonicFox
6              11           0.49%  SonicFox
7               3           0.30%  SonicFox
8               1           0.06%  SonicFox
9              10          15.17%  SonicFox
10              4           0.11%  SonicFox
11             14          36.17%  SonicFox
12              6           7.21%  SonicFox
13              1           0.00%  SonicFox
14              9           1.01%  SonicFox
15              4           0.57%  SonicFox
16              2           0.05%  SonicFox
17              1           0.07%  SonicFox
18              2           0.04%  SonicFox
19              6           0.11%  SonicFox
20              1           0.04%  SonicFox  >

## Punk

In [18]:
punk_url = 'https://www.esportsearnings.com/players/33471-punk-victor-woodley'
response = requests.get(punk_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [19]:
punk = pd.read_html(str(tables), skiprows=1)
len(punk)

5

In [20]:
punk = punk[0]
punk

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$19,042.98",33,5.39%,|,"$13,577.67",27,3.84%,|,"$5,465.31",6,1.55%
2,2020.0,$760.58,2,0.22%,|,$760.58,2,0.22%,|,$0.00,0,0.00%
3,2019.0,"$103,193.88",17,29.19%,|,$0.00,0,0.00%,|,"$103,193.88",17,29.19%
4,2018.0,"$23,561.80",12,6.67%,|,$0.00,0,0.00%,|,"$23,561.80",12,6.67%
5,2017.0,"$205,451.00",25,58.12%,|,$0.00,0,0.00%,|,"$205,451.00",25,58.12%
6,2016.0,"$1,500.00",1,0.42%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.42%

In [21]:
punk.columns = punk.iloc[0]

In [22]:
punk = punk.drop([0])

In [23]:
punk

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$19,042.98",33,5.39%,|,"$13,577.67",27,3.84%,|,"$5,465.31",6,1.55%
2,2020.0,$760.58,2,0.22%,|,$760.58,2,0.22%,|,$0.00,0,0.00%
3,2019.0,"$103,193.88",17,29.19%,|,$0.00,0,0.00%,|,"$103,193.88",17,29.19%
4,2018.0,"$23,561.80",12,6.67%,|,$0.00,0,0.00%,|,"$23,561.80",12,6.67%
5,2017.0,"$205,451.00",25,58.12%,|,$0.00,0,0.00%,|,"$205,451.00",25,58.12%
6,2016.0,"$1,500.00",1,0.42%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.42%

In [24]:
punk['Player ID'] = 'Punk'

In [25]:
punk

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$19,042.98",33,5.39%,|,"$13,577.67",27,3.84%,|,"$5,465.31",6,1.55%,Punk
2,2020.0,$760.58,2,0.22%,|,$760.58,2,0.22%,|,$0.00,0,0.00%,Punk
3,2019.0,"$103,193.88",17,29.19%,|,$0.00,0,0.00%,|,"$103,193.88",17,29.19%,Punk
4,2018.0,"$23,561.80",12,6.67%,|,$0.00,0,0.00%,|,"$23,561.80",12,6.67%,Punk
5,2017.0,"$205,451.00",25,58.12%,|,$0.00,0,0.00%,|,"$205,451.00",25,58.12%,Punk
6,2016.0,"$1,500.00",1,0.42%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.42%,Punk

In [26]:
punk.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
punk

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$19,042.98",33,5.39%,|,"$13,577.67",27,3.84%,|,"$5,465.31",6,1.55%,Punk
2,2020.0,$760.58,2,0.22%,|,$760.58,2,0.22%,|,$0.00,0,0.00%,Punk
3,2019.0,"$103,193.88",17,29.19%,|,$0.00,0,0.00%,|,"$103,193.88",17,29.19%,Punk
4,2018.0,"$23,561.80",12,6.67%,|,$0.00,0,0.00%,|,"$23,561.80",12,6.67%,Punk
5,2017.0,"$205,451.00",25,58.12%,|,$0.00,0,0.00%,|,"$205,451.00",25,58.12%,Punk
6,2016.0,"$1,500.00",1,0.42%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.42%,Punk

In [27]:
punk = punk.drop(columns=['blank1', 'blank'])
punk

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$19,042.98",33,5.39%,"$13,577.67",27,3.84%,"$5,465.31",6,1.55%,Punk
2,2020.0,$760.58,2,0.22%,$760.58,2,0.22%,$0.00,0,0.00%,Punk
3,2019.0,"$103,193.88",17,29.19%,$0.00,0,0.00%,"$103,193.88",17,29.19%,Punk
4,2018.0,"$23,561.80",12,6.67%,$0.00,0,0.00%,"$23,561.80",12,6.67%,Punk
5,2017.0,"$205,451.00",25,58.12%,$0.00,0,0.00%,"$205,451.00",25,58.12%,Punk
6,2016.0,"$1,500.00",1,0.42%,$0.00,0,0.00%,"$1,500.00",1,0.42%,Punk

In [28]:
punk['Year'] = punk['Year'].round().astype(int)

In [29]:
punk

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$19,042.98",33,5.39%,"$13,577.67",27,3.84%,"$5,465.31",6,1.55%,Punk
2,2020,$760.58,2,0.22%,$760.58,2,0.22%,$0.00,0,0.00%,Punk
3,2019,"$103,193.88",17,29.19%,$0.00,0,0.00%,"$103,193.88",17,29.19%,Punk
4,2018,"$23,561.80",12,6.67%,$0.00,0,0.00%,"$23,561.80",12,6.67%,Punk
5,2017,"$205,451.00",25,58.12%,$0.00,0,0.00%,"$205,451.00",25,58.12%,Punk
6,2016,"$1,500.00",1,0.42%,$0.00,0,0.00%,"$1,500.00",1,0.42%,Punk

In [30]:
punk_games = pd.read_html(str(tables), skiprows=1)

In [31]:
punk_games = punk_games[1]
punk_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Cross Tag Battle,$56.00,1,0.02%,|,$0.00,0,0.00%,|,$56.00,1,0.02%
2,Guilty Gear -STRIVE-,"$2,966.54",9,0.84%,|,"$2,448.54",8,0.69%,|,$518.00,1,0.15%
3,Injustice 2,$533.00,6,0.15%,|,$0.00,0,0.00%,|,$533.00,6,0.15%
4,Marvel vs. Capcom: Infinite,$178.00,2,0.05%,|,$0.00,0,0.00%,|,$178.00,2,0.05%
5,Street Fighter V,"$206,310.00",19,58.36%,|,$0.00,0,0.00%,|,"$206,310.00",19,58.36%
6,Street Fighter V: Arcade Edition,"$126,497.68",25,35.78%,|,$0.00,0,0.00%,|,"$126,497.68",25,35.78%
7,Street Fighter V: Champion Edition,"$16,756.84",25,4.74%,|,"$11,889.71",21,3.36%,|,"$4,867.13",4,1.38%
8,Ultimate Marvel vs. Capcom 3,$86.18,2,0.02%,|,$0.00,0,0.00%,|,$86.18,2,0.02%
9,Under Night In-Birth EXE: Late[st],$126.00,1,0.04%,|,$0.00,0,0.00%,|,$126.00,1,0.04%

In [32]:
punk_games.columns = punk_games.iloc[0]

In [33]:
punk_games = punk_games.drop([0])
punk_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Cross Tag Battle,$56.00,1,0.02%,|,$0.00,0,0.00%,|,$56.00,1,0.02%
2,Guilty Gear -STRIVE-,"$2,966.54",9,0.84%,|,"$2,448.54",8,0.69%,|,$518.00,1,0.15%
3,Injustice 2,$533.00,6,0.15%,|,$0.00,0,0.00%,|,$533.00,6,0.15%
4,Marvel vs. Capcom: Infinite,$178.00,2,0.05%,|,$0.00,0,0.00%,|,$178.00,2,0.05%
5,Street Fighter V,"$206,310.00",19,58.36%,|,$0.00,0,0.00%,|,"$206,310.00",19,58.36%
6,Street Fighter V: Arcade Edition,"$126,497.68",25,35.78%,|,$0.00,0,0.00%,|,"$126,497.68",25,35.78%
7,Street Fighter V: Champion Edition,"$16,756.84",25,4.74%,|,"$11,889.71",21,3.36%,|,"$4,867.13",4,1.38%
8,Ultimate Marvel vs. Capcom 3,$86.18,2,0.02%,|,$0.00,0,0.00%,|,$86.18,2,0.02%
9,Under Night In-Birth EXE: Late[st],$126.00,1,0.04%,|,$0.00,0,0.00%,|,$126.00,1,0.04%

In [34]:
punk_games['Player ID'] = 'Punk'
punk_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,BlazBlue: Cross Tag Battle,$56.00,1,0.02%,|,$0.00,0,0.00%,|,$56.00,1,0.02%,Punk
2,Guilty Gear -STRIVE-,"$2,966.54",9,0.84%,|,"$2,448.54",8,0.69%,|,$518.00,1,0.15%,Punk
3,Injustice 2,$533.00,6,0.15%,|,$0.00,0,0.00%,|,$533.00,6,0.15%,Punk
4,Marvel vs. Capcom: Infinite,$178.00,2,0.05%,|,$0.00,0,0.00%,|,$178.00,2,0.05%,Punk
5,Street Fighter V,"$206,310.00",19,58.36%,|,$0.00,0,0.00%,|,"$206,310.00",19,58.36%,Punk

In [35]:
punk_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
punk_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Cross Tag Battle,$56.00,1,0.02%,|,$0.00,0,0.00%,|,$56.00,1,0.02%,Punk
2,Guilty Gear -STRIVE-,"$2,966.54",9,0.84%,|,"$2,448.54",8,0.69%,|,$518.00,1,0.15%,Punk
3,Injustice 2,$533.00,6,0.15%,|,$0.00,0,0.00%,|,$533.00,6,0.15%,Punk
4,Marvel vs. Capcom: Infinite,$178.00,2,0.05%,|,$0.00,0,0.00%,|,$178.00,2,0.05%,Punk
5,Street Fighter V,"$206,310.00",19,58.36%,|,$0.00,0,0.00%,|,"$206,310.00",19,58.36%,Punk

In [36]:
punk_games = punk_games.drop(columns=['blank', 'blank1'])
punk_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Cross Tag Battle,$56.00,1,0.02%,$0.00,0,0.00%,$56.00,1,0.02%,Punk
2,Guilty Gear -STRIVE-,"$2,966.54",9,0.84%,"$2,448.54",8,0.69%,$518.00,1,0.15%,Punk
3,Injustice 2,$533.00,6,0.15%,$0.00,0,0.00%,$533.00,6,0.15%,Punk
4,Marvel vs. Capcom: Infinite,$178.00,2,0.05%,$0.00,0,0.00%,$178.00,2,0.05%,Punk
5,Street Fighter V,"$206,310.00",19,58.36%,$0.00,0,0.00%,"$206,310.00",19,58.36%,Punk
6,Street Fighter V: Arcade Edition,"$126,497.68",25,35.78%,$0.00,0,0.00%,"$126,497.68",25,35.78%,Punk
7,Street Fighter V: Champion Edition,"$16,756.84",25,4.74%,"$11,889.71",21,3.36%,"$4,867.13",4,1.38%,Punk
8,Ultimate Marvel vs. Capcom 3,$86.18,2,0.02%,$0.00,0,0.00%,$86.18,2,0.02%,Punk
9,Under Night In-Birth EXE: Late[st],$126.00,1,0.04%,$0.00,0,0.00%,$126.00,1,0.04%,Punk

In [37]:
#pd.concat([sonic_fox, punk])

## Tokido

In [38]:
tokido_url = 'https://www.esportsearnings.com/players/1705-tokido-hajime-taniguchi'
response = requests.get(tokido_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [39]:
tokido = pd.read_html(str(tables), skiprows=1)
len(tokido)

6

In [40]:
tokido = tokido[0]
tokido

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$23,708.95",4,4.44%,|,"$14,000.00",2,2.62%,|,"$9,708.95",2,1.82%
2,2020.0,"$23,394.95",2,4.39%,|,$0.00,0,0.00%,|,"$23,394.95",2,4.39%
3,2019.0,"$28,184.95",7,5.28%,|,$0.00,0,0.00%,|,"$28,184.95",7,5.28%
4,2018.0,"$225,598.00",14,42.29%,|,$0.00,0,0.00%,|,"$225,598.00",14,42.29%
5,2017.0,"$122,000.00",9,22.87%,|,$0.00,0,0.00%,|,"$122,000.00",9,22.87%
6,2016.0,"$44,274.50",9,8.30%,|,$0.00,0,0.00%,|,"$44,274.50",9,8.30%
7,2015.0,"$18,080.22",6,3.39%,|,$0.00,0,0.00%,|,"$18,080.22",6,3.39%
8,2014.0,"$12,735.00",7,2.39%,|,$0.00,0,0.00%,|,"$12,735.00",7,2.39%
9,2013.0,"$5,883.52",7,1.10%,|,$0.00,0,0.00%,|,"$5,883.52",7,1.10%
10,2012.0,"$15,200.00",11,2.85%,|,$0.00,0,0.00%,|,"$15,200.00",11,2.85%
11,2011.0,"$3,508.00",4,0.66%,|,$0.00,0,0.00%,|,"$3,508.00",4,0.66%
12,2010.0,"$1,106.88",1,0.21%,|,$0.00,0,0.00%,|,"$1,106.88",1,0.21%
13,2007.0,"$8,333.33",5,1.56%,|,$0.00,0,0.00%,|,"$8,333.33",5,1.56%
14,2006.0,"$1,500.00",2,0.28%,|,$0.00,0,0.00%,|,"$1,500.00",2,0.28%
15,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
16,2002.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [41]:
tokido.columns = tokido.iloc[0]

In [42]:
tokido = tokido.drop([0])

In [43]:
tokido

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$23,708.95",4,4.44%,|,"$14,000.00",2,2.62%,|,"$9,708.95",2,1.82%
2,2020.0,"$23,394.95",2,4.39%,|,$0.00,0,0.00%,|,"$23,394.95",2,4.39%
3,2019.0,"$28,184.95",7,5.28%,|,$0.00,0,0.00%,|,"$28,184.95",7,5.28%
4,2018.0,"$225,598.00",14,42.29%,|,$0.00,0,0.00%,|,"$225,598.00",14,42.29%
5,2017.0,"$122,000.00",9,22.87%,|,$0.00,0,0.00%,|,"$122,000.00",9,22.87%
6,2016.0,"$44,274.50",9,8.30%,|,$0.00,0,0.00%,|,"$44,274.50",9,8.30%
7,2015.0,"$18,080.22",6,3.39%,|,$0.00,0,0.00%,|,"$18,080.22",6,3.39%
8,2014.0,"$12,735.00",7,2.39%,|,$0.00,0,0.00%,|,"$12,735.00",7,2.39%
9,2013.0,"$5,883.52",7,1.10%,|,$0.00,0,0.00%,|,"$5,883.52",7,1.10%
10,2012.0,"$15,200.00",11,2.85%,|,$0.00,0,0.00%,|,"$15,200.00",11,2.85%
11,2011.0,"$3,508.00",4,0.66%,|,$0.00,0,0.00%,|,"$3,508.00",4,0.66%
12,2010.0,"$1,106.88",1,0.21%,|,$0.00,0,0.00%,|,"$1,106.88",1,0.21%
13,2007.0,"$8,333.33",5,1.56%,|,$0.00,0,0.00%,|,"$8,333.33",5,1.56%
14,2006.0,"$1,500.00",2,0.28%,|,$0.00,0,0.00%,|,"$1,500.00",2,0.28%
15,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
16,2002.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [44]:
tokido['Player ID'] = 'Tokido'

In [45]:
tokido

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$23,708.95",4,4.44%,|,"$14,000.00",2,2.62%,|,"$9,708.95",2,1.82%,Tokido
2,2020.0,"$23,394.95",2,4.39%,|,$0.00,0,0.00%,|,"$23,394.95",2,4.39%,Tokido
3,2019.0,"$28,184.95",7,5.28%,|,$0.00,0,0.00%,|,"$28,184.95",7,5.28%,Tokido
4,2018.0,"$225,598.00",14,42.29%,|,$0.00,0,0.00%,|,"$225,598.00",14,42.29%,Tokido
5,2017.0,"$122,000.00",9,22.87%,|,$0.00,0,0.00%,|,"$122,000.00",9,22.87%,Tokido
6,2016.0,"$44,274.50",9,8.30%,|,$0.00,0,0.00%,|,"$44,274.50",9,8.30%,Tokido
7,2015.0,"$18,080.22",6,3.39%,|,$0.00,0,0.00%,|,"$18,080.22",6,3.39%,Tokido
8,2014.0,"$12,735.00",7,2.39%,|,$0.00,0,0.00%,|,"$12,735.00",7,2.39%,Tokido
9,2013.0,"$5,883.52",7,1.10%,|,$0.00,0,0.00%,|,"$5,883.52",7,1.10%,Tokido
10,2012.0,"$15,200.00",11,2.85%,|,$0.00,0,0.00%,|,"$15,200.00",11,2.85%,Tokido
11,2011.0,"$3,508.00",4,0.66%,|,$0.00,0,0.00%,|,"$3,508.00",4,0.66%,Tokido
12,2010.0,"$1,106.88",1,0.21%,|,$0.00,0,0.00%,|,"$1,106.88",1,0.21%,Tokido
13,2007.0,"$8,333.33",5,1.56%,|,$0.00,0,0.00%,|,"$8,333.33",5,1.56%,Tokido
14,2006.0,"$1,500.00",2,0.28%,|,$0.00,0,0.00%,|,"$1,500.00",2,0.28%,Tokido
15,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido
16,2002.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido

In [46]:
tokido.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
tokido

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$23,708.95",4,4.44%,|,"$14,000.00",2,2.62%,|,"$9,708.95",2,1.82%,Tokido
2,2020.0,"$23,394.95",2,4.39%,|,$0.00,0,0.00%,|,"$23,394.95",2,4.39%,Tokido
3,2019.0,"$28,184.95",7,5.28%,|,$0.00,0,0.00%,|,"$28,184.95",7,5.28%,Tokido
4,2018.0,"$225,598.00",14,42.29%,|,$0.00,0,0.00%,|,"$225,598.00",14,42.29%,Tokido
5,2017.0,"$122,000.00",9,22.87%,|,$0.00,0,0.00%,|,"$122,000.00",9,22.87%,Tokido
6,2016.0,"$44,274.50",9,8.30%,|,$0.00,0,0.00%,|,"$44,274.50",9,8.30%,Tokido
7,2015.0,"$18,080.22",6,3.39%,|,$0.00,0,0.00%,|,"$18,080.22",6,3.39%,Tokido
8,2014.0,"$12,735.00",7,2.39%,|,$0.00,0,0.00%,|,"$12,735.00",7,2.39%,Tokido
9,2013.0,"$5,883.52",7,1.10%,|,$0.00,0,0.00%,|,"$5,883.52",7,1.10%,Tokido
10,2012.0,"$15,200.00",11,2.85%,|,$0.00,0,0.00%,|,"$15,200.00",11,2.85%,Tokido
11,2011.0,"$3,508.00",4,0.66%,|,$0.00,0,0.00%,|,"$3,508.00",4,0.66%,Tokido
12,2010.0,"$1,106.88",1,0.21%,|,$0.00,0,0.00%,|,"$1,106.88",1,0.21%,Tokido
13,2007.0,"$8,333.33",5,1.56%,|,$0.00,0,0.00%,|,"$8,333.33",5,1.56%,Tokido
14,2006.0,"$1,500.00",2,0.28%,|,$0.00,0,0.00%,|,"$1,500.00",2,0.28%,Tokido
15,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido
16,2002.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido

In [47]:
tokido = tokido.drop(columns=['blank1', 'blank'])
tokido

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$23,708.95",4,4.44%,"$14,000.00",2,2.62%,"$9,708.95",2,1.82%,Tokido
2,2020.0,"$23,394.95",2,4.39%,$0.00,0,0.00%,"$23,394.95",2,4.39%,Tokido
3,2019.0,"$28,184.95",7,5.28%,$0.00,0,0.00%,"$28,184.95",7,5.28%,Tokido
4,2018.0,"$225,598.00",14,42.29%,$0.00,0,0.00%,"$225,598.00",14,42.29%,Tokido
5,2017.0,"$122,000.00",9,22.87%,$0.00,0,0.00%,"$122,000.00",9,22.87%,Tokido
6,2016.0,"$44,274.50",9,8.30%,$0.00,0,0.00%,"$44,274.50",9,8.30%,Tokido
7,2015.0,"$18,080.22",6,3.39%,$0.00,0,0.00%,"$18,080.22",6,3.39%,Tokido
8,2014.0,"$12,735.00",7,2.39%,$0.00,0,0.00%,"$12,735.00",7,2.39%,Tokido
9,2013.0,"$5,883.52",7,1.10%,$0.00,0,0.00%,"$5,883.52",7,1.10%,Tokido
10,2012.0,"$15,200.00",11,2.85%,$0.00,0,0.00%,"$15,200.00",11,2.85%,Tokido
11,2011.0,"$3,508.00",4,0.66%,$0.00,0,0.00%,"$3,508.00",4,0.66%,Tokido
12,2010.0,"$1,106.88",1,0.21%,$0.00,0,0.00%,"$1,106.88",1,0.21%,Tokido
13,2007.0,"$8,333.33",5,1.56%,$0.00,0,0.00%,"$8,333.33",5,1.56%,Tokido
14,2006.0,"$1,500.00",2,0.28%,$0.00,0,0.00%,"$1,500.00",2,0.28%,Tokido
15,2005.0,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido
16,2002.0,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido

In [48]:
tokido['Year'] = tokido['Year'].round().astype(int)

In [49]:
tokido

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$23,708.95",4,4.44%,"$14,000.00",2,2.62%,"$9,708.95",2,1.82%,Tokido
2,2020,"$23,394.95",2,4.39%,$0.00,0,0.00%,"$23,394.95",2,4.39%,Tokido
3,2019,"$28,184.95",7,5.28%,$0.00,0,0.00%,"$28,184.95",7,5.28%,Tokido
4,2018,"$225,598.00",14,42.29%,$0.00,0,0.00%,"$225,598.00",14,42.29%,Tokido
5,2017,"$122,000.00",9,22.87%,$0.00,0,0.00%,"$122,000.00",9,22.87%,Tokido
6,2016,"$44,274.50",9,8.30%,$0.00,0,0.00%,"$44,274.50",9,8.30%,Tokido
7,2015,"$18,080.22",6,3.39%,$0.00,0,0.00%,"$18,080.22",6,3.39%,Tokido
8,2014,"$12,735.00",7,2.39%,$0.00,0,0.00%,"$12,735.00",7,2.39%,Tokido
9,2013,"$5,883.52",7,1.10%,$0.00,0,0.00%,"$5,883.52",7,1.10%,Tokido
10,2012,"$15,200.00",11,2.85%,$0.00,0,0.00%,"$15,200.00",11,2.85%,Tokido
11,2011,"$3,508.00",4,0.66%,$0.00,0,0.00%,"$3,508.00",4,0.66%,Tokido
12,2010,"$1,106.88",1,0.21%,$0.00,0,0.00%,"$1,106.88",1,0.21%,Tokido
13,2007,"$8,333.33",5,1.56%,$0.00,0,0.00%,"$8,333.33",5,1.56%,Tokido
14,2006,"$1,500.00",2,0.28%,$0.00,0,0.00%,"$1,500.00",2,0.28%,Tokido
15,2005,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido
16,2002,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido

In [50]:
tokido_games = pd.read_html(str(tables), skiprows=1)

In [51]:
tokido_games = tokido_games[2]
tokido_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,|,$0.00,0,0.00%,|,$208.00,1,0.04%
2,Capcom vs. SNK 2,$500.00,2,0.09%,|,$0.00,0,0.00%,|,$500.00,2,0.09%
3,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,|,$0.00,0,0.00%,|,$83.33,1,0.02%
5,Hyper Street Fighter II,"$1,000.00",1,0.19%,|,$0.00,0,0.00%,|,"$1,000.00",1,0.19%
6,King of Fighters XIII,"$11,780.60",7,2.21%,|,$0.00,0,0.00%,|,"$11,780.60",7,2.21%
7,Marvel vs. Capcom 3,"$1,600.00",1,0.30%,|,$0.00,0,0.00%,|,"$1,600.00",1,0.30%
8,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
9,Street Fighter III: 3rd Strike,"$4,700.00",3,0.88%,|,$0.00,0,0.00%,|,"$4,700.00",3,0.88%
10,Street Fighter IV,"$1,106.88",1,0.21%,|,$0.00,0,0.00%,|,"$1,106.88",1,0.21%
11,Street Fighter V,"$166,774.50",19,31.26%,|,$0.00,0,0.00%,|,"$166,774.50",19,31.26%
12,Street Fighter V: Arcade Edition,"$253,282.95",20,47.47%,|,$0.00,0,0.00%,|,"$253,282.95",20,47.47%
13,Street Fighter V: Champion Edition,"$47,103.90",6,8.83%,|,"$14,000.00",2,2.62%,|,"$33,103.90",4,6.20%
14,Street Fighter X Tekken,"$10,000.00",3,1.87%,|,$0.00,0,0.00%,|,"$10,000.00",3,1.87%
15,Super Street Fighter II Turbo,"$5,000.00",2,0.94%,|,$0.00,0,0.00%,|,"$5,000.00",2,0.94%
16,Super Street Fighter II Turbo HD Remix,$500.00,1,0.09%,|,$0.00,0,0.00%,|,$500.00,1,0.09%
17,Super Street Fighter IV Arcade Edition,"$17,372.74",7,3.26%,|,$0.00,0,0.00%,|,"$17,372.74",7,3.26%
18,Tekken 6,$100.00,1,0.02%,|,$0.00,0,0.00%,|,$100.00,1,0.02%
19,Tekken Tag Tournament 2,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
20,Ultimate Marvel vs. Capcom 3,$0.00,3,0.00%,|,$0.00,0,0.00%,|,$0.00,3,0.00%
21,Ultra Street Fighter IV,"$11,645.40",6,2.18%,|,$0.00,0,0.00%,|,"$11,645.40",6,2.18%
22,Virtua Fighter 5,$750.00,1,0.14%,|,$0.00,0,0.00%,|,$750.00,1,0.14%

In [52]:
tokido_games.columns = tokido_games.iloc[0]
tokido_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,|,$0.00,0,0.00%,|,$208.00,1,0.04%
2,Capcom vs. SNK 2,$500.00,2,0.09%,|,$0.00,0,0.00%,|,$500.00,2,0.09%
3,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,|,$0.00,0,0.00%,|,$83.33,1,0.02%

In [53]:
tokido_games = tokido_games.drop([0])
tokido_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,|,$0.00,0,0.00%,|,$208.00,1,0.04%
2,Capcom vs. SNK 2,$500.00,2,0.09%,|,$0.00,0,0.00%,|,$500.00,2,0.09%
3,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,|,$0.00,0,0.00%,|,$83.33,1,0.02%
5,Hyper Street Fighter II,"$1,000.00",1,0.19%,|,$0.00,0,0.00%,|,"$1,000.00",1,0.19%

In [54]:
tokido_games['Player ID'] = 'Tokido'
tokido_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,|,$0.00,0,0.00%,|,$208.00,1,0.04%,Tokido
2,Capcom vs. SNK 2,$500.00,2,0.09%,|,$0.00,0,0.00%,|,$500.00,2,0.09%,Tokido
3,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,|,$0.00,0,0.00%,|,$83.33,1,0.02%,Tokido
5,Hyper Street Fighter II,"$1,000.00",1,0.19%,|,$0.00,0,0.00%,|,"$1,000.00",1,0.19%,Tokido

In [55]:
tokido_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
tokido_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,|,$0.00,0,0.00%,|,$208.00,1,0.04%,Tokido
2,Capcom vs. SNK 2,$500.00,2,0.09%,|,$0.00,0,0.00%,|,$500.00,2,0.09%,Tokido
3,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Tokido
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,|,$0.00,0,0.00%,|,$83.33,1,0.02%,Tokido
5,Hyper Street Fighter II,"$1,000.00",1,0.19%,|,$0.00,0,0.00%,|,"$1,000.00",1,0.19%,Tokido

In [56]:
tokido_games = tokido_games.drop(columns=['blank', 'blank1'])
tokido_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Continuum Shift II,$208.00,1,0.04%,$0.00,0,0.00%,$208.00,1,0.04%,Tokido
2,Capcom vs. SNK 2,$500.00,2,0.09%,$0.00,0,0.00%,$500.00,2,0.09%,Tokido
3,Dead or Alive 5,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido
4,Guilty Gear XX Accent Core,$83.33,1,0.02%,$0.00,0,0.00%,$83.33,1,0.02%,Tokido
5,Hyper Street Fighter II,"$1,000.00",1,0.19%,$0.00,0,0.00%,"$1,000.00",1,0.19%,Tokido
6,King of Fighters XIII,"$11,780.60",7,2.21%,$0.00,0,0.00%,"$11,780.60",7,2.21%,Tokido
7,Marvel vs. Capcom 3,"$1,600.00",1,0.30%,$0.00,0,0.00%,"$1,600.00",1,0.30%,Tokido
8,Persona 4 Arena,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Tokido
9,Street Fighter III: 3rd Strike,"$4,700.00",3,0.88%,$0.00,0,0.00%,"$4,700.00",3,0.88%,Tokido
10,Street Fighter IV,"$1,106.88",1,0.21%,$0.00,0,0.00%,"$1,106.88",1,0.21%,Tokido
11,Street Fighter V,"$166,774.50",19,31.26%,$0.00,0,0.00%,"$166,774.50",19,31.26%,Tokido
12,Street Fighter V: Arcade Edition,"$253,282.95",20,47.47%,$0.00,0,0.00%,"$253,282.95",20,47.47%,Tokido
13,Street Fighter V: Champion Edition,"$47,103.90",6,8.83%,"$14,000.00",2,2.62%,"$33,103.90",4,6.20%,Tokido
14,Street Fighter X Tekken,"$10,000.00",3,1.87%,$0.00,0,0.00%,"$10,000.00",3,1.87%,Tokido
15,Super Street Fighter II Turbo,"$5,000.00",2,0.94%,$0.00,0,0.00%,"$5,000.00",2,0.94%,Tokido
16,Super Street Fighter II Turbo HD Remix,$500.00,1,0.09%,$0.00,0,0.00%,$500.00,1,0.09%,Tokido
17,Super Street Fighter IV Arcade Edition,"$17,372.74",7,3.26%,$0.00,0,0.00%,"$17,372.74",7,3.26%,Tokido
18,Tekken 6,$100.00,1,0.02%,$0.00,0,0.00%,$100.00,1,0.02%,Tokido
19,Tekken Tag Tournament 2,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Tokido
20,Ultimate Marvel vs. Capcom 3,$0.00,3,0.00%,$0.00,0,0.00%,$0.00,3,0.00%,Tokido
21,Ultra Street Fighter IV,"$11,645.40",6,2.18%,$0.00,0,0.00%,"$11,645.40",6,2.18%,Tokido
22,Virtua Fighter 5,$750.00,1,0.14%,$0.00,0,0.00%,$750.00,1,0.14%,Tokido

In [57]:
#three_games = 
#pd.concat([punk_games, sonic_fox_games, tokido_games])

In [58]:
#three_games.to_csv('../data/three_games.csv')

## Hungrybox

In [59]:
hungrybox_url = 'https://www.esportsearnings.com/players/3918-hungrybox-juan-debiedma'
response = requests.get(hungrybox_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [60]:
hungrybox = pd.read_html(str(tables), skiprows=1)
len(hungrybox)

6

In [61]:
hungrybox = hungrybox[0]
hungrybox

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%
2,2020.0,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%
3,2019.0,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%
4,2018.0,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%
5,2017.0,"$99,194.41",47,25.41%,|,$0.00,0,0.00%,|,"$99,194.41",47,25.41%
6,2016.0,"$85,465.61",57,21.90%,|,$0.00,0,0.00%,|,"$85,465.61",57,21.90%
7,2015.0,"$41,507.22",42,10.63%,|,$0.00,0,0.00%,|,"$41,507.22",42,10.63%
8,2014.0,"$11,810.20",28,3.03%,|,$0.00,0,0.00%,|,"$11,810.20",28,3.03%
9,2013.0,"$4,300.75",16,1.10%,|,$0.00,0,0.00%,|,"$4,300.75",16,1.10%
10,2012.0,"$3,231.24",13,0.83%,|,$0.00,0,0.00%,|,"$3,231.24",13,0.83%
11,2011.0,"$2,859.30",12,0.73%,|,$0.00,0,0.00%,|,"$2,859.30",12,0.73%
12,2010.0,"$3,256.65",11,0.83%,|,$0.00,0,0.00%,|,"$3,256.65",11,0.83%
13,2009.0,"$3,306.50",10,0.85%,|,$0.00,0,0.00%,|,"$3,306.50",10,0.85%
14,2008.0,$83.53,2,0.02%,|,$0.00,0,0.00%,|,$83.53,2,0.02%

In [62]:
hungrybox.columns = hungrybox.iloc[0]
hungrybox.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%
2,2020.0,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%
3,2019.0,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%
4,2018.0,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%

In [63]:
hungrybox = hungrybox.drop([0])
hungrybox.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%
2,2020.0,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%
3,2019.0,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%
4,2018.0,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%
5,2017.0,"$99,194.41",47,25.41%,|,$0.00,0,0.00%,|,"$99,194.41",47,25.41%

In [64]:
hungrybox['Player ID'] = 'Hungrybox'
hungrybox.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%,Hungrybox
2,2020.0,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%,Hungrybox
3,2019.0,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%,Hungrybox
4,2018.0,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%,Hungrybox
5,2017.0,"$99,194.41",47,25.41%,|,$0.00,0,0.00%,|,"$99,194.41",47,25.41%,Hungrybox

In [65]:
hungrybox.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
hungrybox.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%,Hungrybox
2,2020.0,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%,Hungrybox
3,2019.0,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%,Hungrybox
4,2018.0,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%,Hungrybox
5,2017.0,"$99,194.41",47,25.41%,|,$0.00,0,0.00%,|,"$99,194.41",47,25.41%,Hungrybox

In [66]:
hungrybox['Year'] = hungrybox['Year'].round().astype(int)
hungrybox.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$19,420.28",5,4.98%,|,$740.00,4,0.19%,|,"$18,680.28",1,4.79%,Hungrybox
2,2020,"$23,697.99",10,6.07%,|,"$1,311.05",5,0.34%,|,"$22,386.94",5,5.74%,Hungrybox
3,2019,"$26,886.95",20,6.89%,|,$0.00,0,0.00%,|,"$26,886.95",20,6.89%,Hungrybox
4,2018,"$65,321.48",29,16.73%,|,$0.00,0,0.00%,|,"$65,321.48",29,16.73%,Hungrybox
5,2017,"$99,194.41",47,25.41%,|,$0.00,0,0.00%,|,"$99,194.41",47,25.41%,Hungrybox

In [67]:
hungrybox = hungrybox.drop(columns=['blank', 'blank1'])
hungrybox

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$19,420.28",5,4.98%,$740.00,4,0.19%,"$18,680.28",1,4.79%,Hungrybox
2,2020,"$23,697.99",10,6.07%,"$1,311.05",5,0.34%,"$22,386.94",5,5.74%,Hungrybox
3,2019,"$26,886.95",20,6.89%,$0.00,0,0.00%,"$26,886.95",20,6.89%,Hungrybox
4,2018,"$65,321.48",29,16.73%,$0.00,0,0.00%,"$65,321.48",29,16.73%,Hungrybox
5,2017,"$99,194.41",47,25.41%,$0.00,0,0.00%,"$99,194.41",47,25.41%,Hungrybox
6,2016,"$85,465.61",57,21.90%,$0.00,0,0.00%,"$85,465.61",57,21.90%,Hungrybox
7,2015,"$41,507.22",42,10.63%,$0.00,0,0.00%,"$41,507.22",42,10.63%,Hungrybox
8,2014,"$11,810.20",28,3.03%,$0.00,0,0.00%,"$11,810.20",28,3.03%,Hungrybox
9,2013,"$4,300.75",16,1.10%,$0.00,0,0.00%,"$4,300.75",16,1.10%,Hungrybox
10,2012,"$3,231.24",13,0.83%,$0.00,0,0.00%,"$3,231.24",13,0.83%,Hungrybox
11,2011,"$2,859.30",12,0.73%,$0.00,0,0.00%,"$2,859.30",12,0.73%,Hungrybox
12,2010,"$3,256.65",11,0.83%,$0.00,0,0.00%,"$3,256.65",11,0.83%,Hungrybox
13,2009,"$3,306.50",10,0.85%,$0.00,0,0.00%,"$3,306.50",10,0.85%,Hungrybox
14,2008,$83.53,2,0.02%,$0.00,0,0.00%,$83.53,2,0.02%,Hungrybox

In [68]:
hungrybox_games = pd.read_html(str(tables), skiprows=1)

In [69]:
hungrybox_games = hungrybox_games[2]
hungrybox_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$3,757.20",21,0.96%,|,$0.00,0,0.00%,|,"$3,757.20",21,0.96%
2,Super Smash Bros. Melee,"$385,802.48",274,98.84%,|,"$1,476.05",4,0.38%,|,"$384,326.43",270,98.46%
3,Super Smash Bros. Ultimate,$716.43,6,0.18%,|,$575.00,5,0.15%,|,$141.43,1,0.04%
4,Super Smash Bros. for Wii U,$66.00,1,0.02%,|,$0.00,0,0.00%,|,$66.00,1,0.02%

In [70]:
hungrybox_games.columns = hungrybox_games.iloc[0]

In [71]:
hungrybox_games = hungrybox_games.drop([0])
hungrybox_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$3,757.20",21,0.96%,|,$0.00,0,0.00%,|,"$3,757.20",21,0.96%
2,Super Smash Bros. Melee,"$385,802.48",274,98.84%,|,"$1,476.05",4,0.38%,|,"$384,326.43",270,98.46%
3,Super Smash Bros. Ultimate,$716.43,6,0.18%,|,$575.00,5,0.15%,|,$141.43,1,0.04%
4,Super Smash Bros. for Wii U,$66.00,1,0.02%,|,$0.00,0,0.00%,|,$66.00,1,0.02%

In [72]:
hungrybox_games['Player ID'] = 'Hungrybox'
hungrybox_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$3,757.20",21,0.96%,|,$0.00,0,0.00%,|,"$3,757.20",21,0.96%,Hungrybox
2,Super Smash Bros. Melee,"$385,802.48",274,98.84%,|,"$1,476.05",4,0.38%,|,"$384,326.43",270,98.46%,Hungrybox
3,Super Smash Bros. Ultimate,$716.43,6,0.18%,|,$575.00,5,0.15%,|,$141.43,1,0.04%,Hungrybox
4,Super Smash Bros. for Wii U,$66.00,1,0.02%,|,$0.00,0,0.00%,|,$66.00,1,0.02%,Hungrybox

In [73]:
hungrybox_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed'
, 'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
hungrybox_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$3,757.20",21,0.96%,|,$0.00,0,0.00%,|,"$3,757.20",21,0.96%,Hungrybox
2,Super Smash Bros. Melee,"$385,802.48",274,98.84%,|,"$1,476.05",4,0.38%,|,"$384,326.43",270,98.46%,Hungrybox
3,Super Smash Bros. Ultimate,$716.43,6,0.18%,|,$575.00,5,0.15%,|,$141.43,1,0.04%,Hungrybox
4,Super Smash Bros. for Wii U,$66.00,1,0.02%,|,$0.00,0,0.00%,|,$66.00,1,0.02%,Hungrybox

In [74]:
hungrybox_games = hungrybox_games.drop(columns=['blank', 'blank1'])
hungrybox_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$3,757.20",21,0.96%,$0.00,0,0.00%,"$3,757.20",21,0.96%,Hungrybox
2,Super Smash Bros. Melee,"$385,802.48",274,98.84%,"$1,476.05",4,0.38%,"$384,326.43",270,98.46%,Hungrybox
3,Super Smash Bros. Ultimate,$716.43,6,0.18%,$575.00,5,0.15%,$141.43,1,0.04%,Hungrybox
4,Super Smash Bros. for Wii U,$66.00,1,0.02%,$0.00,0,0.00%,$66.00,1,0.02%,Hungrybox

## NuckleDu

In [75]:
nuckledu_url = 'https://www.esportsearnings.com/players/3605-nuckledu-du-cong-dang'
response = requests.get(nuckledu_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [76]:
nuckledu = pd.read_html(str(tables), skiprows=1)
len(nuckledu)

6

In [77]:
nuckledu = nuckledu[0]
nuckledu

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,"$3,100.70",8,0.93%,|,"$2,005.29",7,0.60%,|,"$1,095.41",1,0.33%
2,2019.0,"$6,662.33",8,1.99%,|,$0.00,0,0.00%,|,"$6,662.33",8,1.99%
3,2018.0,"$13,010.03",14,3.89%,|,$0.00,0,0.00%,|,"$13,010.03",14,3.89%
4,2017.0,"$44,924.86",16,13.44%,|,$0.00,0,0.00%,|,"$44,924.86",16,13.44%
5,2016.0,"$254,711.15",16,76.18%,|,$0.00,0,0.00%,|,"$254,711.15",16,76.18%
6,2015.0,"$11,194.20",8,3.35%,|,$0.00,0,0.00%,|,"$11,194.20",8,3.35%
7,2014.0,$374.70,9,0.11%,|,$0.00,0,0.00%,|,$374.70,9,0.11%
8,2013.0,$63.00,3,0.02%,|,$0.00,0,0.00%,|,$63.00,3,0.02%
9,2012.0,$300.00,1,0.09%,|,$0.00,0,0.00%,|,$300.00,1,0.09%

In [78]:
nuckledu.columns = nuckledu.iloc[0]

In [79]:
nuckledu = nuckledu.drop([0])

In [80]:
nuckledu

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,"$3,100.70",8,0.93%,|,"$2,005.29",7,0.60%,|,"$1,095.41",1,0.33%
2,2019.0,"$6,662.33",8,1.99%,|,$0.00,0,0.00%,|,"$6,662.33",8,1.99%
3,2018.0,"$13,010.03",14,3.89%,|,$0.00,0,0.00%,|,"$13,010.03",14,3.89%
4,2017.0,"$44,924.86",16,13.44%,|,$0.00,0,0.00%,|,"$44,924.86",16,13.44%
5,2016.0,"$254,711.15",16,76.18%,|,$0.00,0,0.00%,|,"$254,711.15",16,76.18%
6,2015.0,"$11,194.20",8,3.35%,|,$0.00,0,0.00%,|,"$11,194.20",8,3.35%
7,2014.0,$374.70,9,0.11%,|,$0.00,0,0.00%,|,$374.70,9,0.11%
8,2013.0,$63.00,3,0.02%,|,$0.00,0,0.00%,|,$63.00,3,0.02%
9,2012.0,$300.00,1,0.09%,|,$0.00,0,0.00%,|,$300.00,1,0.09%

In [81]:
nuckledu['Player ID'] = 'NuckleDu'
nuckledu

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2020.0,"$3,100.70",8,0.93%,|,"$2,005.29",7,0.60%,|,"$1,095.41",1,0.33%,NuckleDu
2,2019.0,"$6,662.33",8,1.99%,|,$0.00,0,0.00%,|,"$6,662.33",8,1.99%,NuckleDu
3,2018.0,"$13,010.03",14,3.89%,|,$0.00,0,0.00%,|,"$13,010.03",14,3.89%,NuckleDu
4,2017.0,"$44,924.86",16,13.44%,|,$0.00,0,0.00%,|,"$44,924.86",16,13.44%,NuckleDu
5,2016.0,"$254,711.15",16,76.18%,|,$0.00,0,0.00%,|,"$254,711.15",16,76.18%,NuckleDu
6,2015.0,"$11,194.20",8,3.35%,|,$0.00,0,0.00%,|,"$11,194.20",8,3.35%,NuckleDu
7,2014.0,$374.70,9,0.11%,|,$0.00,0,0.00%,|,$374.70,9,0.11%,NuckleDu
8,2013.0,$63.00,3,0.02%,|,$0.00,0,0.00%,|,$63.00,3,0.02%,NuckleDu
9,2012.0,$300.00,1,0.09%,|,$0.00,0,0.00%,|,$300.00,1,0.09%,NuckleDu

In [82]:
nuckledu.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nuckledu

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,"$3,100.70",8,0.93%,|,"$2,005.29",7,0.60%,|,"$1,095.41",1,0.33%,NuckleDu
2,2019.0,"$6,662.33",8,1.99%,|,$0.00,0,0.00%,|,"$6,662.33",8,1.99%,NuckleDu
3,2018.0,"$13,010.03",14,3.89%,|,$0.00,0,0.00%,|,"$13,010.03",14,3.89%,NuckleDu
4,2017.0,"$44,924.86",16,13.44%,|,$0.00,0,0.00%,|,"$44,924.86",16,13.44%,NuckleDu
5,2016.0,"$254,711.15",16,76.18%,|,$0.00,0,0.00%,|,"$254,711.15",16,76.18%,NuckleDu
6,2015.0,"$11,194.20",8,3.35%,|,$0.00,0,0.00%,|,"$11,194.20",8,3.35%,NuckleDu
7,2014.0,$374.70,9,0.11%,|,$0.00,0,0.00%,|,$374.70,9,0.11%,NuckleDu
8,2013.0,$63.00,3,0.02%,|,$0.00,0,0.00%,|,$63.00,3,0.02%,NuckleDu
9,2012.0,$300.00,1,0.09%,|,$0.00,0,0.00%,|,$300.00,1,0.09%,NuckleDu

In [83]:
nuckledu = nuckledu.drop(columns=['blank', 'blank1'])

In [84]:
nuckledu['Year'] = nuckledu['Year'].round().astype(int)
nuckledu

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020,"$3,100.70",8,0.93%,"$2,005.29",7,0.60%,"$1,095.41",1,0.33%,NuckleDu
2,2019,"$6,662.33",8,1.99%,$0.00,0,0.00%,"$6,662.33",8,1.99%,NuckleDu
3,2018,"$13,010.03",14,3.89%,$0.00,0,0.00%,"$13,010.03",14,3.89%,NuckleDu
4,2017,"$44,924.86",16,13.44%,$0.00,0,0.00%,"$44,924.86",16,13.44%,NuckleDu
5,2016,"$254,711.15",16,76.18%,$0.00,0,0.00%,"$254,711.15",16,76.18%,NuckleDu
6,2015,"$11,194.20",8,3.35%,$0.00,0,0.00%,"$11,194.20",8,3.35%,NuckleDu
7,2014,$374.70,9,0.11%,$0.00,0,0.00%,$374.70,9,0.11%,NuckleDu
8,2013,$63.00,3,0.02%,$0.00,0,0.00%,$63.00,3,0.02%,NuckleDu
9,2012,$300.00,1,0.09%,$0.00,0,0.00%,$300.00,1,0.09%,NuckleDu

In [85]:
nuckledu_games = pd.read_html(str(tables), skiprows=1)

In [86]:
nuckledu_games = nuckledu_games[2]
nuckledu_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$297,423.71",26,88.96%,|,$0.00,0,0.00%,|,"$297,423.71",26,88.96%
2,Street Fighter V: Arcade Edition,"$20,752.42",22,6.21%,|,$0.00,0,0.00%,|,"$20,752.42",22,6.21%
3,Street Fighter V: Champion Edition,"$2,005.29",7,0.60%,|,"$2,005.29",7,0.60%,|,$0.00,0,0.00%
4,Street Fighter X Tekken,$363.00,7,0.11%,|,$0.00,0,0.00%,|,$363.00,7,0.11%
5,Super Street Fighter IV Arcade Edition,$53.20,3,0.02%,|,$0.00,0,0.00%,|,$53.20,3,0.02%
6,Ultra Street Fighter IV,"$13,743.35",18,4.11%,|,$0.00,0,0.00%,|,"$13,743.35",18,4.11%

In [87]:
nuckledu_games.columns = nuckledu_games.iloc[0]

In [88]:
nuckledu_games = nuckledu_games.drop([0])

In [89]:
nuckledu_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$297,423.71",26,88.96%,|,$0.00,0,0.00%,|,"$297,423.71",26,88.96%
2,Street Fighter V: Arcade Edition,"$20,752.42",22,6.21%,|,$0.00,0,0.00%,|,"$20,752.42",22,6.21%
3,Street Fighter V: Champion Edition,"$2,005.29",7,0.60%,|,"$2,005.29",7,0.60%,|,$0.00,0,0.00%
4,Street Fighter X Tekken,$363.00,7,0.11%,|,$0.00,0,0.00%,|,$363.00,7,0.11%
5,Super Street Fighter IV Arcade Edition,$53.20,3,0.02%,|,$0.00,0,0.00%,|,$53.20,3,0.02%
6,Ultra Street Fighter IV,"$13,743.35",18,4.11%,|,$0.00,0,0.00%,|,"$13,743.35",18,4.11%

In [90]:
nuckledu_games['Player ID'] = 'NuckleDu'
nuckledu_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$297,423.71",26,88.96%,|,$0.00,0,0.00%,|,"$297,423.71",26,88.96%,NuckleDu
2,Street Fighter V: Arcade Edition,"$20,752.42",22,6.21%,|,$0.00,0,0.00%,|,"$20,752.42",22,6.21%,NuckleDu
3,Street Fighter V: Champion Edition,"$2,005.29",7,0.60%,|,"$2,005.29",7,0.60%,|,$0.00,0,0.00%,NuckleDu
4,Street Fighter X Tekken,$363.00,7,0.11%,|,$0.00,0,0.00%,|,$363.00,7,0.11%,NuckleDu
5,Super Street Fighter IV Arcade Edition,$53.20,3,0.02%,|,$0.00,0,0.00%,|,$53.20,3,0.02%,NuckleDu
6,Ultra Street Fighter IV,"$13,743.35",18,4.11%,|,$0.00,0,0.00%,|,"$13,743.35",18,4.11%,NuckleDu

In [91]:
nuckledu_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nuckledu_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$297,423.71",26,88.96%,|,$0.00,0,0.00%,|,"$297,423.71",26,88.96%,NuckleDu
2,Street Fighter V: Arcade Edition,"$20,752.42",22,6.21%,|,$0.00,0,0.00%,|,"$20,752.42",22,6.21%,NuckleDu
3,Street Fighter V: Champion Edition,"$2,005.29",7,0.60%,|,"$2,005.29",7,0.60%,|,$0.00,0,0.00%,NuckleDu
4,Street Fighter X Tekken,$363.00,7,0.11%,|,$0.00,0,0.00%,|,$363.00,7,0.11%,NuckleDu
5,Super Street Fighter IV Arcade Edition,$53.20,3,0.02%,|,$0.00,0,0.00%,|,$53.20,3,0.02%,NuckleDu
6,Ultra Street Fighter IV,"$13,743.35",18,4.11%,|,$0.00,0,0.00%,|,"$13,743.35",18,4.11%,NuckleDu

In [92]:
nuckledu_games = nuckledu_games.drop(columns=['blank', 'blank1'])
nuckledu_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$297,423.71",26,88.96%,$0.00,0,0.00%,"$297,423.71",26,88.96%,NuckleDu
2,Street Fighter V: Arcade Edition,"$20,752.42",22,6.21%,$0.00,0,0.00%,"$20,752.42",22,6.21%,NuckleDu
3,Street Fighter V: Champion Edition,"$2,005.29",7,0.60%,"$2,005.29",7,0.60%,$0.00,0,0.00%,NuckleDu
4,Street Fighter X Tekken,$363.00,7,0.11%,$0.00,0,0.00%,$363.00,7,0.11%,NuckleDu
5,Super Street Fighter IV Arcade Edition,$53.20,3,0.02%,$0.00,0,0.00%,$53.20,3,0.02%,NuckleDu
6,Ultra Street Fighter IV,"$13,743.35",18,4.11%,$0.00,0,0.00%,"$13,743.35",18,4.11%,NuckleDu

## Gachikun

In [93]:
gachikun_url = 'https://www.esportsearnings.com/players/16031-gachikun-kanamori-tsunehiro'
response = requests.get(gachikun_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [94]:
gachikun = pd.read_html(str(tables), skiprows=1)

In [95]:
gachikun = gachikun[0]
gachikun

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%
2,2019.0,"$4,996.67",5,1.56%,|,$0.00,0,0.00%,|,"$4,996.67",5,1.56%
3,2018.0,"$284,614.10",8,89.02%,|,$0.00,0,0.00%,|,"$284,614.10",8,89.02%
4,2017.0,"$8,609.60",5,2.69%,|,$0.00,0,0.00%,|,"$8,609.60",5,2.69%
5,2016.0,$500.00,1,0.16%,|,$0.00,0,0.00%,|,$500.00,1,0.16%
6,2015.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [96]:
gachikun.columns = gachikun.iloc[0]

In [97]:
gachikun = gachikun.drop([0])

In [98]:
gachikun

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%
2,2019.0,"$4,996.67",5,1.56%,|,$0.00,0,0.00%,|,"$4,996.67",5,1.56%
3,2018.0,"$284,614.10",8,89.02%,|,$0.00,0,0.00%,|,"$284,614.10",8,89.02%
4,2017.0,"$8,609.60",5,2.69%,|,$0.00,0,0.00%,|,"$8,609.60",5,2.69%
5,2016.0,$500.00,1,0.16%,|,$0.00,0,0.00%,|,$500.00,1,0.16%
6,2015.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [99]:
gachikun['Player ID'] = 'Gachikun'

In [100]:
gachikun.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
gachikun

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%,Gachikun
2,2019.0,"$4,996.67",5,1.56%,|,$0.00,0,0.00%,|,"$4,996.67",5,1.56%,Gachikun
3,2018.0,"$284,614.10",8,89.02%,|,$0.00,0,0.00%,|,"$284,614.10",8,89.02%,Gachikun
4,2017.0,"$8,609.60",5,2.69%,|,$0.00,0,0.00%,|,"$8,609.60",5,2.69%,Gachikun
5,2016.0,$500.00,1,0.16%,|,$0.00,0,0.00%,|,$500.00,1,0.16%,Gachikun
6,2015.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Gachikun

In [101]:
gachikun = gachikun.drop(columns=['blank', 'blank1'])
gachikun

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$21,000.95",4,6.57%,"$19,300.00",2,6.04%,"$1,700.95",2,0.53%,Gachikun
2,2019.0,"$4,996.67",5,1.56%,$0.00,0,0.00%,"$4,996.67",5,1.56%,Gachikun
3,2018.0,"$284,614.10",8,89.02%,$0.00,0,0.00%,"$284,614.10",8,89.02%,Gachikun
4,2017.0,"$8,609.60",5,2.69%,$0.00,0,0.00%,"$8,609.60",5,2.69%,Gachikun
5,2016.0,$500.00,1,0.16%,$0.00,0,0.00%,$500.00,1,0.16%,Gachikun
6,2015.0,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Gachikun

In [102]:
gachikun['Year'] = gachikun['Year'].round().astype(int)
gachikun

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$21,000.95",4,6.57%,"$19,300.00",2,6.04%,"$1,700.95",2,0.53%,Gachikun
2,2019,"$4,996.67",5,1.56%,$0.00,0,0.00%,"$4,996.67",5,1.56%,Gachikun
3,2018,"$284,614.10",8,89.02%,$0.00,0,0.00%,"$284,614.10",8,89.02%,Gachikun
4,2017,"$8,609.60",5,2.69%,$0.00,0,0.00%,"$8,609.60",5,2.69%,Gachikun
5,2016,$500.00,1,0.16%,$0.00,0,0.00%,$500.00,1,0.16%,Gachikun
6,2015,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Gachikun

In [103]:
gachikun_games = pd.read_html(str(tables), skiprows=1)

In [104]:
gachikun_games = gachikun_games[2]
gachikun_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$9,109.60",6,2.85%,|,$0.00,0,0.00%,|,"$9,109.60",6,2.85%
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,|,$0.00,0,0.00%,|,"$289,610.77",13,90.58%
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%
4,Ultra Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [105]:
gachikun_games.columns = gachikun_games.iloc[0]
gachikun_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$9,109.60",6,2.85%,|,$0.00,0,0.00%,|,"$9,109.60",6,2.85%
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,|,$0.00,0,0.00%,|,"$289,610.77",13,90.58%
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%
4,Ultra Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [106]:
gachikun_games = gachikun_games.drop([0])
gachikun_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$9,109.60",6,2.85%,|,$0.00,0,0.00%,|,"$9,109.60",6,2.85%
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,|,$0.00,0,0.00%,|,"$289,610.77",13,90.58%
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%
4,Ultra Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [107]:
gachikun_games['Player ID'] = 'Gachikun'
gachikun_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$9,109.60",6,2.85%,|,$0.00,0,0.00%,|,"$9,109.60",6,2.85%,Gachikun
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,|,$0.00,0,0.00%,|,"$289,610.77",13,90.58%,Gachikun
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%,Gachikun
4,Ultra Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Gachikun

In [108]:
gachikun_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
gachikun_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$9,109.60",6,2.85%,|,$0.00,0,0.00%,|,"$9,109.60",6,2.85%,Gachikun
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,|,$0.00,0,0.00%,|,"$289,610.77",13,90.58%,Gachikun
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,|,"$19,300.00",2,6.04%,|,"$1,700.95",2,0.53%,Gachikun
4,Ultra Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Gachikun

In [109]:
gachikun_games = gachikun_games.drop(columns=['blank', 'blank1'])
gachikun_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$9,109.60",6,2.85%,$0.00,0,0.00%,"$9,109.60",6,2.85%,Gachikun
2,Street Fighter V: Arcade Edition,"$289,610.77",13,90.58%,$0.00,0,0.00%,"$289,610.77",13,90.58%,Gachikun
3,Street Fighter V: Champion Edition,"$21,000.95",4,6.57%,"$19,300.00",2,6.04%,"$1,700.95",2,0.53%,Gachikun
4,Ultra Street Fighter IV,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Gachikun

## Armada

In [110]:
armada_url = 'https://www.esportsearnings.com/players/3919-armada-adam-lindgren'
response = requests.get(armada_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [111]:
armada = pd.read_html(str(tables), skiprows=1)

In [112]:
armada = armada[0]
armada

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,"$1,307.26",4,0.42%,|,$0.00,0,0.00%,|,"$1,307.26",4,0.42%
2,2018.0,"$25,422.03",15,8.12%,|,$0.00,0,0.00%,|,"$25,422.03",15,8.12%
3,2017.0,"$90,356.67",33,28.85%,|,$0.00,0,0.00%,|,"$90,356.67",33,28.85%
4,2016.0,"$83,003.77",35,26.51%,|,$0.00,0,0.00%,|,"$83,003.77",35,26.51%
5,2015.0,"$72,934.52",45,23.29%,|,$0.00,0,0.00%,|,"$72,934.52",45,23.29%
6,2014.0,"$16,434.72",37,5.25%,|,$0.00,0,0.00%,|,"$16,434.72",37,5.25%
7,2013.0,"$4,374.30",3,1.40%,|,$0.00,0,0.00%,|,"$4,374.30",3,1.40%
8,2012.0,"$5,663.00",6,1.81%,|,$0.00,0,0.00%,|,"$5,663.00",6,1.81%
9,2011.0,"$7,646.34",10,2.44%,|,$0.00,0,0.00%,|,"$7,646.34",10,2.44%
10,2010.0,"$1,827.66",5,0.58%,|,$0.00,0,0.00%,|,"$1,827.66",5,0.58%
11,2009.0,"$3,388.52",3,1.08%,|,$0.00,0,0.00%,|,"$3,388.52",3,1.08%
12,2008.0,$762.00,2,0.24%,|,$0.00,0,0.00%,|,$762.00,2,0.24%
13,2007.0,$34.79,1,0.01%,|,$0.00,0,0.00%,|,$34.79,1,0.01%

In [113]:
armada.columns = armada.iloc[0]
armada.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,"$1,307.26",4,0.42%,|,$0.00,0,0.00%,|,"$1,307.26",4,0.42%
2,2018.0,"$25,422.03",15,8.12%,|,$0.00,0,0.00%,|,"$25,422.03",15,8.12%
3,2017.0,"$90,356.67",33,28.85%,|,$0.00,0,0.00%,|,"$90,356.67",33,28.85%
4,2016.0,"$83,003.77",35,26.51%,|,$0.00,0,0.00%,|,"$83,003.77",35,26.51%

In [114]:
armada = armada.drop([0])
armada.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,"$1,307.26",4,0.42%,|,$0.00,0,0.00%,|,"$1,307.26",4,0.42%
2,2018.0,"$25,422.03",15,8.12%,|,$0.00,0,0.00%,|,"$25,422.03",15,8.12%
3,2017.0,"$90,356.67",33,28.85%,|,$0.00,0,0.00%,|,"$90,356.67",33,28.85%
4,2016.0,"$83,003.77",35,26.51%,|,$0.00,0,0.00%,|,"$83,003.77",35,26.51%
5,2015.0,"$72,934.52",45,23.29%,|,$0.00,0,0.00%,|,"$72,934.52",45,23.29%

In [115]:
armada['Player ID'] = 'Armada'
armada.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2019.0,"$1,307.26",4,0.42%,|,$0.00,0,0.00%,|,"$1,307.26",4,0.42%,Armada
2,2018.0,"$25,422.03",15,8.12%,|,$0.00,0,0.00%,|,"$25,422.03",15,8.12%,Armada
3,2017.0,"$90,356.67",33,28.85%,|,$0.00,0,0.00%,|,"$90,356.67",33,28.85%,Armada
4,2016.0,"$83,003.77",35,26.51%,|,$0.00,0,0.00%,|,"$83,003.77",35,26.51%,Armada
5,2015.0,"$72,934.52",45,23.29%,|,$0.00,0,0.00%,|,"$72,934.52",45,23.29%,Armada

In [116]:
armada.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
armada.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019.0,"$1,307.26",4,0.42%,|,$0.00,0,0.00%,|,"$1,307.26",4,0.42%,Armada
2,2018.0,"$25,422.03",15,8.12%,|,$0.00,0,0.00%,|,"$25,422.03",15,8.12%,Armada
3,2017.0,"$90,356.67",33,28.85%,|,$0.00,0,0.00%,|,"$90,356.67",33,28.85%,Armada
4,2016.0,"$83,003.77",35,26.51%,|,$0.00,0,0.00%,|,"$83,003.77",35,26.51%,Armada
5,2015.0,"$72,934.52",45,23.29%,|,$0.00,0,0.00%,|,"$72,934.52",45,23.29%,Armada

In [117]:
armada = armada.drop(columns=['blank', 'blank1'])
armada.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019.0,"$1,307.26",4,0.42%,$0.00,0,0.00%,"$1,307.26",4,0.42%,Armada
2,2018.0,"$25,422.03",15,8.12%,$0.00,0,0.00%,"$25,422.03",15,8.12%,Armada
3,2017.0,"$90,356.67",33,28.85%,$0.00,0,0.00%,"$90,356.67",33,28.85%,Armada
4,2016.0,"$83,003.77",35,26.51%,$0.00,0,0.00%,"$83,003.77",35,26.51%,Armada
5,2015.0,"$72,934.52",45,23.29%,$0.00,0,0.00%,"$72,934.52",45,23.29%,Armada

In [118]:
armada['Year'] = armada['Year'].round().astype(int)
armada

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019,"$1,307.26",4,0.42%,$0.00,0,0.00%,"$1,307.26",4,0.42%,Armada
2,2018,"$25,422.03",15,8.12%,$0.00,0,0.00%,"$25,422.03",15,8.12%,Armada
3,2017,"$90,356.67",33,28.85%,$0.00,0,0.00%,"$90,356.67",33,28.85%,Armada
4,2016,"$83,003.77",35,26.51%,$0.00,0,0.00%,"$83,003.77",35,26.51%,Armada
5,2015,"$72,934.52",45,23.29%,$0.00,0,0.00%,"$72,934.52",45,23.29%,Armada
6,2014,"$16,434.72",37,5.25%,$0.00,0,0.00%,"$16,434.72",37,5.25%,Armada
7,2013,"$4,374.30",3,1.40%,$0.00,0,0.00%,"$4,374.30",3,1.40%,Armada
8,2012,"$5,663.00",6,1.81%,$0.00,0,0.00%,"$5,663.00",6,1.81%,Armada
9,2011,"$7,646.34",10,2.44%,$0.00,0,0.00%,"$7,646.34",10,2.44%,Armada
10,2010,"$1,827.66",5,0.58%,$0.00,0,0.00%,"$1,827.66",5,0.58%,Armada
11,2009,"$3,388.52",3,1.08%,$0.00,0,0.00%,"$3,388.52",3,1.08%,Armada
12,2008,$762.00,2,0.24%,$0.00,0,0.00%,$762.00,2,0.24%,Armada
13,2007,$34.79,1,0.01%,$0.00,0,0.00%,$34.79,1,0.01%,Armada

In [119]:
armada_games = pd.read_html(str(tables), skiprows=1)

In [120]:
armada_games = armada_games[2]
armada_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$4,922.53",16,1.57%,|,$0.00,0,0.00%,|,"$4,922.53",16,1.57%
2,Super Smash Bros. Melee,"$306,902.46",179,98.00%,|,$0.00,0,0.00%,|,"$306,902.46",179,98.00%
3,Super Smash Bros. Ultimate,"$1,250.06",3,0.40%,|,$0.00,0,0.00%,|,"$1,250.06",3,0.40%
4,Super Smash Bros. for Wii U,$80.53,1,0.03%,|,$0.00,0,0.00%,|,$80.53,1,0.03%

In [121]:
armada_games.columns = armada_games.iloc[0]

In [122]:
armada_games = armada_games.drop([0])
armada_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$4,922.53",16,1.57%,|,$0.00,0,0.00%,|,"$4,922.53",16,1.57%
2,Super Smash Bros. Melee,"$306,902.46",179,98.00%,|,$0.00,0,0.00%,|,"$306,902.46",179,98.00%
3,Super Smash Bros. Ultimate,"$1,250.06",3,0.40%,|,$0.00,0,0.00%,|,"$1,250.06",3,0.40%
4,Super Smash Bros. for Wii U,$80.53,1,0.03%,|,$0.00,0,0.00%,|,$80.53,1,0.03%

In [123]:
armada_games['Player ID'] = 'Armada'
armada_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$4,922.53",16,1.57%,|,$0.00,0,0.00%,|,"$4,922.53",16,1.57%,Armada
2,Super Smash Bros. Melee,"$306,902.46",179,98.00%,|,$0.00,0,0.00%,|,"$306,902.46",179,98.00%,Armada
3,Super Smash Bros. Ultimate,"$1,250.06",3,0.40%,|,$0.00,0,0.00%,|,"$1,250.06",3,0.40%,Armada
4,Super Smash Bros. for Wii U,$80.53,1,0.03%,|,$0.00,0,0.00%,|,$80.53,1,0.03%,Armada

In [124]:
armada_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
armada_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$4,922.53",16,1.57%,|,$0.00,0,0.00%,|,"$4,922.53",16,1.57%,Armada
2,Super Smash Bros. Melee,"$306,902.46",179,98.00%,|,$0.00,0,0.00%,|,"$306,902.46",179,98.00%,Armada
3,Super Smash Bros. Ultimate,"$1,250.06",3,0.40%,|,$0.00,0,0.00%,|,"$1,250.06",3,0.40%,Armada
4,Super Smash Bros. for Wii U,$80.53,1,0.03%,|,$0.00,0,0.00%,|,$80.53,1,0.03%,Armada

In [125]:
armada_games = armada_games.drop(columns=['blank', 'blank1'])
armada_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$4,922.53",16,1.57%,$0.00,0,0.00%,"$4,922.53",16,1.57%,Armada
2,Super Smash Bros. Melee,"$306,902.46",179,98.00%,$0.00,0,0.00%,"$306,902.46",179,98.00%,Armada
3,Super Smash Bros. Ultimate,"$1,250.06",3,0.40%,$0.00,0,0.00%,"$1,250.06",3,0.40%,Armada
4,Super Smash Bros. for Wii U,$80.53,1,0.03%,$0.00,0,0.00%,$80.53,1,0.03%,Armada

## iDom

In [126]:
idom_url = 'https://www.esportsearnings.com/players/51250-idom-derek-ruffin'
response = requests.get(idom_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [127]:
idom = pd.read_html(str(tables), skiprows=1)

In [128]:
idom = idom[0]
idom

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$18,869.08",28,6.45%,|,"$13,465.38",26,4.60%,|,"$5,403.70",2,1.85%
2,2020.0,"$9,044.13",33,3.09%,|,"$9,044.13",33,3.09%,|,$0.00,0,0.00%
3,2019.0,"$255,730.80",5,87.43%,|,$0.00,0,0.00%,|,"$255,730.80",5,87.43%
4,2018.0,"$2,714.00",4,0.93%,|,$0.00,0,0.00%,|,"$2,714.00",4,0.93%
5,2017.0,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%

In [129]:
idom.columns = idom.iloc[0]

In [130]:
idom = idom.drop([0])
idom

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$18,869.08",28,6.45%,|,"$13,465.38",26,4.60%,|,"$5,403.70",2,1.85%
2,2020.0,"$9,044.13",33,3.09%,|,"$9,044.13",33,3.09%,|,$0.00,0,0.00%
3,2019.0,"$255,730.80",5,87.43%,|,$0.00,0,0.00%,|,"$255,730.80",5,87.43%
4,2018.0,"$2,714.00",4,0.93%,|,$0.00,0,0.00%,|,"$2,714.00",4,0.93%
5,2017.0,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%

In [131]:
idom['Player ID'] = 'iDom'
idom

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$18,869.08",28,6.45%,|,"$13,465.38",26,4.60%,|,"$5,403.70",2,1.85%,iDom
2,2020.0,"$9,044.13",33,3.09%,|,"$9,044.13",33,3.09%,|,$0.00,0,0.00%,iDom
3,2019.0,"$255,730.80",5,87.43%,|,$0.00,0,0.00%,|,"$255,730.80",5,87.43%,iDom
4,2018.0,"$2,714.00",4,0.93%,|,$0.00,0,0.00%,|,"$2,714.00",4,0.93%,iDom
5,2017.0,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%,iDom

In [132]:
idom.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
idom

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$18,869.08",28,6.45%,|,"$13,465.38",26,4.60%,|,"$5,403.70",2,1.85%,iDom
2,2020.0,"$9,044.13",33,3.09%,|,"$9,044.13",33,3.09%,|,$0.00,0,0.00%,iDom
3,2019.0,"$255,730.80",5,87.43%,|,$0.00,0,0.00%,|,"$255,730.80",5,87.43%,iDom
4,2018.0,"$2,714.00",4,0.93%,|,$0.00,0,0.00%,|,"$2,714.00",4,0.93%,iDom
5,2017.0,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%,iDom

In [133]:
idom['Year'] = idom['Year'].round().astype(int)

In [134]:
idom = idom.drop(columns=['blank', 'blank1'])
idom

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$18,869.08",28,6.45%,"$13,465.38",26,4.60%,"$5,403.70",2,1.85%,iDom
2,2020,"$9,044.13",33,3.09%,"$9,044.13",33,3.09%,$0.00,0,0.00%,iDom
3,2019,"$255,730.80",5,87.43%,$0.00,0,0.00%,"$255,730.80",5,87.43%,iDom
4,2018,"$2,714.00",4,0.93%,$0.00,0,0.00%,"$2,714.00",4,0.93%,iDom
5,2017,"$6,154.00",2,2.10%,$0.00,0,0.00%,"$6,154.00",2,2.10%,iDom

In [135]:
idom_games = pd.read_html(str(tables), skiprows=1)

In [136]:
idom_games = idom_games[1]
idom_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%
2,Street Fighter V: Arcade Edition,"$258,444.80",9,88.35%,|,$0.00,0,0.00%,|,"$258,444.80",9,88.35%
3,Street Fighter V: Champion Edition,"$27,913.21",61,9.54%,|,"$22,509.51",59,7.70%,|,"$5,403.70",2,1.85%

In [137]:
idom_games.columns = idom_games.iloc[0]

In [138]:
idom_games = idom_games.drop([0])
idom_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%
2,Street Fighter V: Arcade Edition,"$258,444.80",9,88.35%,|,$0.00,0,0.00%,|,"$258,444.80",9,88.35%
3,Street Fighter V: Champion Edition,"$27,913.21",61,9.54%,|,"$22,509.51",59,7.70%,|,"$5,403.70",2,1.85%

In [139]:
idom_games['Player ID'] = 'iDom'
idom_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%,iDom
2,Street Fighter V: Arcade Edition,"$258,444.80",9,88.35%,|,$0.00,0,0.00%,|,"$258,444.80",9,88.35%,iDom
3,Street Fighter V: Champion Edition,"$27,913.21",61,9.54%,|,"$22,509.51",59,7.70%,|,"$5,403.70",2,1.85%,iDom

In [140]:
idom_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
idom_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$6,154.00",2,2.10%,|,$0.00,0,0.00%,|,"$6,154.00",2,2.10%,iDom
2,Street Fighter V: Arcade Edition,"$258,444.80",9,88.35%,|,$0.00,0,0.00%,|,"$258,444.80",9,88.35%,iDom
3,Street Fighter V: Champion Edition,"$27,913.21",61,9.54%,|,"$22,509.51",59,7.70%,|,"$5,403.70",2,1.85%,iDom

In [141]:
idom_games = idom_games.drop(columns=['blank', 'blank1'])
idom_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$6,154.00",2,2.10%,$0.00,0,0.00%,"$6,154.00",2,2.10%,iDom
2,Street Fighter V: Arcade Edition,"$258,444.80",9,88.35%,$0.00,0,0.00%,"$258,444.80",9,88.35%,iDom
3,Street Fighter V: Champion Edition,"$27,913.21",61,9.54%,"$22,509.51",59,7.70%,"$5,403.70",2,1.85%,iDom

## Mew2King

In [142]:
mew_url = 'https://www.esportsearnings.com/players/3920-mew2king-jason-zimmerman'
response = requests.get(mew_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [143]:
mew2king = pd.read_html(str(tables), skiprows=1)

In [144]:
mew2king = mew2king[0]
mew2king

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,"$1,027.29",2,0.37%,|,$0.00,0,0.00%,|,"$1,027.29",2,0.37%
2,2019.0,"$7,250.36",16,2.58%,|,$0.00,0,0.00%,|,"$7,250.36",16,2.58%
3,2018.0,"$21,444.86",18,7.64%,|,$0.00,0,0.00%,|,"$21,444.86",18,7.64%
4,2017.0,"$41,541.12",58,14.80%,|,$0.00,0,0.00%,|,"$41,541.12",58,14.80%
5,2016.0,"$53,852.18",87,19.19%,|,$0.00,0,0.00%,|,"$53,852.18",87,19.19%
6,2015.0,"$42,227.22",77,15.05%,|,$0.00,0,0.00%,|,"$42,227.22",77,15.05%
7,2014.0,"$32,623.81",107,11.62%,|,$0.00,0,0.00%,|,"$32,623.81",107,11.62%
8,2013.0,"$15,589.03",75,5.55%,|,$0.00,0,0.00%,|,"$15,589.03",75,5.55%
9,2012.0,"$2,454.01",17,0.87%,|,$0.00,0,0.00%,|,"$2,454.01",17,0.87%
10,2011.0,"$10,174.18",39,3.62%,|,$0.00,0,0.00%,|,"$10,174.18",39,3.62%
11,2010.0,"$12,543.80",22,4.47%,|,$0.00,0,0.00%,|,"$12,543.80",22,4.47%
12,2009.0,"$16,269.00",45,5.80%,|,$0.00,0,0.00%,|,"$16,269.00",45,5.80%
13,2008.0,"$5,650.39",15,2.01%,|,$0.00,0,0.00%,|,"$5,650.39",15,2.01%
14,2007.0,"$9,817.50",15,3.50%,|,$0.00,0,0.00%,|,"$9,817.50",15,3.50%
15,2006.0,"$7,825.00",14,2.79%,|,$0.00,0,0.00%,|,"$7,825.00",14,2.79%
16,2005.0,$378.00,1,0.13%,|,$0.00,0,0.00%,|,$378.00,1,0.13%

In [145]:
mew2king.columns = mew2king.iloc[0]

In [146]:
mew2king = mew2king.drop([0])
mew2king.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,"$1,027.29",2,0.37%,|,$0.00,0,0.00%,|,"$1,027.29",2,0.37%
2,2019.0,"$7,250.36",16,2.58%,|,$0.00,0,0.00%,|,"$7,250.36",16,2.58%
3,2018.0,"$21,444.86",18,7.64%,|,$0.00,0,0.00%,|,"$21,444.86",18,7.64%
4,2017.0,"$41,541.12",58,14.80%,|,$0.00,0,0.00%,|,"$41,541.12",58,14.80%
5,2016.0,"$53,852.18",87,19.19%,|,$0.00,0,0.00%,|,"$53,852.18",87,19.19%

In [147]:
mew2king['Player ID'] = 'Mew2King'
mew2king.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2020.0,"$1,027.29",2,0.37%,|,$0.00,0,0.00%,|,"$1,027.29",2,0.37%,Mew2King
2,2019.0,"$7,250.36",16,2.58%,|,$0.00,0,0.00%,|,"$7,250.36",16,2.58%,Mew2King
3,2018.0,"$21,444.86",18,7.64%,|,$0.00,0,0.00%,|,"$21,444.86",18,7.64%,Mew2King
4,2017.0,"$41,541.12",58,14.80%,|,$0.00,0,0.00%,|,"$41,541.12",58,14.80%,Mew2King
5,2016.0,"$53,852.18",87,19.19%,|,$0.00,0,0.00%,|,"$53,852.18",87,19.19%,Mew2King

In [148]:
mew2king.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mew2king.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,"$1,027.29",2,0.37%,|,$0.00,0,0.00%,|,"$1,027.29",2,0.37%,Mew2King
2,2019.0,"$7,250.36",16,2.58%,|,$0.00,0,0.00%,|,"$7,250.36",16,2.58%,Mew2King
3,2018.0,"$21,444.86",18,7.64%,|,$0.00,0,0.00%,|,"$21,444.86",18,7.64%,Mew2King
4,2017.0,"$41,541.12",58,14.80%,|,$0.00,0,0.00%,|,"$41,541.12",58,14.80%,Mew2King
5,2016.0,"$53,852.18",87,19.19%,|,$0.00,0,0.00%,|,"$53,852.18",87,19.19%,Mew2King

In [149]:
mew2king = mew2king.drop(columns=['blank', 'blank1'])
mew2king.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,"$1,027.29",2,0.37%,$0.00,0,0.00%,"$1,027.29",2,0.37%,Mew2King
2,2019.0,"$7,250.36",16,2.58%,$0.00,0,0.00%,"$7,250.36",16,2.58%,Mew2King
3,2018.0,"$21,444.86",18,7.64%,$0.00,0,0.00%,"$21,444.86",18,7.64%,Mew2King
4,2017.0,"$41,541.12",58,14.80%,$0.00,0,0.00%,"$41,541.12",58,14.80%,Mew2King
5,2016.0,"$53,852.18",87,19.19%,$0.00,0,0.00%,"$53,852.18",87,19.19%,Mew2King

In [150]:
mew2king['Year'] = mew2king['Year'].round().astype(int)
mew2king

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020,"$1,027.29",2,0.37%,$0.00,0,0.00%,"$1,027.29",2,0.37%,Mew2King
2,2019,"$7,250.36",16,2.58%,$0.00,0,0.00%,"$7,250.36",16,2.58%,Mew2King
3,2018,"$21,444.86",18,7.64%,$0.00,0,0.00%,"$21,444.86",18,7.64%,Mew2King
4,2017,"$41,541.12",58,14.80%,$0.00,0,0.00%,"$41,541.12",58,14.80%,Mew2King
5,2016,"$53,852.18",87,19.19%,$0.00,0,0.00%,"$53,852.18",87,19.19%,Mew2King
6,2015,"$42,227.22",77,15.05%,$0.00,0,0.00%,"$42,227.22",77,15.05%,Mew2King
7,2014,"$32,623.81",107,11.62%,$0.00,0,0.00%,"$32,623.81",107,11.62%,Mew2King
8,2013,"$15,589.03",75,5.55%,$0.00,0,0.00%,"$15,589.03",75,5.55%,Mew2King
9,2012,"$2,454.01",17,0.87%,$0.00,0,0.00%,"$2,454.01",17,0.87%,Mew2King
10,2011,"$10,174.18",39,3.62%,$0.00,0,0.00%,"$10,174.18",39,3.62%,Mew2King
11,2010,"$12,543.80",22,4.47%,$0.00,0,0.00%,"$12,543.80",22,4.47%,Mew2King
12,2009,"$16,269.00",45,5.80%,$0.00,0,0.00%,"$16,269.00",45,5.80%,Mew2King
13,2008,"$5,650.39",15,2.01%,$0.00,0,0.00%,"$5,650.39",15,2.01%,Mew2King
14,2007,"$9,817.50",15,3.50%,$0.00,0,0.00%,"$9,817.50",15,3.50%,Mew2King
15,2006,"$7,825.00",14,2.79%,$0.00,0,0.00%,"$7,825.00",14,2.79%,Mew2King
16,2005,$378.00,1,0.13%,$0.00,0,0.00%,$378.00,1,0.13%,Mew2King

In [151]:
mew2king_games = pd.read_html(str(tables), skiprows=1)

In [152]:
mew2king_games = mew2king_games[2]
mew2king_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$17,132.48",74,6.10%,|,$0.00,0,0.00%,|,"$17,132.48",74,6.10%
2,Super Smash Bros.,$251.50,6,0.09%,|,$0.00,0,0.00%,|,$251.50,6,0.09%
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,|,$0.00,0,0.00%,|,"$36,870.75",98,13.14%
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,|,$0.00,0,0.00%,|,"$205,016.80",353,73.05%
5,Super Smash Bros. Ultimate,"$1,487.88",6,0.53%,|,$0.00,0,0.00%,|,"$1,487.88",6,0.53%
6,Super Smash Bros. for Wii U,"$19,908.34",71,7.09%,|,$0.00,0,0.00%,|,"$19,908.34",71,7.09%

In [153]:
mew2king_games.columns = mew2king_games.iloc[0]
mew2king_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$17,132.48",74,6.10%,|,$0.00,0,0.00%,|,"$17,132.48",74,6.10%
2,Super Smash Bros.,$251.50,6,0.09%,|,$0.00,0,0.00%,|,$251.50,6,0.09%
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,|,$0.00,0,0.00%,|,"$36,870.75",98,13.14%
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,|,$0.00,0,0.00%,|,"$205,016.80",353,73.05%

In [154]:
mew2king_games = mew2king_games.drop([0])
mew2king_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$17,132.48",74,6.10%,|,$0.00,0,0.00%,|,"$17,132.48",74,6.10%
2,Super Smash Bros.,$251.50,6,0.09%,|,$0.00,0,0.00%,|,$251.50,6,0.09%
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,|,$0.00,0,0.00%,|,"$36,870.75",98,13.14%
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,|,$0.00,0,0.00%,|,"$205,016.80",353,73.05%
5,Super Smash Bros. Ultimate,"$1,487.88",6,0.53%,|,$0.00,0,0.00%,|,"$1,487.88",6,0.53%

In [155]:
mew2king_games['Player ID'] = 'Mew2King'
mew2king_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$17,132.48",74,6.10%,|,$0.00,0,0.00%,|,"$17,132.48",74,6.10%,Mew2King
2,Super Smash Bros.,$251.50,6,0.09%,|,$0.00,0,0.00%,|,$251.50,6,0.09%,Mew2King
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,|,$0.00,0,0.00%,|,"$36,870.75",98,13.14%,Mew2King
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,|,$0.00,0,0.00%,|,"$205,016.80",353,73.05%,Mew2King
5,Super Smash Bros. Ultimate,"$1,487.88",6,0.53%,|,$0.00,0,0.00%,|,"$1,487.88",6,0.53%,Mew2King

In [156]:
mew2king_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mew2king_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$17,132.48",74,6.10%,|,$0.00,0,0.00%,|,"$17,132.48",74,6.10%,Mew2King
2,Super Smash Bros.,$251.50,6,0.09%,|,$0.00,0,0.00%,|,$251.50,6,0.09%,Mew2King
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,|,$0.00,0,0.00%,|,"$36,870.75",98,13.14%,Mew2King
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,|,$0.00,0,0.00%,|,"$205,016.80",353,73.05%,Mew2King
5,Super Smash Bros. Ultimate,"$1,487.88",6,0.53%,|,$0.00,0,0.00%,|,"$1,487.88",6,0.53%,Mew2King

In [157]:
mew2king_games = mew2king_games.drop(columns=['blank', 'blank1'])
mew2king_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$17,132.48",74,6.10%,$0.00,0,0.00%,"$17,132.48",74,6.10%,Mew2King
2,Super Smash Bros.,$251.50,6,0.09%,$0.00,0,0.00%,$251.50,6,0.09%,Mew2King
3,Super Smash Bros. Brawl,"$36,870.75",98,13.14%,$0.00,0,0.00%,"$36,870.75",98,13.14%,Mew2King
4,Super Smash Bros. Melee,"$205,016.80",353,73.05%,$0.00,0,0.00%,"$205,016.80",353,73.05%,Mew2King
5,Super Smash Bros. Ultimate,"$1,487.88",6,0.53%,$0.00,0,0.00%,"$1,487.88",6,0.53%,Mew2King
6,Super Smash Bros. for Wii U,"$19,908.34",71,7.09%,$0.00,0,0.00%,"$19,908.34",71,7.09%,Mew2King

## Dragon

In [158]:
dragon_url = 'https://www.esportsearnings.com/players/28330-dragon-ryan-walker'
response = requests.get(dragon_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [159]:
dragon = pd.read_html(str(tables), skiprows=1)

In [160]:
dragon = dragon[0]
dragon.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$3,500.00",1,1.27%,|,$0.00,0,0.00%,|,"$3,500.00",1,1.27%
2,2020.0,"$11,725.00",3,4.25%,|,"$1,725.00",2,0.63%,|,"$10,000.00",1,3.63%
3,2019.0,"$24,450.24",10,8.87%,|,$150.00,1,0.05%,|,"$24,300.24",9,8.81%
4,2018.0,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%

In [161]:
dragon.columns = dragon.iloc[0]

In [162]:
dragon = dragon.drop([0])
dragon.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$3,500.00",1,1.27%,|,$0.00,0,0.00%,|,"$3,500.00",1,1.27%
2,2020.0,"$11,725.00",3,4.25%,|,"$1,725.00",2,0.63%,|,"$10,000.00",1,3.63%
3,2019.0,"$24,450.24",10,8.87%,|,$150.00,1,0.05%,|,"$24,300.24",9,8.81%
4,2018.0,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%
5,2017.0,"$203,954.73",12,73.96%,|,$0.00,0,0.00%,|,"$203,954.73",12,73.96%

In [163]:
dragon['Player ID'] = 'Dragon'
dragon.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$3,500.00",1,1.27%,|,$0.00,0,0.00%,|,"$3,500.00",1,1.27%,Dragon
2,2020.0,"$11,725.00",3,4.25%,|,"$1,725.00",2,0.63%,|,"$10,000.00",1,3.63%,Dragon
3,2019.0,"$24,450.24",10,8.87%,|,$150.00,1,0.05%,|,"$24,300.24",9,8.81%,Dragon
4,2018.0,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%,Dragon
5,2017.0,"$203,954.73",12,73.96%,|,$0.00,0,0.00%,|,"$203,954.73",12,73.96%,Dragon

In [164]:
dragon.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
dragon.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$3,500.00",1,1.27%,|,$0.00,0,0.00%,|,"$3,500.00",1,1.27%,Dragon
2,2020.0,"$11,725.00",3,4.25%,|,"$1,725.00",2,0.63%,|,"$10,000.00",1,3.63%,Dragon
3,2019.0,"$24,450.24",10,8.87%,|,$150.00,1,0.05%,|,"$24,300.24",9,8.81%,Dragon
4,2018.0,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%,Dragon
5,2017.0,"$203,954.73",12,73.96%,|,$0.00,0,0.00%,|,"$203,954.73",12,73.96%,Dragon

In [165]:
dragon = dragon.drop(columns=['blank', 'blank1'])
dragon.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$3,500.00",1,1.27%,$0.00,0,0.00%,"$3,500.00",1,1.27%,Dragon
2,2020.0,"$11,725.00",3,4.25%,"$1,725.00",2,0.63%,"$10,000.00",1,3.63%,Dragon
3,2019.0,"$24,450.24",10,8.87%,$150.00,1,0.05%,"$24,300.24",9,8.81%,Dragon
4,2018.0,$300.00,1,0.11%,$0.00,0,0.00%,$300.00,1,0.11%,Dragon
5,2017.0,"$203,954.73",12,73.96%,$0.00,0,0.00%,"$203,954.73",12,73.96%,Dragon

In [166]:
dragon['Year'] = dragon['Year'].round().astype(int)
dragon

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$3,500.00",1,1.27%,$0.00,0,0.00%,"$3,500.00",1,1.27%,Dragon
2,2020,"$11,725.00",3,4.25%,"$1,725.00",2,0.63%,"$10,000.00",1,3.63%,Dragon
3,2019,"$24,450.24",10,8.87%,$150.00,1,0.05%,"$24,300.24",9,8.81%,Dragon
4,2018,$300.00,1,0.11%,$0.00,0,0.00%,$300.00,1,0.11%,Dragon
5,2017,"$203,954.73",12,73.96%,$0.00,0,0.00%,"$203,954.73",12,73.96%,Dragon
6,2016,"$31,840.00",6,11.55%,$0.00,0,0.00%,"$31,840.00",6,11.55%,Dragon

In [167]:
dragon_games = pd.read_html(str(tables), skiprows=1)

In [168]:
dragon_games = dragon_games[1]
dragon_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Injustice 2,"$200,645.73",11,72.76%,|,$0.00,0,0.00%,|,"$200,645.73",11,72.76%
2,Mortal Kombat 11,"$39,675.24",14,14.39%,|,"$1,875.00",3,0.68%,|,"$37,800.24",11,13.71%
3,Mortal Kombat X,"$30,874.40",3,11.20%,|,$0.00,0,0.00%,|,"$30,874.40",3,11.20%
4,Mortal Kombat XL,"$4,274.60",4,1.55%,|,$0.00,0,0.00%,|,"$4,274.60",4,1.55%
5,Soul Calibur VI,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%

In [169]:
dragon_games.columns = dragon_games.iloc[0]

In [170]:
dragon_games = dragon_games.drop([0])
dragon_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Injustice 2,"$200,645.73",11,72.76%,|,$0.00,0,0.00%,|,"$200,645.73",11,72.76%
2,Mortal Kombat 11,"$39,675.24",14,14.39%,|,"$1,875.00",3,0.68%,|,"$37,800.24",11,13.71%
3,Mortal Kombat X,"$30,874.40",3,11.20%,|,$0.00,0,0.00%,|,"$30,874.40",3,11.20%
4,Mortal Kombat XL,"$4,274.60",4,1.55%,|,$0.00,0,0.00%,|,"$4,274.60",4,1.55%
5,Soul Calibur VI,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%

In [171]:
dragon_games['Player ID'] = 'Dragon'
dragon_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Injustice 2,"$200,645.73",11,72.76%,|,$0.00,0,0.00%,|,"$200,645.73",11,72.76%,Dragon
2,Mortal Kombat 11,"$39,675.24",14,14.39%,|,"$1,875.00",3,0.68%,|,"$37,800.24",11,13.71%,Dragon
3,Mortal Kombat X,"$30,874.40",3,11.20%,|,$0.00,0,0.00%,|,"$30,874.40",3,11.20%,Dragon
4,Mortal Kombat XL,"$4,274.60",4,1.55%,|,$0.00,0,0.00%,|,"$4,274.60",4,1.55%,Dragon
5,Soul Calibur VI,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%,Dragon

In [172]:
dragon_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
dragon_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Injustice 2,"$200,645.73",11,72.76%,|,$0.00,0,0.00%,|,"$200,645.73",11,72.76%,Dragon
2,Mortal Kombat 11,"$39,675.24",14,14.39%,|,"$1,875.00",3,0.68%,|,"$37,800.24",11,13.71%,Dragon
3,Mortal Kombat X,"$30,874.40",3,11.20%,|,$0.00,0,0.00%,|,"$30,874.40",3,11.20%,Dragon
4,Mortal Kombat XL,"$4,274.60",4,1.55%,|,$0.00,0,0.00%,|,"$4,274.60",4,1.55%,Dragon
5,Soul Calibur VI,$300.00,1,0.11%,|,$0.00,0,0.00%,|,$300.00,1,0.11%,Dragon

In [173]:
dragon_games = dragon_games.drop(columns=['blank', 'blank1'])
dragon_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Injustice 2,"$200,645.73",11,72.76%,$0.00,0,0.00%,"$200,645.73",11,72.76%,Dragon
2,Mortal Kombat 11,"$39,675.24",14,14.39%,"$1,875.00",3,0.68%,"$37,800.24",11,13.71%,Dragon
3,Mortal Kombat X,"$30,874.40",3,11.20%,$0.00,0,0.00%,"$30,874.40",3,11.20%,Dragon
4,Mortal Kombat XL,"$4,274.60",4,1.55%,$0.00,0,0.00%,"$4,274.60",4,1.55%,Dragon
5,Soul Calibur VI,$300.00,1,0.11%,$0.00,0,0.00%,$300.00,1,0.11%,Dragon

## MenaRD

In [174]:
mena_url = 'https://www.esportsearnings.com/players/41926-menard-saul-leonardo-mena-segundo'
response = requests.get(mena_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [175]:
mena = pd.read_html(str(tables), skiprows=1)

In [176]:
mena = mena[0]
mena

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$11,614.87",6,4.30%,|,"$10,364.87",5,3.84%,|,"$1,250.00",1,0.46%
2,2020.0,$448.88,2,0.17%,|,$448.88,2,0.17%,|,$0.00,0,0.00%
3,2019.0,"$2,571.60",3,0.95%,|,$0.00,0,0.00%,|,"$2,571.60",3,0.95%
4,2018.0,"$1,000.00",2,0.37%,|,$0.00,0,0.00%,|,"$1,000.00",2,0.37%
5,2017.0,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%

In [177]:
mena.columns = mena.iloc[0]

In [178]:
mena = mena.drop([0])
mena

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$11,614.87",6,4.30%,|,"$10,364.87",5,3.84%,|,"$1,250.00",1,0.46%
2,2020.0,$448.88,2,0.17%,|,$448.88,2,0.17%,|,$0.00,0,0.00%
3,2019.0,"$2,571.60",3,0.95%,|,$0.00,0,0.00%,|,"$2,571.60",3,0.95%
4,2018.0,"$1,000.00",2,0.37%,|,$0.00,0,0.00%,|,"$1,000.00",2,0.37%
5,2017.0,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%

In [179]:
mena['Player ID'] = 'MenaRD'
mena

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$11,614.87",6,4.30%,|,"$10,364.87",5,3.84%,|,"$1,250.00",1,0.46%,MenaRD
2,2020.0,$448.88,2,0.17%,|,$448.88,2,0.17%,|,$0.00,0,0.00%,MenaRD
3,2019.0,"$2,571.60",3,0.95%,|,$0.00,0,0.00%,|,"$2,571.60",3,0.95%,MenaRD
4,2018.0,"$1,000.00",2,0.37%,|,$0.00,0,0.00%,|,"$1,000.00",2,0.37%,MenaRD
5,2017.0,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%,MenaRD

In [180]:
mena.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mena

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$11,614.87",6,4.30%,|,"$10,364.87",5,3.84%,|,"$1,250.00",1,0.46%,MenaRD
2,2020.0,$448.88,2,0.17%,|,$448.88,2,0.17%,|,$0.00,0,0.00%,MenaRD
3,2019.0,"$2,571.60",3,0.95%,|,$0.00,0,0.00%,|,"$2,571.60",3,0.95%,MenaRD
4,2018.0,"$1,000.00",2,0.37%,|,$0.00,0,0.00%,|,"$1,000.00",2,0.37%,MenaRD
5,2017.0,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%,MenaRD

In [181]:
mena = mena.drop(columns=['blank', 'blank1'])
mena

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$11,614.87",6,4.30%,"$10,364.87",5,3.84%,"$1,250.00",1,0.46%,MenaRD
2,2020.0,$448.88,2,0.17%,$448.88,2,0.17%,$0.00,0,0.00%,MenaRD
3,2019.0,"$2,571.60",3,0.95%,$0.00,0,0.00%,"$2,571.60",3,0.95%,MenaRD
4,2018.0,"$1,000.00",2,0.37%,$0.00,0,0.00%,"$1,000.00",2,0.37%,MenaRD
5,2017.0,"$254,417.92",4,94.21%,$0.00,0,0.00%,"$254,417.92",4,94.21%,MenaRD

In [182]:
mena['Year'] = mena['Year'].round().astype(int)
mena

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$11,614.87",6,4.30%,"$10,364.87",5,3.84%,"$1,250.00",1,0.46%,MenaRD
2,2020,$448.88,2,0.17%,$448.88,2,0.17%,$0.00,0,0.00%,MenaRD
3,2019,"$2,571.60",3,0.95%,$0.00,0,0.00%,"$2,571.60",3,0.95%,MenaRD
4,2018,"$1,000.00",2,0.37%,$0.00,0,0.00%,"$1,000.00",2,0.37%,MenaRD
5,2017,"$254,417.92",4,94.21%,$0.00,0,0.00%,"$254,417.92",4,94.21%,MenaRD

In [183]:
mena_games = pd.read_html(str(tables), skiprows=1)

In [184]:
mena_games = mena_games[1]
mena_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Guilty Gear -STRIVE-,$100.00,1,0.04%,|,$100.00,1,0.04%,|,$0.00,0,0.00%
2,Street Fighter V,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%
3,Street Fighter V: Arcade Edition,"$3,571.60",5,1.32%,|,$0.00,0,0.00%,|,"$3,571.60",5,1.32%
4,Street Fighter V: Champion Edition,"$11,963.75",7,4.43%,|,"$10,713.75",6,3.97%,|,"$1,250.00",1,0.46%

In [185]:
mena_games.columns = mena_games.iloc[0]

In [186]:
mena_games = mena_games.drop([0])
mena_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Guilty Gear -STRIVE-,$100.00,1,0.04%,|,$100.00,1,0.04%,|,$0.00,0,0.00%
2,Street Fighter V,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%
3,Street Fighter V: Arcade Edition,"$3,571.60",5,1.32%,|,$0.00,0,0.00%,|,"$3,571.60",5,1.32%
4,Street Fighter V: Champion Edition,"$11,963.75",7,4.43%,|,"$10,713.75",6,3.97%,|,"$1,250.00",1,0.46%

In [187]:
mena_games['Player ID'] = 'MenaRD'
mena_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Guilty Gear -STRIVE-,$100.00,1,0.04%,|,$100.00,1,0.04%,|,$0.00,0,0.00%,MenaRD
2,Street Fighter V,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%,MenaRD
3,Street Fighter V: Arcade Edition,"$3,571.60",5,1.32%,|,$0.00,0,0.00%,|,"$3,571.60",5,1.32%,MenaRD
4,Street Fighter V: Champion Edition,"$11,963.75",7,4.43%,|,"$10,713.75",6,3.97%,|,"$1,250.00",1,0.46%,MenaRD

In [188]:
mena_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mena_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Guilty Gear -STRIVE-,$100.00,1,0.04%,|,$100.00,1,0.04%,|,$0.00,0,0.00%,MenaRD
2,Street Fighter V,"$254,417.92",4,94.21%,|,$0.00,0,0.00%,|,"$254,417.92",4,94.21%,MenaRD
3,Street Fighter V: Arcade Edition,"$3,571.60",5,1.32%,|,$0.00,0,0.00%,|,"$3,571.60",5,1.32%,MenaRD
4,Street Fighter V: Champion Edition,"$11,963.75",7,4.43%,|,"$10,713.75",6,3.97%,|,"$1,250.00",1,0.46%,MenaRD

In [189]:
mena_games = mena_games.drop(columns=['blank', 'blank1'])
mena_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Guilty Gear -STRIVE-,$100.00,1,0.04%,$100.00,1,0.04%,$0.00,0,0.00%,MenaRD
2,Street Fighter V,"$254,417.92",4,94.21%,$0.00,0,0.00%,"$254,417.92",4,94.21%,MenaRD
3,Street Fighter V: Arcade Edition,"$3,571.60",5,1.32%,$0.00,0,0.00%,"$3,571.60",5,1.32%,MenaRD
4,Street Fighter V: Champion Edition,"$11,963.75",7,4.43%,"$10,713.75",6,3.97%,"$1,250.00",1,0.46%,MenaRD

## Daigo

In [190]:
daigo_url = 'https://www.esportsearnings.com/players/2847-umehara-daigo'
response = requests.get(daigo_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [191]:
daigo = pd.read_html(str(tables), skiprows=1)

In [192]:
daigo = daigo[0]
daigo.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$5,960.00",2,2.31%,|,"$5,960.00",2,2.31%,|,$0.00,0,0.00%
2,2020.0,"$9,473.37",3,3.68%,|,"$4,750.00",1,1.84%,|,"$4,723.37",2,1.83%
3,2019.0,"$5,154.32",4,2.00%,|,$0.00,0,0.00%,|,"$5,154.32",4,2.00%
4,2018.0,"$36,170.00",8,14.04%,|,$0.00,0,0.00%,|,"$36,170.00",8,14.04%

In [193]:
daigo.columns = daigo.iloc[0]

In [194]:
daigo = daigo.drop([0])

In [195]:
daigo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$5,960.00",2,2.31%,|,"$5,960.00",2,2.31%,|,$0.00,0,0.00%
2,2020.0,"$9,473.37",3,3.68%,|,"$4,750.00",1,1.84%,|,"$4,723.37",2,1.83%
3,2019.0,"$5,154.32",4,2.00%,|,$0.00,0,0.00%,|,"$5,154.32",4,2.00%
4,2018.0,"$36,170.00",8,14.04%,|,$0.00,0,0.00%,|,"$36,170.00",8,14.04%
5,2017.0,"$16,500.00",4,6.41%,|,$0.00,0,0.00%,|,"$16,500.00",4,6.41%

In [196]:
daigo['Player ID'] = 'Daigo'
daigo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$5,960.00",2,2.31%,|,"$5,960.00",2,2.31%,|,$0.00,0,0.00%,Daigo
2,2020.0,"$9,473.37",3,3.68%,|,"$4,750.00",1,1.84%,|,"$4,723.37",2,1.83%,Daigo
3,2019.0,"$5,154.32",4,2.00%,|,$0.00,0,0.00%,|,"$5,154.32",4,2.00%,Daigo
4,2018.0,"$36,170.00",8,14.04%,|,$0.00,0,0.00%,|,"$36,170.00",8,14.04%,Daigo
5,2017.0,"$16,500.00",4,6.41%,|,$0.00,0,0.00%,|,"$16,500.00",4,6.41%,Daigo

In [197]:
daigo.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
daigo.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$5,960.00",2,2.31%,|,"$5,960.00",2,2.31%,|,$0.00,0,0.00%,Daigo
2,2020.0,"$9,473.37",3,3.68%,|,"$4,750.00",1,1.84%,|,"$4,723.37",2,1.83%,Daigo
3,2019.0,"$5,154.32",4,2.00%,|,$0.00,0,0.00%,|,"$5,154.32",4,2.00%,Daigo
4,2018.0,"$36,170.00",8,14.04%,|,$0.00,0,0.00%,|,"$36,170.00",8,14.04%,Daigo
5,2017.0,"$16,500.00",4,6.41%,|,$0.00,0,0.00%,|,"$16,500.00",4,6.41%,Daigo

In [198]:
daigo = daigo.drop(columns=['blank', 'blank1'])
daigo.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$5,960.00",2,2.31%,"$5,960.00",2,2.31%,$0.00,0,0.00%,Daigo
2,2020.0,"$9,473.37",3,3.68%,"$4,750.00",1,1.84%,"$4,723.37",2,1.83%,Daigo
3,2019.0,"$5,154.32",4,2.00%,$0.00,0,0.00%,"$5,154.32",4,2.00%,Daigo
4,2018.0,"$36,170.00",8,14.04%,$0.00,0,0.00%,"$36,170.00",8,14.04%,Daigo
5,2017.0,"$16,500.00",4,6.41%,$0.00,0,0.00%,"$16,500.00",4,6.41%,Daigo

In [199]:
daigo['Year'] = daigo['Year'].round().astype(int)
daigo

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$5,960.00",2,2.31%,"$5,960.00",2,2.31%,$0.00,0,0.00%,Daigo
2,2020,"$9,473.37",3,3.68%,"$4,750.00",1,1.84%,"$4,723.37",2,1.83%,Daigo
3,2019,"$5,154.32",4,2.00%,$0.00,0,0.00%,"$5,154.32",4,2.00%,Daigo
4,2018,"$36,170.00",8,14.04%,$0.00,0,0.00%,"$36,170.00",8,14.04%,Daigo
5,2017,"$16,500.00",4,6.41%,$0.00,0,0.00%,"$16,500.00",4,6.41%,Daigo
6,2016,"$10,527.85",6,4.09%,$0.00,0,0.00%,"$10,527.85",6,4.09%,Daigo
7,2015,"$111,814.93",8,43.42%,$0.00,0,0.00%,"$111,814.93",8,43.42%,Daigo
8,2014,"$23,307.83",2,9.05%,$0.00,0,0.00%,"$23,307.83",2,9.05%,Daigo
9,2013,"$11,474.52",3,4.46%,$0.00,0,0.00%,"$11,474.52",3,4.46%,Daigo
10,2012,"$13,952.02",3,5.42%,$0.00,0,0.00%,"$13,952.02",3,5.42%,Daigo
11,2011,"$11,541.00",3,4.48%,$0.00,0,0.00%,"$11,541.00",3,4.48%,Daigo
12,2010,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Daigo
13,2009,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Daigo
14,2006,"$1,666.67",3,0.65%,$0.00,0,0.00%,"$1,666.67",3,0.65%,Daigo
15,2004,$0.00,3,0.00%,$0.00,0,0.00%,$0.00,3,0.00%,Daigo
16,2003,$0.00,4,0.00%,$0.00,0,0.00%,$0.00,4,0.00%,Daigo

In [200]:
daigo_games = pd.read_html(str(tables), skiprows=1)

In [201]:
daigo_games = daigo_games[2]
daigo_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Capcom vs. SNK 2,$500.00,2,0.19%,|,$0.00,0,0.00%,|,$500.00,2,0.19%
2,Guilty Gear XX,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
3,Guilty Gear XX Slash,$666.67,1,0.26%,|,$0.00,0,0.00%,|,$666.67,1,0.26%
4,Hyper Street Fighter II,$500.00,1,0.19%,|,$0.00,0,0.00%,|,$500.00,1,0.19%

In [202]:
daigo_games.columns = daigo_games.iloc[0]

In [203]:
daigo_games = daigo_games.drop([0])
daigo_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Capcom vs. SNK 2,$500.00,2,0.19%,|,$0.00,0,0.00%,|,$500.00,2,0.19%
2,Guilty Gear XX,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
3,Guilty Gear XX Slash,$666.67,1,0.26%,|,$0.00,0,0.00%,|,$666.67,1,0.26%
4,Hyper Street Fighter II,$500.00,1,0.19%,|,$0.00,0,0.00%,|,$500.00,1,0.19%
5,Street Fighter III: 3rd Strike,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%

In [204]:
daigo_games['Player ID'] = 'Daigo'
daigo_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Capcom vs. SNK 2,$500.00,2,0.19%,|,$0.00,0,0.00%,|,$500.00,2,0.19%,Daigo
2,Guilty Gear XX,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Daigo
3,Guilty Gear XX Slash,$666.67,1,0.26%,|,$0.00,0,0.00%,|,$666.67,1,0.26%,Daigo
4,Hyper Street Fighter II,$500.00,1,0.19%,|,$0.00,0,0.00%,|,$500.00,1,0.19%,Daigo
5,Street Fighter III: 3rd Strike,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Daigo

In [205]:
daigo_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
daigo_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,$500.00,2,0.19%,|,$0.00,0,0.00%,|,$500.00,2,0.19%,Daigo
2,Guilty Gear XX,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Daigo
3,Guilty Gear XX Slash,$666.67,1,0.26%,|,$0.00,0,0.00%,|,$666.67,1,0.26%,Daigo
4,Hyper Street Fighter II,$500.00,1,0.19%,|,$0.00,0,0.00%,|,$500.00,1,0.19%,Daigo
5,Street Fighter III: 3rd Strike,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Daigo

In [206]:
daigo_games = daigo_games.drop(columns=['blank', 'blank1'])
daigo_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,$500.00,2,0.19%,$0.00,0,0.00%,$500.00,2,0.19%,Daigo
2,Guilty Gear XX,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Daigo
3,Guilty Gear XX Slash,$666.67,1,0.26%,$0.00,0,0.00%,$666.67,1,0.26%,Daigo
4,Hyper Street Fighter II,$500.00,1,0.19%,$0.00,0,0.00%,$500.00,1,0.19%,Daigo
5,Street Fighter III: 3rd Strike,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Daigo
6,Street Fighter IV,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Daigo
7,Street Fighter V,"$27,027.85",10,10.49%,$0.00,0,0.00%,"$27,027.85",10,10.49%,Daigo
8,Street Fighter V: Arcade Edition,"$41,324.32",12,16.05%,$0.00,0,0.00%,"$41,324.32",12,16.05%,Daigo
9,Street Fighter V: Champion Edition,"$15,433.37",5,5.99%,"$10,710.00",3,4.16%,"$4,723.37",2,1.83%,Daigo
10,Super Street Fighter II Turbo,$288.00,3,0.11%,$0.00,0,0.00%,$288.00,3,0.11%,Daigo
11,Super Street Fighter IV,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Daigo
12,Super Street Fighter IV Arcade Edition,"$51,438.96",9,19.97%,$0.00,0,0.00%,"$51,438.96",9,19.97%,Daigo
13,Ultra Street Fighter IV,"$120,363.34",9,46.74%,$0.00,0,0.00%,"$120,363.34",9,46.74%,Daigo

## Mango

In [207]:
mango_url = 'https://www.esportsearnings.com/players/3916-mango-joseph-marquez'
response = requests.get(mango_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [208]:
mango = pd.read_html(str(tables), skiprows=1)

In [209]:
mango = mango[0]
mango

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$49,325.70",3,19.27%,|,$625.00,1,0.24%,|,"$48,700.70",2,19.03%
2,2020.0,"$25,274.72",7,9.88%,|,"$14,375.50",5,5.62%,|,"$10,899.22",2,4.26%
3,2019.0,"$12,062.22",11,4.71%,|,$0.00,0,0.00%,|,"$12,062.22",11,4.71%
4,2018.0,"$15,080.64",12,5.89%,|,$0.00,0,0.00%,|,"$15,080.64",12,5.89%
5,2017.0,"$32,414.81",20,12.67%,|,$0.00,0,0.00%,|,"$32,414.81",20,12.67%
6,2016.0,"$47,361.50",27,18.51%,|,$0.00,0,0.00%,|,"$47,361.50",27,18.51%
7,2015.0,"$23,953.50",28,9.36%,|,$0.00,0,0.00%,|,"$23,953.50",28,9.36%
8,2014.0,"$20,091.87",20,7.85%,|,$0.00,0,0.00%,|,"$20,091.87",20,7.85%
9,2013.0,"$6,835.30",21,2.67%,|,$0.00,0,0.00%,|,"$6,835.30",21,2.67%
10,2012.0,"$3,964.34",11,1.55%,|,$0.00,0,0.00%,|,"$3,964.34",11,1.55%
11,2011.0,"$4,752.88",12,1.86%,|,$0.00,0,0.00%,|,"$4,752.88",12,1.86%
12,2010.0,"$1,789.50",7,0.70%,|,$0.00,0,0.00%,|,"$1,789.50",7,0.70%
13,2009.0,"$9,965.05",26,3.89%,|,$0.00,0,0.00%,|,"$9,965.05",26,3.89%
14,2008.0,"$1,248.00",1,0.49%,|,$0.00,0,0.00%,|,"$1,248.00",1,0.49%
15,2007.0,"$1,792.50",4,0.70%,|,$0.00,0,0.00%,|,"$1,792.50",4,0.70%

In [210]:
mango.columns = mango.iloc[0]

In [211]:
mango = mango.drop([0])
mango.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$49,325.70",3,19.27%,|,$625.00,1,0.24%,|,"$48,700.70",2,19.03%
2,2020.0,"$25,274.72",7,9.88%,|,"$14,375.50",5,5.62%,|,"$10,899.22",2,4.26%
3,2019.0,"$12,062.22",11,4.71%,|,$0.00,0,0.00%,|,"$12,062.22",11,4.71%
4,2018.0,"$15,080.64",12,5.89%,|,$0.00,0,0.00%,|,"$15,080.64",12,5.89%
5,2017.0,"$32,414.81",20,12.67%,|,$0.00,0,0.00%,|,"$32,414.81",20,12.67%

In [212]:
mango['Player ID'] = 'Mango'
mango.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$49,325.70",3,19.27%,|,$625.00,1,0.24%,|,"$48,700.70",2,19.03%,Mango
2,2020.0,"$25,274.72",7,9.88%,|,"$14,375.50",5,5.62%,|,"$10,899.22",2,4.26%,Mango
3,2019.0,"$12,062.22",11,4.71%,|,$0.00,0,0.00%,|,"$12,062.22",11,4.71%,Mango
4,2018.0,"$15,080.64",12,5.89%,|,$0.00,0,0.00%,|,"$15,080.64",12,5.89%,Mango
5,2017.0,"$32,414.81",20,12.67%,|,$0.00,0,0.00%,|,"$32,414.81",20,12.67%,Mango

In [213]:
mango.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mango.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$49,325.70",3,19.27%,|,$625.00,1,0.24%,|,"$48,700.70",2,19.03%,Mango
2,2020.0,"$25,274.72",7,9.88%,|,"$14,375.50",5,5.62%,|,"$10,899.22",2,4.26%,Mango
3,2019.0,"$12,062.22",11,4.71%,|,$0.00,0,0.00%,|,"$12,062.22",11,4.71%,Mango
4,2018.0,"$15,080.64",12,5.89%,|,$0.00,0,0.00%,|,"$15,080.64",12,5.89%,Mango
5,2017.0,"$32,414.81",20,12.67%,|,$0.00,0,0.00%,|,"$32,414.81",20,12.67%,Mango

In [214]:
mango['Year'] = mango['Year'].round().astype(int)

In [215]:
mango = mango.drop(columns=['blank', 'blank1'])
mango

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$49,325.70",3,19.27%,$625.00,1,0.24%,"$48,700.70",2,19.03%,Mango
2,2020,"$25,274.72",7,9.88%,"$14,375.50",5,5.62%,"$10,899.22",2,4.26%,Mango
3,2019,"$12,062.22",11,4.71%,$0.00,0,0.00%,"$12,062.22",11,4.71%,Mango
4,2018,"$15,080.64",12,5.89%,$0.00,0,0.00%,"$15,080.64",12,5.89%,Mango
5,2017,"$32,414.81",20,12.67%,$0.00,0,0.00%,"$32,414.81",20,12.67%,Mango
6,2016,"$47,361.50",27,18.51%,$0.00,0,0.00%,"$47,361.50",27,18.51%,Mango
7,2015,"$23,953.50",28,9.36%,$0.00,0,0.00%,"$23,953.50",28,9.36%,Mango
8,2014,"$20,091.87",20,7.85%,$0.00,0,0.00%,"$20,091.87",20,7.85%,Mango
9,2013,"$6,835.30",21,2.67%,$0.00,0,0.00%,"$6,835.30",21,2.67%,Mango
10,2012,"$3,964.34",11,1.55%,$0.00,0,0.00%,"$3,964.34",11,1.55%,Mango
11,2011,"$4,752.88",12,1.86%,$0.00,0,0.00%,"$4,752.88",12,1.86%,Mango
12,2010,"$1,789.50",7,0.70%,$0.00,0,0.00%,"$1,789.50",7,0.70%,Mango
13,2009,"$9,965.05",26,3.89%,$0.00,0,0.00%,"$9,965.05",26,3.89%,Mango
14,2008,"$1,248.00",1,0.49%,$0.00,0,0.00%,"$1,248.00",1,0.49%,Mango
15,2007,"$1,792.50",4,0.70%,$0.00,0,0.00%,"$1,792.50",4,0.70%,Mango

In [216]:
mango_games = pd.read_html(str(tables), skiprows=1)

In [217]:
mango_games = mango_games[2]
mango_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Fall Guys,"$2,750.00",4,1.07%,|,"$2,750.00",4,1.07%,|,$0.00,0,0.00%
2,Project M,$684.75,3,0.27%,|,$0.00,0,0.00%,|,$684.75,3,0.27%
3,Rivals of Aether,$250.00,1,0.10%,|,$0.00,0,0.00%,|,$250.00,1,0.10%
4,Super Smash Bros. Melee,"$251,701.65",201,98.35%,|,"$12,250.50",2,4.79%,|,"$239,451.15",199,93.57%
5,Super Smash Bros. Ultimate,$526.13,1,0.21%,|,$0.00,0,0.00%,|,$526.13,1,0.21%

In [218]:
mango_games.columns = mango_games.iloc[0]

In [219]:
mango_games = mango_games.drop([0])
mango_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Fall Guys,"$2,750.00",4,1.07%,|,"$2,750.00",4,1.07%,|,$0.00,0,0.00%
2,Project M,$684.75,3,0.27%,|,$0.00,0,0.00%,|,$684.75,3,0.27%
3,Rivals of Aether,$250.00,1,0.10%,|,$0.00,0,0.00%,|,$250.00,1,0.10%
4,Super Smash Bros. Melee,"$251,701.65",201,98.35%,|,"$12,250.50",2,4.79%,|,"$239,451.15",199,93.57%
5,Super Smash Bros. Ultimate,$526.13,1,0.21%,|,$0.00,0,0.00%,|,$526.13,1,0.21%

In [220]:
mango_games['Player ID'] = 'Mango'
mango_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Fall Guys,"$2,750.00",4,1.07%,|,"$2,750.00",4,1.07%,|,$0.00,0,0.00%,Mango
2,Project M,$684.75,3,0.27%,|,$0.00,0,0.00%,|,$684.75,3,0.27%,Mango
3,Rivals of Aether,$250.00,1,0.10%,|,$0.00,0,0.00%,|,$250.00,1,0.10%,Mango
4,Super Smash Bros. Melee,"$251,701.65",201,98.35%,|,"$12,250.50",2,4.79%,|,"$239,451.15",199,93.57%,Mango
5,Super Smash Bros. Ultimate,$526.13,1,0.21%,|,$0.00,0,0.00%,|,$526.13,1,0.21%,Mango

In [221]:
mango_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mango_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Fall Guys,"$2,750.00",4,1.07%,|,"$2,750.00",4,1.07%,|,$0.00,0,0.00%,Mango
2,Project M,$684.75,3,0.27%,|,$0.00,0,0.00%,|,$684.75,3,0.27%,Mango
3,Rivals of Aether,$250.00,1,0.10%,|,$0.00,0,0.00%,|,$250.00,1,0.10%,Mango
4,Super Smash Bros. Melee,"$251,701.65",201,98.35%,|,"$12,250.50",2,4.79%,|,"$239,451.15",199,93.57%,Mango
5,Super Smash Bros. Ultimate,$526.13,1,0.21%,|,$0.00,0,0.00%,|,$526.13,1,0.21%,Mango

In [222]:
mango_games = mango_games.drop(columns=['blank', 'blank1'])
mango_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Fall Guys,"$2,750.00",4,1.07%,"$2,750.00",4,1.07%,$0.00,0,0.00%,Mango
2,Project M,$684.75,3,0.27%,$0.00,0,0.00%,$684.75,3,0.27%,Mango
3,Rivals of Aether,$250.00,1,0.10%,$0.00,0,0.00%,$250.00,1,0.10%,Mango
4,Super Smash Bros. Melee,"$251,701.65",201,98.35%,"$12,250.50",2,4.79%,"$239,451.15",199,93.57%,Mango
5,Super Smash Bros. Ultimate,$526.13,1,0.21%,$0.00,0,0.00%,$526.13,1,0.21%,Mango

## MKLeo

In [223]:
mkleo_url = 'https://www.esportsearnings.com/players/29570-mkleo-leonardo-perez'
response = requests.get(mkleo_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [224]:
mkleo = pd.read_html(str(tables), skiprows=1)

In [225]:
mkleo = mkleo[0]
mkleo

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$31,210.20",8,12.36%,|,"$3,050.00",5,1.21%,|,"$28,160.20",3,11.15%
2,2020.0,"$12,122.80",14,4.80%,|,"$6,208.80",12,2.46%,|,"$5,914.00",2,2.34%
3,2019.0,"$109,819.90",25,43.48%,|,$0.00,0,0.00%,|,"$109,819.90",25,43.48%
4,2018.0,"$27,126.66",15,10.74%,|,$0.00,0,0.00%,|,"$27,126.66",15,10.74%
5,2017.0,"$61,812.35",32,24.47%,|,$0.00,0,0.00%,|,"$61,812.35",32,24.47%
6,2016.0,"$10,484.98",10,4.15%,|,$0.00,0,0.00%,|,"$10,484.98",10,4.15%

In [226]:
mkleo.columns = mkleo.iloc[0]

In [227]:
mkleo = mkleo.drop([0])
mkleo

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$31,210.20",8,12.36%,|,"$3,050.00",5,1.21%,|,"$28,160.20",3,11.15%
2,2020.0,"$12,122.80",14,4.80%,|,"$6,208.80",12,2.46%,|,"$5,914.00",2,2.34%
3,2019.0,"$109,819.90",25,43.48%,|,$0.00,0,0.00%,|,"$109,819.90",25,43.48%
4,2018.0,"$27,126.66",15,10.74%,|,$0.00,0,0.00%,|,"$27,126.66",15,10.74%
5,2017.0,"$61,812.35",32,24.47%,|,$0.00,0,0.00%,|,"$61,812.35",32,24.47%
6,2016.0,"$10,484.98",10,4.15%,|,$0.00,0,0.00%,|,"$10,484.98",10,4.15%

In [228]:
mkleo['Player ID'] = 'MKLeo'
mkleo

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$31,210.20",8,12.36%,|,"$3,050.00",5,1.21%,|,"$28,160.20",3,11.15%,MKLeo
2,2020.0,"$12,122.80",14,4.80%,|,"$6,208.80",12,2.46%,|,"$5,914.00",2,2.34%,MKLeo
3,2019.0,"$109,819.90",25,43.48%,|,$0.00,0,0.00%,|,"$109,819.90",25,43.48%,MKLeo
4,2018.0,"$27,126.66",15,10.74%,|,$0.00,0,0.00%,|,"$27,126.66",15,10.74%,MKLeo
5,2017.0,"$61,812.35",32,24.47%,|,$0.00,0,0.00%,|,"$61,812.35",32,24.47%,MKLeo
6,2016.0,"$10,484.98",10,4.15%,|,$0.00,0,0.00%,|,"$10,484.98",10,4.15%,MKLeo

In [229]:
mkleo.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mkleo

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$31,210.20",8,12.36%,|,"$3,050.00",5,1.21%,|,"$28,160.20",3,11.15%,MKLeo
2,2020.0,"$12,122.80",14,4.80%,|,"$6,208.80",12,2.46%,|,"$5,914.00",2,2.34%,MKLeo
3,2019.0,"$109,819.90",25,43.48%,|,$0.00,0,0.00%,|,"$109,819.90",25,43.48%,MKLeo
4,2018.0,"$27,126.66",15,10.74%,|,$0.00,0,0.00%,|,"$27,126.66",15,10.74%,MKLeo
5,2017.0,"$61,812.35",32,24.47%,|,$0.00,0,0.00%,|,"$61,812.35",32,24.47%,MKLeo
6,2016.0,"$10,484.98",10,4.15%,|,$0.00,0,0.00%,|,"$10,484.98",10,4.15%,MKLeo

In [230]:
mkleo = mkleo.drop(columns=['blank', 'blank1'])

In [231]:
mkleo['Year'] = mkleo['Year'].round().astype(int)
mkleo

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$31,210.20",8,12.36%,"$3,050.00",5,1.21%,"$28,160.20",3,11.15%,MKLeo
2,2020,"$12,122.80",14,4.80%,"$6,208.80",12,2.46%,"$5,914.00",2,2.34%,MKLeo
3,2019,"$109,819.90",25,43.48%,$0.00,0,0.00%,"$109,819.90",25,43.48%,MKLeo
4,2018,"$27,126.66",15,10.74%,$0.00,0,0.00%,"$27,126.66",15,10.74%,MKLeo
5,2017,"$61,812.35",32,24.47%,$0.00,0,0.00%,"$61,812.35",32,24.47%,MKLeo
6,2016,"$10,484.98",10,4.15%,$0.00,0,0.00%,"$10,484.98",10,4.15%,MKLeo

In [232]:
mkleo_games = pd.read_html(str(tables), skiprows=1)

In [233]:
mkleo_games = mkleo_games[2]
mkleo_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Super Smash Bros. Ultimate,"$152,969.90",46,60.56%,|,"$9,258.80",17,3.67%,|,"$143,711.10",29,56.90%
2,Super Smash Bros. for Wii U,"$99,606.99",58,39.44%,|,$0.00,0,0.00%,|,"$99,606.99",58,39.44%

In [234]:
mkleo_games.columns = mkleo_games.iloc[0]

In [235]:
mkleo_games = mkleo_games.drop([0])

In [236]:
mkleo_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Super Smash Bros. Ultimate,"$152,969.90",46,60.56%,|,"$9,258.80",17,3.67%,|,"$143,711.10",29,56.90%
2,Super Smash Bros. for Wii U,"$99,606.99",58,39.44%,|,$0.00,0,0.00%,|,"$99,606.99",58,39.44%

In [237]:
mkleo_games['Player ID'] = 'MKLeo'

In [238]:
mkleo_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Super Smash Bros. Ultimate,"$152,969.90",46,60.56%,|,"$9,258.80",17,3.67%,|,"$143,711.10",29,56.90%,MKLeo
2,Super Smash Bros. for Wii U,"$99,606.99",58,39.44%,|,$0.00,0,0.00%,|,"$99,606.99",58,39.44%,MKLeo

In [239]:
mkleo_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mkleo_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Ultimate,"$152,969.90",46,60.56%,|,"$9,258.80",17,3.67%,|,"$143,711.10",29,56.90%,MKLeo
2,Super Smash Bros. for Wii U,"$99,606.99",58,39.44%,|,$0.00,0,0.00%,|,"$99,606.99",58,39.44%,MKLeo

In [240]:
mkleo_games = mkleo_games.drop(columns=['blank', 'blank1'])
mkleo_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Ultimate,"$152,969.90",46,60.56%,"$9,258.80",17,3.67%,"$143,711.10",29,56.90%,MKLeo
2,Super Smash Bros. for Wii U,"$99,606.99",58,39.44%,$0.00,0,0.00%,"$99,606.99",58,39.44%,MKLeo

## Knee

In [241]:
knee_url = 'https://www.esportsearnings.com/players/1524-knee-bae-jae-min'
response = requests.get(knee_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [242]:
knee = pd.read_html(str(tables), skiprows=1)

In [243]:
knee = knee[0]
knee.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$22,000.00",4,8.70%,|,$0.00,0,0.00%,|,"$22,000.00",4,8.70%
2,2020.0,"$18,128.00",11,7.17%,|,$846.60,2,0.33%,|,"$17,281.40",9,6.84%
3,2019.0,"$85,332.23",14,33.76%,|,$0.00,0,0.00%,|,"$85,332.23",14,33.76%
4,2018.0,"$40,510.95",16,16.03%,|,$0.00,0,0.00%,|,"$40,510.95",16,16.03%

In [244]:
knee.columns = knee.iloc[0]

In [245]:
knee = knee.drop([0])
knee.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$22,000.00",4,8.70%,|,$0.00,0,0.00%,|,"$22,000.00",4,8.70%
2,2020.0,"$18,128.00",11,7.17%,|,$846.60,2,0.33%,|,"$17,281.40",9,6.84%
3,2019.0,"$85,332.23",14,33.76%,|,$0.00,0,0.00%,|,"$85,332.23",14,33.76%
4,2018.0,"$40,510.95",16,16.03%,|,$0.00,0,0.00%,|,"$40,510.95",16,16.03%
5,2017.0,"$23,043.67",10,9.12%,|,$0.00,0,0.00%,|,"$23,043.67",10,9.12%

In [246]:
knee['Player ID'] = 'Knee'
knee.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$22,000.00",4,8.70%,|,$0.00,0,0.00%,|,"$22,000.00",4,8.70%,Knee
2,2020.0,"$18,128.00",11,7.17%,|,$846.60,2,0.33%,|,"$17,281.40",9,6.84%,Knee
3,2019.0,"$85,332.23",14,33.76%,|,$0.00,0,0.00%,|,"$85,332.23",14,33.76%,Knee
4,2018.0,"$40,510.95",16,16.03%,|,$0.00,0,0.00%,|,"$40,510.95",16,16.03%,Knee
5,2017.0,"$23,043.67",10,9.12%,|,$0.00,0,0.00%,|,"$23,043.67",10,9.12%,Knee

In [247]:
knee.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
knee.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$22,000.00",4,8.70%,|,$0.00,0,0.00%,|,"$22,000.00",4,8.70%,Knee
2,2020.0,"$18,128.00",11,7.17%,|,$846.60,2,0.33%,|,"$17,281.40",9,6.84%,Knee
3,2019.0,"$85,332.23",14,33.76%,|,$0.00,0,0.00%,|,"$85,332.23",14,33.76%,Knee
4,2018.0,"$40,510.95",16,16.03%,|,$0.00,0,0.00%,|,"$40,510.95",16,16.03%,Knee
5,2017.0,"$23,043.67",10,9.12%,|,$0.00,0,0.00%,|,"$23,043.67",10,9.12%,Knee

In [248]:
knee['Year'] = knee['Year'].round().astype(int)
knee.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$22,000.00",4,8.70%,|,$0.00,0,0.00%,|,"$22,000.00",4,8.70%,Knee
2,2020,"$18,128.00",11,7.17%,|,$846.60,2,0.33%,|,"$17,281.40",9,6.84%,Knee
3,2019,"$85,332.23",14,33.76%,|,$0.00,0,0.00%,|,"$85,332.23",14,33.76%,Knee
4,2018,"$40,510.95",16,16.03%,|,$0.00,0,0.00%,|,"$40,510.95",16,16.03%,Knee
5,2017,"$23,043.67",10,9.12%,|,$0.00,0,0.00%,|,"$23,043.67",10,9.12%,Knee

In [249]:
knee = knee.drop(columns=['blank', 'blank1'])
knee

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$22,000.00",4,8.70%,$0.00,0,0.00%,"$22,000.00",4,8.70%,Knee
2,2020,"$18,128.00",11,7.17%,$846.60,2,0.33%,"$17,281.40",9,6.84%,Knee
3,2019,"$85,332.23",14,33.76%,$0.00,0,0.00%,"$85,332.23",14,33.76%,Knee
4,2018,"$40,510.95",16,16.03%,$0.00,0,0.00%,"$40,510.95",16,16.03%,Knee
5,2017,"$23,043.67",10,9.12%,$0.00,0,0.00%,"$23,043.67",10,9.12%,Knee
6,2016,"$1,098.00",1,0.43%,$0.00,0,0.00%,"$1,098.00",1,0.43%,Knee
7,2015,"$18,900.28",3,7.48%,$0.00,0,0.00%,"$18,900.28",3,7.48%,Knee
8,2013,"$6,528.00",3,2.58%,$0.00,0,0.00%,"$6,528.00",3,2.58%,Knee
9,2012,"$23,200.00",3,9.18%,$0.00,0,0.00%,"$23,200.00",3,9.18%,Knee
10,2011,"$1,000.00",1,0.40%,$0.00,0,0.00%,"$1,000.00",1,0.40%,Knee
11,2010,"$13,000.00",4,5.14%,$0.00,0,0.00%,"$13,000.00",4,5.14%,Knee

In [250]:
knee_games = pd.read_html(str(tables), skiprows=1)

In [251]:
knee_games = knee_games[2]
knee_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 6,"$14,000.00",5,5.54%,|,$0.00,0,0.00%,|,"$14,000.00",5,5.54%
2,Tekken 7,"$207,013.13",58,81.91%,|,$846.60,2,0.33%,|,"$206,166.53",56,81.57%
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,|,$0.00,0,0.00%,|,"$31,728.00",7,12.55%

In [252]:
knee_games.columns = knee_games.iloc[0]
knee_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 6,"$14,000.00",5,5.54%,|,$0.00,0,0.00%,|,"$14,000.00",5,5.54%
2,Tekken 7,"$207,013.13",58,81.91%,|,$846.60,2,0.33%,|,"$206,166.53",56,81.57%
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,|,$0.00,0,0.00%,|,"$31,728.00",7,12.55%

In [253]:
knee_games = knee_games.drop([0])
knee_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 6,"$14,000.00",5,5.54%,|,$0.00,0,0.00%,|,"$14,000.00",5,5.54%
2,Tekken 7,"$207,013.13",58,81.91%,|,$846.60,2,0.33%,|,"$206,166.53",56,81.57%
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,|,$0.00,0,0.00%,|,"$31,728.00",7,12.55%

In [254]:
knee_games['Player ID'] = 'Knee'
knee_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Tekken 6,"$14,000.00",5,5.54%,|,$0.00,0,0.00%,|,"$14,000.00",5,5.54%,Knee
2,Tekken 7,"$207,013.13",58,81.91%,|,$846.60,2,0.33%,|,"$206,166.53",56,81.57%,Knee
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,|,$0.00,0,0.00%,|,"$31,728.00",7,12.55%,Knee

In [255]:
knee_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
knee_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$14,000.00",5,5.54%,|,$0.00,0,0.00%,|,"$14,000.00",5,5.54%,Knee
2,Tekken 7,"$207,013.13",58,81.91%,|,$846.60,2,0.33%,|,"$206,166.53",56,81.57%,Knee
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,|,$0.00,0,0.00%,|,"$31,728.00",7,12.55%,Knee

In [256]:
knee_games = knee_games.drop(columns=['blank', 'blank1'])
knee_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$14,000.00",5,5.54%,$0.00,0,0.00%,"$14,000.00",5,5.54%,Knee
2,Tekken 7,"$207,013.13",58,81.91%,$846.60,2,0.33%,"$206,166.53",56,81.57%,Knee
3,Tekken Tag Tournament 2,"$31,728.00",7,12.55%,$0.00,0,0.00%,"$31,728.00",7,12.55%,Knee

## Kazunoko

In [257]:
kazunoko_url = 'https://www.esportsearnings.com/players/3471-kazunoko-ryota-inoue'
response = requests.get(kazunoko_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [258]:
kazunoko = pd.read_html(str(tables), skiprows=1)

In [259]:
kazunoko = kazunoko[0]

In [260]:
kazunoko.columns = kazunoko.iloc[0]

In [261]:
kazunoko = kazunoko.drop([0])
kazunoko

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,"$1,600.00",1,0.67%,|,$0.00,0,0.00%,|,"$1,600.00",1,0.67%
2,2019.0,"$20,942.80",10,8.83%,|,$0.00,0,0.00%,|,"$20,942.80",10,8.83%
3,2018.0,"$17,325.72",13,7.31%,|,$0.00,0,0.00%,|,"$17,325.72",13,7.31%
4,2017.0,"$18,532.50",9,7.81%,|,$0.00,0,0.00%,|,"$18,532.50",9,7.81%
5,2016.0,"$29,144.00",7,12.29%,|,$0.00,0,0.00%,|,"$29,144.00",7,12.29%
6,2015.0,"$146,813.83",17,61.91%,|,$0.00,0,0.00%,|,"$146,813.83",17,61.91%
7,2014.0,$600.00,2,0.25%,|,$0.00,0,0.00%,|,$600.00,2,0.25%
8,2013.0,"$1,940.52",2,0.82%,|,$0.00,0,0.00%,|,"$1,940.52",2,0.82%
9,2012.0,$250.00,3,0.11%,|,$0.00,0,0.00%,|,$250.00,3,0.11%

In [262]:
kazunoko['Player ID'] = 'Kazunoko'
kazunoko

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2020.0,"$1,600.00",1,0.67%,|,$0.00,0,0.00%,|,"$1,600.00",1,0.67%,Kazunoko
2,2019.0,"$20,942.80",10,8.83%,|,$0.00,0,0.00%,|,"$20,942.80",10,8.83%,Kazunoko
3,2018.0,"$17,325.72",13,7.31%,|,$0.00,0,0.00%,|,"$17,325.72",13,7.31%,Kazunoko
4,2017.0,"$18,532.50",9,7.81%,|,$0.00,0,0.00%,|,"$18,532.50",9,7.81%,Kazunoko
5,2016.0,"$29,144.00",7,12.29%,|,$0.00,0,0.00%,|,"$29,144.00",7,12.29%,Kazunoko
6,2015.0,"$146,813.83",17,61.91%,|,$0.00,0,0.00%,|,"$146,813.83",17,61.91%,Kazunoko
7,2014.0,$600.00,2,0.25%,|,$0.00,0,0.00%,|,$600.00,2,0.25%,Kazunoko
8,2013.0,"$1,940.52",2,0.82%,|,$0.00,0,0.00%,|,"$1,940.52",2,0.82%,Kazunoko
9,2012.0,$250.00,3,0.11%,|,$0.00,0,0.00%,|,$250.00,3,0.11%,Kazunoko

In [263]:
kazunoko.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
kazunoko

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,"$1,600.00",1,0.67%,|,$0.00,0,0.00%,|,"$1,600.00",1,0.67%,Kazunoko
2,2019.0,"$20,942.80",10,8.83%,|,$0.00,0,0.00%,|,"$20,942.80",10,8.83%,Kazunoko
3,2018.0,"$17,325.72",13,7.31%,|,$0.00,0,0.00%,|,"$17,325.72",13,7.31%,Kazunoko
4,2017.0,"$18,532.50",9,7.81%,|,$0.00,0,0.00%,|,"$18,532.50",9,7.81%,Kazunoko
5,2016.0,"$29,144.00",7,12.29%,|,$0.00,0,0.00%,|,"$29,144.00",7,12.29%,Kazunoko
6,2015.0,"$146,813.83",17,61.91%,|,$0.00,0,0.00%,|,"$146,813.83",17,61.91%,Kazunoko
7,2014.0,$600.00,2,0.25%,|,$0.00,0,0.00%,|,$600.00,2,0.25%,Kazunoko
8,2013.0,"$1,940.52",2,0.82%,|,$0.00,0,0.00%,|,"$1,940.52",2,0.82%,Kazunoko
9,2012.0,$250.00,3,0.11%,|,$0.00,0,0.00%,|,$250.00,3,0.11%,Kazunoko

In [264]:
kazunoko = kazunoko.drop(columns=['blank', 'blank1'])
kazunoko

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,"$1,600.00",1,0.67%,$0.00,0,0.00%,"$1,600.00",1,0.67%,Kazunoko
2,2019.0,"$20,942.80",10,8.83%,$0.00,0,0.00%,"$20,942.80",10,8.83%,Kazunoko
3,2018.0,"$17,325.72",13,7.31%,$0.00,0,0.00%,"$17,325.72",13,7.31%,Kazunoko
4,2017.0,"$18,532.50",9,7.81%,$0.00,0,0.00%,"$18,532.50",9,7.81%,Kazunoko
5,2016.0,"$29,144.00",7,12.29%,$0.00,0,0.00%,"$29,144.00",7,12.29%,Kazunoko
6,2015.0,"$146,813.83",17,61.91%,$0.00,0,0.00%,"$146,813.83",17,61.91%,Kazunoko
7,2014.0,$600.00,2,0.25%,$0.00,0,0.00%,$600.00,2,0.25%,Kazunoko
8,2013.0,"$1,940.52",2,0.82%,$0.00,0,0.00%,"$1,940.52",2,0.82%,Kazunoko
9,2012.0,$250.00,3,0.11%,$0.00,0,0.00%,$250.00,3,0.11%,Kazunoko

In [265]:
kazunoko['Year'] = kazunoko['Year'].round().astype(int)
kazunoko

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020,"$1,600.00",1,0.67%,$0.00,0,0.00%,"$1,600.00",1,0.67%,Kazunoko
2,2019,"$20,942.80",10,8.83%,$0.00,0,0.00%,"$20,942.80",10,8.83%,Kazunoko
3,2018,"$17,325.72",13,7.31%,$0.00,0,0.00%,"$17,325.72",13,7.31%,Kazunoko
4,2017,"$18,532.50",9,7.81%,$0.00,0,0.00%,"$18,532.50",9,7.81%,Kazunoko
5,2016,"$29,144.00",7,12.29%,$0.00,0,0.00%,"$29,144.00",7,12.29%,Kazunoko
6,2015,"$146,813.83",17,61.91%,$0.00,0,0.00%,"$146,813.83",17,61.91%,Kazunoko
7,2014,$600.00,2,0.25%,$0.00,0,0.00%,$600.00,2,0.25%,Kazunoko
8,2013,"$1,940.52",2,0.82%,$0.00,0,0.00%,"$1,940.52",2,0.82%,Kazunoko
9,2012,$250.00,3,0.11%,$0.00,0,0.00%,$250.00,3,0.11%,Kazunoko

In [266]:
kazunoko_games = pd.read_html(str(tables), skiprows=1)

In [267]:
kazunoko_games = kazunoko_games[2]
kazunoko_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Cross Tag Battle,$236.20,1,0.10%,|,$0.00,0,0.00%,|,$236.20,1,0.10%
2,Dragon Ball FighterZ,"$28,992.82",18,12.23%,|,$0.00,0,0.00%,|,"$28,992.82",18,12.23%
3,Guilty Gear Xrd -REVELATOR-,$734.00,2,0.31%,|,$0.00,0,0.00%,|,$734.00,2,0.31%
4,Guilty Gear Xrd -SIGN-,"$2,036.32",7,0.86%,|,$0.00,0,0.00%,|,"$2,036.32",7,0.86%
5,Guilty Gear Xrd REV 2,"$1,589.00",6,0.67%,|,$0.00,0,0.00%,|,"$1,589.00",6,0.67%
6,Marvel vs. Capcom: Infinite,"$2,000.00",1,0.84%,|,$0.00,0,0.00%,|,"$2,000.00",1,0.84%
7,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
8,Samurai Shodown (2019),"$9,458.00",1,3.99%,|,$0.00,0,0.00%,|,"$9,458.00",1,3.99%
9,Street Fighter V,"$44,125.00",10,18.61%,|,$0.00,0,0.00%,|,"$44,125.00",10,18.61%
10,Super Street Fighter IV Arcade Edition,"$2,190.52",4,0.92%,|,$0.00,0,0.00%,|,"$2,190.52",4,0.92%
11,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
12,Ultra Street Fighter IV,"$145,787.51",12,61.47%,|,$0.00,0,0.00%,|,"$145,787.51",12,61.47%

In [268]:
kazunoko_games.columns = kazunoko_games.iloc[0]

In [269]:
kazunoko_games = kazunoko_games.drop([0])
kazunoko_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,BlazBlue: Cross Tag Battle,$236.20,1,0.10%,|,$0.00,0,0.00%,|,$236.20,1,0.10%
2,Dragon Ball FighterZ,"$28,992.82",18,12.23%,|,$0.00,0,0.00%,|,"$28,992.82",18,12.23%
3,Guilty Gear Xrd -REVELATOR-,$734.00,2,0.31%,|,$0.00,0,0.00%,|,$734.00,2,0.31%
4,Guilty Gear Xrd -SIGN-,"$2,036.32",7,0.86%,|,$0.00,0,0.00%,|,"$2,036.32",7,0.86%
5,Guilty Gear Xrd REV 2,"$1,589.00",6,0.67%,|,$0.00,0,0.00%,|,"$1,589.00",6,0.67%
6,Marvel vs. Capcom: Infinite,"$2,000.00",1,0.84%,|,$0.00,0,0.00%,|,"$2,000.00",1,0.84%
7,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
8,Samurai Shodown (2019),"$9,458.00",1,3.99%,|,$0.00,0,0.00%,|,"$9,458.00",1,3.99%
9,Street Fighter V,"$44,125.00",10,18.61%,|,$0.00,0,0.00%,|,"$44,125.00",10,18.61%
10,Super Street Fighter IV Arcade Edition,"$2,190.52",4,0.92%,|,$0.00,0,0.00%,|,"$2,190.52",4,0.92%
11,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
12,Ultra Street Fighter IV,"$145,787.51",12,61.47%,|,$0.00,0,0.00%,|,"$145,787.51",12,61.47%

In [270]:
kazunoko_games['Player ID'] = 'Kazunoko'
kazunoko_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,BlazBlue: Cross Tag Battle,$236.20,1,0.10%,|,$0.00,0,0.00%,|,$236.20,1,0.10%,Kazunoko
2,Dragon Ball FighterZ,"$28,992.82",18,12.23%,|,$0.00,0,0.00%,|,"$28,992.82",18,12.23%,Kazunoko
3,Guilty Gear Xrd -REVELATOR-,$734.00,2,0.31%,|,$0.00,0,0.00%,|,$734.00,2,0.31%,Kazunoko
4,Guilty Gear Xrd -SIGN-,"$2,036.32",7,0.86%,|,$0.00,0,0.00%,|,"$2,036.32",7,0.86%,Kazunoko
5,Guilty Gear Xrd REV 2,"$1,589.00",6,0.67%,|,$0.00,0,0.00%,|,"$1,589.00",6,0.67%,Kazunoko
6,Marvel vs. Capcom: Infinite,"$2,000.00",1,0.84%,|,$0.00,0,0.00%,|,"$2,000.00",1,0.84%,Kazunoko
7,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Kazunoko
8,Samurai Shodown (2019),"$9,458.00",1,3.99%,|,$0.00,0,0.00%,|,"$9,458.00",1,3.99%,Kazunoko
9,Street Fighter V,"$44,125.00",10,18.61%,|,$0.00,0,0.00%,|,"$44,125.00",10,18.61%,Kazunoko
10,Super Street Fighter IV Arcade Edition,"$2,190.52",4,0.92%,|,$0.00,0,0.00%,|,"$2,190.52",4,0.92%,Kazunoko
11,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Kazunoko
12,Ultra Street Fighter IV,"$145,787.51",12,61.47%,|,$0.00,0,0.00%,|,"$145,787.51",12,61.47%,Kazunoko

In [271]:
kazunoko_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
kazunoko_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Cross Tag Battle,$236.20,1,0.10%,|,$0.00,0,0.00%,|,$236.20,1,0.10%,Kazunoko
2,Dragon Ball FighterZ,"$28,992.82",18,12.23%,|,$0.00,0,0.00%,|,"$28,992.82",18,12.23%,Kazunoko
3,Guilty Gear Xrd -REVELATOR-,$734.00,2,0.31%,|,$0.00,0,0.00%,|,$734.00,2,0.31%,Kazunoko
4,Guilty Gear Xrd -SIGN-,"$2,036.32",7,0.86%,|,$0.00,0,0.00%,|,"$2,036.32",7,0.86%,Kazunoko
5,Guilty Gear Xrd REV 2,"$1,589.00",6,0.67%,|,$0.00,0,0.00%,|,"$1,589.00",6,0.67%,Kazunoko

In [272]:
kazunoko_games = kazunoko_games.drop(columns=['blank', 'blank1'])
kazunoko_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,BlazBlue: Cross Tag Battle,$236.20,1,0.10%,$0.00,0,0.00%,$236.20,1,0.10%,Kazunoko
2,Dragon Ball FighterZ,"$28,992.82",18,12.23%,$0.00,0,0.00%,"$28,992.82",18,12.23%,Kazunoko
3,Guilty Gear Xrd -REVELATOR-,$734.00,2,0.31%,$0.00,0,0.00%,$734.00,2,0.31%,Kazunoko
4,Guilty Gear Xrd -SIGN-,"$2,036.32",7,0.86%,$0.00,0,0.00%,"$2,036.32",7,0.86%,Kazunoko
5,Guilty Gear Xrd REV 2,"$1,589.00",6,0.67%,$0.00,0,0.00%,"$1,589.00",6,0.67%,Kazunoko
6,Marvel vs. Capcom: Infinite,"$2,000.00",1,0.84%,$0.00,0,0.00%,"$2,000.00",1,0.84%,Kazunoko
7,Persona 4 Arena,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Kazunoko
8,Samurai Shodown (2019),"$9,458.00",1,3.99%,$0.00,0,0.00%,"$9,458.00",1,3.99%,Kazunoko
9,Street Fighter V,"$44,125.00",10,18.61%,$0.00,0,0.00%,"$44,125.00",10,18.61%,Kazunoko
10,Super Street Fighter IV Arcade Edition,"$2,190.52",4,0.92%,$0.00,0,0.00%,"$2,190.52",4,0.92%,Kazunoko
11,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Kazunoko
12,Ultra Street Fighter IV,"$145,787.51",12,61.47%,$0.00,0,0.00%,"$145,787.51",12,61.47%,Kazunoko

## Infiltration

In [273]:
infiltration_url = 'https://www.esportsearnings.com/players/2510-infiltration-lee-seon-woo'
response = requests.get(infiltration_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [274]:
infiltration = pd.read_html(str(tables), skiprows=1)

In [275]:
infiltration = infiltration[0]
infiltration

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,$730.27,1,0.31%,|,$0.00,0,0.00%,|,$730.27,1,0.31%
2,2019.0,"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%
3,2018.0,"$22,901.10",7,9.66%,|,$0.00,0,0.00%,|,"$22,901.10",7,9.66%
4,2017.0,$500.00,1,0.21%,|,$0.00,0,0.00%,|,$500.00,1,0.21%
5,2016.0,"$80,892.00",6,34.12%,|,$0.00,0,0.00%,|,"$80,892.00",6,34.12%
6,2015.0,"$19,503.33",11,8.23%,|,$0.00,0,0.00%,|,"$19,503.33",11,8.23%
7,2014.0,"$12,497.01",9,5.27%,|,$0.00,0,0.00%,|,"$12,497.01",9,5.27%
8,2013.0,"$8,642.67",8,3.65%,|,$0.00,0,0.00%,|,"$8,642.67",8,3.65%
9,2012.0,"$58,039.45",12,24.48%,|,$0.00,0,0.00%,|,"$58,039.45",12,24.48%
10,2011.0,"$4,972.02",5,2.10%,|,$0.00,0,0.00%,|,"$4,972.02",5,2.10%
11,2010.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [276]:
infiltration.columns = infiltration.iloc[0]
infiltration.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,$730.27,1,0.31%,|,$0.00,0,0.00%,|,$730.27,1,0.31%
2,2019.0,"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%
3,2018.0,"$22,901.10",7,9.66%,|,$0.00,0,0.00%,|,"$22,901.10",7,9.66%
4,2017.0,$500.00,1,0.21%,|,$0.00,0,0.00%,|,$500.00,1,0.21%

In [277]:
infiltration = infiltration.drop([0])
infiltration.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,$730.27,1,0.31%,|,$0.00,0,0.00%,|,$730.27,1,0.31%
2,2019.0,"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%
3,2018.0,"$22,901.10",7,9.66%,|,$0.00,0,0.00%,|,"$22,901.10",7,9.66%
4,2017.0,$500.00,1,0.21%,|,$0.00,0,0.00%,|,$500.00,1,0.21%
5,2016.0,"$80,892.00",6,34.12%,|,$0.00,0,0.00%,|,"$80,892.00",6,34.12%

In [278]:
infiltration['Player ID'] = 'Infiltration'
infiltration

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2020.0,$730.27,1,0.31%,|,$0.00,0,0.00%,|,$730.27,1,0.31%,Infiltration
2,2019.0,"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%,Infiltration
3,2018.0,"$22,901.10",7,9.66%,|,$0.00,0,0.00%,|,"$22,901.10",7,9.66%,Infiltration
4,2017.0,$500.00,1,0.21%,|,$0.00,0,0.00%,|,$500.00,1,0.21%,Infiltration
5,2016.0,"$80,892.00",6,34.12%,|,$0.00,0,0.00%,|,"$80,892.00",6,34.12%,Infiltration
6,2015.0,"$19,503.33",11,8.23%,|,$0.00,0,0.00%,|,"$19,503.33",11,8.23%,Infiltration
7,2014.0,"$12,497.01",9,5.27%,|,$0.00,0,0.00%,|,"$12,497.01",9,5.27%,Infiltration
8,2013.0,"$8,642.67",8,3.65%,|,$0.00,0,0.00%,|,"$8,642.67",8,3.65%,Infiltration
9,2012.0,"$58,039.45",12,24.48%,|,$0.00,0,0.00%,|,"$58,039.45",12,24.48%,Infiltration
10,2011.0,"$4,972.02",5,2.10%,|,$0.00,0,0.00%,|,"$4,972.02",5,2.10%,Infiltration
11,2010.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Infiltration

In [279]:
infiltration.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
infiltration.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,$730.27,1,0.31%,|,$0.00,0,0.00%,|,$730.27,1,0.31%,Infiltration
2,2019.0,"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%,Infiltration
3,2018.0,"$22,901.10",7,9.66%,|,$0.00,0,0.00%,|,"$22,901.10",7,9.66%,Infiltration
4,2017.0,$500.00,1,0.21%,|,$0.00,0,0.00%,|,$500.00,1,0.21%,Infiltration
5,2016.0,"$80,892.00",6,34.12%,|,$0.00,0,0.00%,|,"$80,892.00",6,34.12%,Infiltration

In [280]:
infiltration['Year'] = infiltration['Year'].round().astype(int)

In [281]:
infiltration = infiltration.drop(columns=['blank', 'blank1'])
infiltration.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020,$730.27,1,0.31%,$0.00,0,0.00%,$730.27,1,0.31%,Infiltration
2,2019,"$28,374.00",1,11.97%,$0.00,0,0.00%,"$28,374.00",1,11.97%,Infiltration
3,2018,"$22,901.10",7,9.66%,$0.00,0,0.00%,"$22,901.10",7,9.66%,Infiltration
4,2017,$500.00,1,0.21%,$0.00,0,0.00%,$500.00,1,0.21%,Infiltration
5,2016,"$80,892.00",6,34.12%,$0.00,0,0.00%,"$80,892.00",6,34.12%,Infiltration

In [282]:
infiltration_games = pd.read_html(str(tables), skiprows=1)

In [283]:
infiltration_games = infiltration_games[1]
infiltration_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Samurai Shodown (2019),"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%
2,Street Fighter V,"$81,392.00",7,34.34%,|,$0.00,0,0.00%,|,"$81,392.00",7,34.34%
3,Street Fighter V: Arcade Edition,"$23,631.37",8,9.97%,|,$0.00,0,0.00%,|,"$23,631.37",8,9.97%
4,Street Fighter X Tekken,"$30,773.89",11,12.98%,|,$0.00,0,0.00%,|,"$30,773.89",11,12.98%
5,Super Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
6,Super Street Fighter IV Arcade Edition,"$40,880.25",19,17.25%,|,$0.00,0,0.00%,|,"$40,880.25",19,17.25%
7,Ultra Street Fighter IV,"$32,000.34",15,13.50%,|,$0.00,0,0.00%,|,"$32,000.34",15,13.50%

In [284]:
infiltration_games.columns = infiltration_games.iloc[0]

In [285]:
infiltration_games = infiltration_games.drop([0])
infiltration_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Samurai Shodown (2019),"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%
2,Street Fighter V,"$81,392.00",7,34.34%,|,$0.00,0,0.00%,|,"$81,392.00",7,34.34%
3,Street Fighter V: Arcade Edition,"$23,631.37",8,9.97%,|,$0.00,0,0.00%,|,"$23,631.37",8,9.97%
4,Street Fighter X Tekken,"$30,773.89",11,12.98%,|,$0.00,0,0.00%,|,"$30,773.89",11,12.98%
5,Super Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
6,Super Street Fighter IV Arcade Edition,"$40,880.25",19,17.25%,|,$0.00,0,0.00%,|,"$40,880.25",19,17.25%
7,Ultra Street Fighter IV,"$32,000.34",15,13.50%,|,$0.00,0,0.00%,|,"$32,000.34",15,13.50%

In [286]:
infiltration_games['Player ID'] = 'Infiltration'
infiltration_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Samurai Shodown (2019),"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%,Infiltration
2,Street Fighter V,"$81,392.00",7,34.34%,|,$0.00,0,0.00%,|,"$81,392.00",7,34.34%,Infiltration
3,Street Fighter V: Arcade Edition,"$23,631.37",8,9.97%,|,$0.00,0,0.00%,|,"$23,631.37",8,9.97%,Infiltration
4,Street Fighter X Tekken,"$30,773.89",11,12.98%,|,$0.00,0,0.00%,|,"$30,773.89",11,12.98%,Infiltration
5,Super Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Infiltration
6,Super Street Fighter IV Arcade Edition,"$40,880.25",19,17.25%,|,$0.00,0,0.00%,|,"$40,880.25",19,17.25%,Infiltration
7,Ultra Street Fighter IV,"$32,000.34",15,13.50%,|,$0.00,0,0.00%,|,"$32,000.34",15,13.50%,Infiltration

In [287]:
infiltration_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
    'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
infiltration_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Samurai Shodown (2019),"$28,374.00",1,11.97%,|,$0.00,0,0.00%,|,"$28,374.00",1,11.97%,Infiltration
2,Street Fighter V,"$81,392.00",7,34.34%,|,$0.00,0,0.00%,|,"$81,392.00",7,34.34%,Infiltration
3,Street Fighter V: Arcade Edition,"$23,631.37",8,9.97%,|,$0.00,0,0.00%,|,"$23,631.37",8,9.97%,Infiltration
4,Street Fighter X Tekken,"$30,773.89",11,12.98%,|,$0.00,0,0.00%,|,"$30,773.89",11,12.98%,Infiltration
5,Super Street Fighter IV,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Infiltration
6,Super Street Fighter IV Arcade Edition,"$40,880.25",19,17.25%,|,$0.00,0,0.00%,|,"$40,880.25",19,17.25%,Infiltration
7,Ultra Street Fighter IV,"$32,000.34",15,13.50%,|,$0.00,0,0.00%,|,"$32,000.34",15,13.50%,Infiltration

In [288]:
infiltration_games = infiltration_games.drop(columns=['blank', 'blank1'])
infiltration_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Samurai Shodown (2019),"$28,374.00",1,11.97%,$0.00,0,0.00%,"$28,374.00",1,11.97%,Infiltration
2,Street Fighter V,"$81,392.00",7,34.34%,$0.00,0,0.00%,"$81,392.00",7,34.34%,Infiltration
3,Street Fighter V: Arcade Edition,"$23,631.37",8,9.97%,$0.00,0,0.00%,"$23,631.37",8,9.97%,Infiltration
4,Street Fighter X Tekken,"$30,773.89",11,12.98%,$0.00,0,0.00%,"$30,773.89",11,12.98%,Infiltration
5,Super Street Fighter IV,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Infiltration
6,Super Street Fighter IV Arcade Edition,"$40,880.25",19,17.25%,$0.00,0,0.00%,"$40,880.25",19,17.25%,Infiltration
7,Ultra Street Fighter IV,"$32,000.34",15,13.50%,$0.00,0,0.00%,"$32,000.34",15,13.50%,Infiltration

## Fuudo

In [289]:
fuudo_url = 'https://www.esportsearnings.com/players/1695-fuudo-ai-keita'
response = requests.get(fuudo_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [290]:
fuudo = pd.read_html(str(tables), skiprows=1)

In [291]:
fuudo = fuudo[0]
fuudo.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,720.00",2,0.73%,|,"$1,720.00",2,0.73%,|,$0.00,0,0.00%
2,2020.0,"$19,979.75",3,8.48%,|,"$2,850.00",1,1.21%,|,"$17,129.75",2,7.27%
3,2019.0,"$22,053.72",7,9.36%,|,$0.00,0,0.00%,|,"$22,053.72",7,9.36%
4,2018.0,"$35,309.00",10,14.99%,|,$0.00,0,0.00%,|,"$35,309.00",10,14.99%

In [292]:
fuudo.columns = fuudo.iloc[0]
fuudo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,720.00",2,0.73%,|,"$1,720.00",2,0.73%,|,$0.00,0,0.00%
2,2020.0,"$19,979.75",3,8.48%,|,"$2,850.00",1,1.21%,|,"$17,129.75",2,7.27%
3,2019.0,"$22,053.72",7,9.36%,|,$0.00,0,0.00%,|,"$22,053.72",7,9.36%
4,2018.0,"$35,309.00",10,14.99%,|,$0.00,0,0.00%,|,"$35,309.00",10,14.99%

In [293]:
fuudo = fuudo.drop([0])
fuudo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,720.00",2,0.73%,|,"$1,720.00",2,0.73%,|,$0.00,0,0.00%
2,2020.0,"$19,979.75",3,8.48%,|,"$2,850.00",1,1.21%,|,"$17,129.75",2,7.27%
3,2019.0,"$22,053.72",7,9.36%,|,$0.00,0,0.00%,|,"$22,053.72",7,9.36%
4,2018.0,"$35,309.00",10,14.99%,|,$0.00,0,0.00%,|,"$35,309.00",10,14.99%
5,2017.0,"$41,500.00",9,17.61%,|,$0.00,0,0.00%,|,"$41,500.00",9,17.61%

In [294]:
fuudo['Player ID'] = 'Fuudo'
fuudo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$1,720.00",2,0.73%,|,"$1,720.00",2,0.73%,|,$0.00,0,0.00%,Fuudo
2,2020.0,"$19,979.75",3,8.48%,|,"$2,850.00",1,1.21%,|,"$17,129.75",2,7.27%,Fuudo
3,2019.0,"$22,053.72",7,9.36%,|,$0.00,0,0.00%,|,"$22,053.72",7,9.36%,Fuudo
4,2018.0,"$35,309.00",10,14.99%,|,$0.00,0,0.00%,|,"$35,309.00",10,14.99%,Fuudo
5,2017.0,"$41,500.00",9,17.61%,|,$0.00,0,0.00%,|,"$41,500.00",9,17.61%,Fuudo

In [295]:
fuudo.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
fuudo.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$1,720.00",2,0.73%,|,"$1,720.00",2,0.73%,|,$0.00,0,0.00%,Fuudo
2,2020.0,"$19,979.75",3,8.48%,|,"$2,850.00",1,1.21%,|,"$17,129.75",2,7.27%,Fuudo
3,2019.0,"$22,053.72",7,9.36%,|,$0.00,0,0.00%,|,"$22,053.72",7,9.36%,Fuudo
4,2018.0,"$35,309.00",10,14.99%,|,$0.00,0,0.00%,|,"$35,309.00",10,14.99%,Fuudo
5,2017.0,"$41,500.00",9,17.61%,|,$0.00,0,0.00%,|,"$41,500.00",9,17.61%,Fuudo

In [296]:
fuudo['Year'] = fuudo['Year'].round().astype(int)

In [297]:
fuudo = fuudo.drop(columns=['blank', 'blank1'])
fuudo.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$1,720.00",2,0.73%,"$1,720.00",2,0.73%,$0.00,0,0.00%,Fuudo
2,2020,"$19,979.75",3,8.48%,"$2,850.00",1,1.21%,"$17,129.75",2,7.27%,Fuudo
3,2019,"$22,053.72",7,9.36%,$0.00,0,0.00%,"$22,053.72",7,9.36%,Fuudo
4,2018,"$35,309.00",10,14.99%,$0.00,0,0.00%,"$35,309.00",10,14.99%,Fuudo
5,2017,"$41,500.00",9,17.61%,$0.00,0,0.00%,"$41,500.00",9,17.61%,Fuudo

In [298]:
fuudo_games = pd.read_html(str(tables), skiprows=1)

In [299]:
fuudo_games = fuudo_games[2]
fuudo_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
2,Street Fighter V,"$82,464.00",15,35.00%,|,$0.00,0,0.00%,|,"$82,464.00",15,35.00%
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,|,$0.00,0,0.00%,|,"$57,362.72",17,24.35%
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,|,"$4,570.00",3,1.94%,|,"$17,129.75",2,7.27%
5,Street Fighter X Tekken,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
6,Super Street Fighter IV Arcade Edition,"$48,935.94",14,20.77%,|,$0.00,0,0.00%,|,"$48,935.94",14,20.77%
7,Ultra Street Fighter IV,"$18,161.65",7,7.71%,|,$0.00,0,0.00%,|,"$18,161.65",7,7.71%
8,Virtua Fighter 5,"$7,000.00",1,2.97%,|,$0.00,0,0.00%,|,"$7,000.00",1,2.97%

In [300]:
fuudo_games.columns = fuudo_games.iloc[0]
fuudo_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
2,Street Fighter V,"$82,464.00",15,35.00%,|,$0.00,0,0.00%,|,"$82,464.00",15,35.00%
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,|,$0.00,0,0.00%,|,"$57,362.72",17,24.35%
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,|,"$4,570.00",3,1.94%,|,"$17,129.75",2,7.27%

In [301]:
fuudo_games = fuudo_games.drop([0])
fuudo_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
2,Street Fighter V,"$82,464.00",15,35.00%,|,$0.00,0,0.00%,|,"$82,464.00",15,35.00%
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,|,$0.00,0,0.00%,|,"$57,362.72",17,24.35%
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,|,"$4,570.00",3,1.94%,|,"$17,129.75",2,7.27%
5,Street Fighter X Tekken,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%

In [302]:
fuudo_games['Player ID'] = 'Fuudo'
fuudo_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Fuudo
2,Street Fighter V,"$82,464.00",15,35.00%,|,$0.00,0,0.00%,|,"$82,464.00",15,35.00%,Fuudo
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,|,$0.00,0,0.00%,|,"$57,362.72",17,24.35%,Fuudo
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,|,"$4,570.00",3,1.94%,|,"$17,129.75",2,7.27%,Fuudo
5,Street Fighter X Tekken,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Fuudo

In [303]:
fuudo_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
fuudo_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Fuudo
2,Street Fighter V,"$82,464.00",15,35.00%,|,$0.00,0,0.00%,|,"$82,464.00",15,35.00%,Fuudo
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,|,$0.00,0,0.00%,|,"$57,362.72",17,24.35%,Fuudo
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,|,"$4,570.00",3,1.94%,|,"$17,129.75",2,7.27%,Fuudo
5,Street Fighter X Tekken,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Fuudo

In [304]:
fuudo_games = fuudo_games.drop(columns=['blank', 'blank1'])
fuudo_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dead or Alive 5,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Fuudo
2,Street Fighter V,"$82,464.00",15,35.00%,$0.00,0,0.00%,"$82,464.00",15,35.00%,Fuudo
3,Street Fighter V: Arcade Edition,"$57,362.72",17,24.35%,$0.00,0,0.00%,"$57,362.72",17,24.35%,Fuudo
4,Street Fighter V: Champion Edition,"$21,699.75",5,9.21%,"$4,570.00",3,1.94%,"$17,129.75",2,7.27%,Fuudo
5,Street Fighter X Tekken,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Fuudo
6,Super Street Fighter IV Arcade Edition,"$48,935.94",14,20.77%,$0.00,0,0.00%,"$48,935.94",14,20.77%,Fuudo
7,Ultra Street Fighter IV,"$18,161.65",7,7.71%,$0.00,0,0.00%,"$18,161.65",7,7.71%,Fuudo
8,Virtua Fighter 5,"$7,000.00",1,2.97%,$0.00,0,0.00%,"$7,000.00",1,2.97%,Fuudo

## Momochi

In [305]:
momochi_url = 'https://www.esportsearnings.com/players/2026-momochi-yusuke'
response = requests.get(momochi_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [306]:
momochi = pd.read_html(str(tables), skiprows=1)

In [307]:
momochi = momochi[0]
momochi.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%
2,2020.0,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%
3,2019.0,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%
4,2018.0,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%

In [308]:
momochi.columns = momochi.iloc[0]
momochi.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%
2,2020.0,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%
3,2019.0,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%
4,2018.0,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%

In [309]:
momochi = momochi.drop([0])
momochi.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%
2,2020.0,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%
3,2019.0,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%
4,2018.0,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%
5,2017.0,"$22,050.00",6,9.37%,|,$0.00,0,0.00%,|,"$22,050.00",6,9.37%

In [310]:
momochi['Player ID'] = 'Momochi'
momochi.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%,Momochi
2,2020.0,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%,Momochi
3,2019.0,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%,Momochi
4,2018.0,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%,Momochi
5,2017.0,"$22,050.00",6,9.37%,|,$0.00,0,0.00%,|,"$22,050.00",6,9.37%,Momochi

In [311]:
momochi.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
momochi.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%,Momochi
2,2020.0,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%,Momochi
3,2019.0,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%,Momochi
4,2018.0,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%,Momochi
5,2017.0,"$22,050.00",6,9.37%,|,$0.00,0,0.00%,|,"$22,050.00",6,9.37%,Momochi

In [312]:
momochi['Year']= momochi['Year'].round().astype(int)
momochi.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,$240.00,1,0.10%,|,$240.00,1,0.10%,|,$0.00,0,0.00%,Momochi
2,2020,"$1,425.00",1,0.61%,|,$0.00,0,0.00%,|,"$1,425.00",1,0.61%,Momochi
3,2019,"$64,160.28",4,27.28%,|,$0.00,0,0.00%,|,"$64,160.28",4,27.28%,Momochi
4,2018,"$23,000.00",6,9.78%,|,$0.00,0,0.00%,|,"$23,000.00",6,9.78%,Momochi
5,2017,"$22,050.00",6,9.37%,|,$0.00,0,0.00%,|,"$22,050.00",6,9.37%,Momochi

In [313]:
momochi = momochi.drop(columns=['blank', 'blank1'])
momochi

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,$240.00,1,0.10%,$240.00,1,0.10%,$0.00,0,0.00%,Momochi
2,2020,"$1,425.00",1,0.61%,$0.00,0,0.00%,"$1,425.00",1,0.61%,Momochi
3,2019,"$64,160.28",4,27.28%,$0.00,0,0.00%,"$64,160.28",4,27.28%,Momochi
4,2018,"$23,000.00",6,9.78%,$0.00,0,0.00%,"$23,000.00",6,9.78%,Momochi
5,2017,"$22,050.00",6,9.37%,$0.00,0,0.00%,"$22,050.00",6,9.37%,Momochi
6,2016,"$23,836.66",6,10.13%,$0.00,0,0.00%,"$23,836.66",6,10.13%,Momochi
7,2015,"$57,747.63",9,24.55%,$0.00,0,0.00%,"$57,747.63",9,24.55%,Momochi
8,2014,"$34,791.42",5,14.79%,$0.00,0,0.00%,"$34,791.42",5,14.79%,Momochi
9,2013,"$1,180.00",4,0.50%,$0.00,0,0.00%,"$1,180.00",4,0.50%,Momochi
10,2012,"$5,262.50",4,2.24%,$0.00,0,0.00%,"$5,262.50",4,2.24%,Momochi
11,2011,"$1,306.85",1,0.56%,$0.00,0,0.00%,"$1,306.85",1,0.56%,Momochi
12,2010,$221.38,1,0.09%,$0.00,0,0.00%,$221.38,1,0.09%,Momochi

In [314]:
momochi_games = pd.read_html(str(tables), skiprows=1)

In [315]:
momochi_games = momochi_games[2]
momochi_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.64%
2,Street Fighter IV,$221.38,1,0.09%,|,$0.00,0,0.00%,|,$221.38,1,0.09%
3,Street Fighter V,"$45,886.66",12,19.51%,|,$0.00,0,0.00%,|,"$45,886.66",12,19.51%
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,|,$0.00,0,0.00%,|,"$87,160.28",10,37.05%

In [316]:
momochi_games.columns = momochi_games.iloc[0]
momochi_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.64%
2,Street Fighter IV,$221.38,1,0.09%,|,$0.00,0,0.00%,|,$221.38,1,0.09%
3,Street Fighter V,"$45,886.66",12,19.51%,|,$0.00,0,0.00%,|,"$45,886.66",12,19.51%
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,|,$0.00,0,0.00%,|,"$87,160.28",10,37.05%

In [317]:
momochi_games = momochi_games.drop([0])
momochi_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.64%
2,Street Fighter IV,$221.38,1,0.09%,|,$0.00,0,0.00%,|,$221.38,1,0.09%
3,Street Fighter V,"$45,886.66",12,19.51%,|,$0.00,0,0.00%,|,"$45,886.66",12,19.51%
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,|,$0.00,0,0.00%,|,"$87,160.28",10,37.05%
5,Street Fighter V: Champion Edition,"$1,665.00",2,0.71%,|,$240.00,1,0.10%,|,"$1,425.00",1,0.61%

In [318]:
momochi_games['Player ID'] = 'Momochi'
momochi_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.64%,Momochi
2,Street Fighter IV,$221.38,1,0.09%,|,$0.00,0,0.00%,|,$221.38,1,0.09%,Momochi
3,Street Fighter V,"$45,886.66",12,19.51%,|,$0.00,0,0.00%,|,"$45,886.66",12,19.51%,Momochi
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,|,$0.00,0,0.00%,|,"$87,160.28",10,37.05%,Momochi
5,Street Fighter V: Champion Edition,"$1,665.00",2,0.71%,|,$240.00,1,0.10%,|,"$1,425.00",1,0.61%,Momochi

In [319]:
momochi_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
momochi_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,|,$0.00,0,0.00%,|,"$1,500.00",1,0.64%,Momochi
2,Street Fighter IV,$221.38,1,0.09%,|,$0.00,0,0.00%,|,$221.38,1,0.09%,Momochi
3,Street Fighter V,"$45,886.66",12,19.51%,|,$0.00,0,0.00%,|,"$45,886.66",12,19.51%,Momochi
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,|,$0.00,0,0.00%,|,"$87,160.28",10,37.05%,Momochi
5,Street Fighter V: Champion Edition,"$1,665.00",2,0.71%,|,$240.00,1,0.10%,|,"$1,425.00",1,0.61%,Momochi

In [320]:
momochi_games = momochi_games.drop(columns=['blank', 'blank1'])
momochi_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter III: 3rd Strike,"$1,500.00",1,0.64%,$0.00,0,0.00%,"$1,500.00",1,0.64%,Momochi
2,Street Fighter IV,$221.38,1,0.09%,$0.00,0,0.00%,$221.38,1,0.09%,Momochi
3,Street Fighter V,"$45,886.66",12,19.51%,$0.00,0,0.00%,"$45,886.66",12,19.51%,Momochi
4,Street Fighter V: Arcade Edition,"$87,160.28",10,37.05%,$0.00,0,0.00%,"$87,160.28",10,37.05%,Momochi
5,Street Fighter V: Champion Edition,"$1,665.00",2,0.71%,$240.00,1,0.10%,"$1,425.00",1,0.61%,Momochi
6,Street Fighter X Tekken,"$2,480.00",3,1.05%,$0.00,0,0.00%,"$2,480.00",3,1.05%,Momochi
7,Super Street Fighter IV Arcade Edition,"$5,129.95",6,2.18%,$0.00,0,0.00%,"$5,129.95",6,2.18%,Momochi
8,Ultra Street Fighter IV,"$91,178.45",13,38.76%,$0.00,0,0.00%,"$91,178.45",13,38.76%,Momochi

## ZeRo

In [321]:
zero_url = 'https://www.esportsearnings.com/players/5750-zero-gonzalo-barrios'
response = requests.get(zero_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [322]:
zero = pd.read_html(str(tables), skiprows=1)

In [323]:
zero = zero[0]
zero.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%

In [324]:
zero.columns = zero.iloc[0]
zero

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%
6,2013.0,"$1,015.80",18,0.56%,|,$0.00,0,0.00%,|,"$1,015.80",18,0.56%
7,2012.0,$407.50,3,0.22%,|,$0.00,0,0.00%,|,$407.50,3,0.22%

In [325]:
zero = zero.drop([0])
zero.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%

In [326]:
zero['Player ID'] = 'ZeRo'
zero.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,ZeRo
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%,ZeRo
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%,ZeRo
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%,ZeRo
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%,ZeRo

In [327]:
zero.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
zero.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,ZeRo
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%,ZeRo
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%,ZeRo
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%,ZeRo
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%,ZeRo

In [328]:
zero['Year'] = zero['Year'].round().astype(int)
zero.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,ZeRo
2,2017,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%,ZeRo
3,2016,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%,ZeRo
4,2015,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%,ZeRo
5,2014,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%,ZeRo

In [329]:
zero = zero.drop(columns=['blank', 'blank1'])
zero

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019,$925.73,3,0.51%,$0.00,0,0.00%,$925.73,3,0.51%,ZeRo
2,2017,"$79,457.85",47,43.47%,$0.00,0,0.00%,"$79,457.85",47,43.47%,ZeRo
3,2016,"$41,029.92",32,22.45%,$0.00,0,0.00%,"$41,029.92",32,22.45%,ZeRo
4,2015,"$50,230.25",36,27.48%,$500.00,1,0.27%,"$49,730.25",35,27.21%,ZeRo
5,2014,"$9,711.84",31,5.31%,$500.00,1,0.27%,"$9,211.84",30,5.04%,ZeRo
6,2013,"$1,015.80",18,0.56%,$0.00,0,0.00%,"$1,015.80",18,0.56%,ZeRo
7,2012,$407.50,3,0.22%,$0.00,0,0.00%,$407.50,3,0.22%,ZeRo

In [330]:
zero_games = pd.read_html(str(tables), skiprows=1)

In [331]:
zero_games = zero_games[2]
zero_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%

In [332]:
zero_games.columns = zero_games.iloc[0]
zero_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%

In [333]:
zero_games = zero_games.drop([0])
zero_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%

In [334]:
zero_games['Player ID'] = 'ZeRo'
zero_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%,ZeRo
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%,ZeRo
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%,ZeRo
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%,ZeRo
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,ZeRo

In [335]:
zero_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
zero_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%,ZeRo
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%,ZeRo
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%,ZeRo
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%,ZeRo
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,ZeRo

In [336]:
zero_games = zero_games.drop(columns=['blank', 'blank1'])
zero_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$6,377.22",18,3.49%,$0.00,0,0.00%,"$6,377.22",18,3.49%,ZeRo
2,Super Smash Bros.,$12.00,1,0.01%,$0.00,0,0.00%,$12.00,1,0.01%,ZeRo
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,$0.00,0,0.00%,"$3,735.30",23,2.04%,ZeRo
4,Super Smash Bros. Melee,$408.62,9,0.22%,$0.00,0,0.00%,$408.62,9,0.22%,ZeRo
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,$0.00,0,0.00%,$925.73,3,0.51%,ZeRo
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,"$1,000.00",2,0.55%,"$170,320.02",114,93.18%,ZeRo

## Sandstorm

In [337]:
sandstorm_url = 'https://www.esportsearnings.com/players/5750-zero-gonzalo-barrios'
response = requests.get(sandstorm_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [338]:
sandstorm = pd.read_html(str(tables), skiprows=1)

In [339]:
sandstorm = sandstorm[0]
sandstorm.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%

In [340]:
sandstorm.columns = sandstorm.iloc[0]

In [341]:
sandstorm = sandstorm.drop([0])
sandstorm.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%

In [342]:
sandstorm['Player ID'] = 'Sandstorm'
sandstorm.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,Sandstorm
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%,Sandstorm
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%,Sandstorm
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%,Sandstorm
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%,Sandstorm

In [343]:
sandstorm.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
sandstorm.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019.0,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,Sandstorm
2,2017.0,"$79,457.85",47,43.47%,|,$0.00,0,0.00%,|,"$79,457.85",47,43.47%,Sandstorm
3,2016.0,"$41,029.92",32,22.45%,|,$0.00,0,0.00%,|,"$41,029.92",32,22.45%,Sandstorm
4,2015.0,"$50,230.25",36,27.48%,|,$500.00,1,0.27%,|,"$49,730.25",35,27.21%,Sandstorm
5,2014.0,"$9,711.84",31,5.31%,|,$500.00,1,0.27%,|,"$9,211.84",30,5.04%,Sandstorm

In [344]:
sandstorm['Year'] = sandstorm['Year'].round().astype(int)

In [345]:
sandstorm = sandstorm.drop(columns=['blank', 'blank1'])
sandstorm

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019,$925.73,3,0.51%,$0.00,0,0.00%,$925.73,3,0.51%,Sandstorm
2,2017,"$79,457.85",47,43.47%,$0.00,0,0.00%,"$79,457.85",47,43.47%,Sandstorm
3,2016,"$41,029.92",32,22.45%,$0.00,0,0.00%,"$41,029.92",32,22.45%,Sandstorm
4,2015,"$50,230.25",36,27.48%,$500.00,1,0.27%,"$49,730.25",35,27.21%,Sandstorm
5,2014,"$9,711.84",31,5.31%,$500.00,1,0.27%,"$9,211.84",30,5.04%,Sandstorm
6,2013,"$1,015.80",18,0.56%,$0.00,0,0.00%,"$1,015.80",18,0.56%,Sandstorm
7,2012,$407.50,3,0.22%,$0.00,0,0.00%,$407.50,3,0.22%,Sandstorm

In [346]:
sandstorm_games = pd.read_html(str(tables), skiprows=1)

In [347]:
sandstorm_games = sandstorm_games[2]
sandstorm_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%

In [348]:
sandstorm_games.columns = sandstorm_games.iloc[0]
sandstorm_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%

In [349]:
sandstorm_games = sandstorm_games.drop([0])
sandstorm_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%

In [350]:
sandstorm_games['Player ID'] = 'Sandstorm'
sandstorm_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%,Sandstorm
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%,Sandstorm
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%,Sandstorm
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%,Sandstorm
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,Sandstorm
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%,Sandstorm

In [351]:
sandstorm_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
sandstorm_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$6,377.22",18,3.49%,|,$0.00,0,0.00%,|,"$6,377.22",18,3.49%,Sandstorm
2,Super Smash Bros.,$12.00,1,0.01%,|,$0.00,0,0.00%,|,$12.00,1,0.01%,Sandstorm
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,|,$0.00,0,0.00%,|,"$3,735.30",23,2.04%,Sandstorm
4,Super Smash Bros. Melee,$408.62,9,0.22%,|,$0.00,0,0.00%,|,$408.62,9,0.22%,Sandstorm
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,|,$0.00,0,0.00%,|,$925.73,3,0.51%,Sandstorm
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,|,"$1,000.00",2,0.55%,|,"$170,320.02",114,93.18%,Sandstorm

In [352]:
sandstorm_games = sandstorm_games.drop(columns=['blank', 'blank1'])
sandstorm_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$6,377.22",18,3.49%,$0.00,0,0.00%,"$6,377.22",18,3.49%,Sandstorm
2,Super Smash Bros.,$12.00,1,0.01%,$0.00,0,0.00%,$12.00,1,0.01%,Sandstorm
3,Super Smash Bros. Brawl,"$3,735.30",23,2.04%,$0.00,0,0.00%,"$3,735.30",23,2.04%,Sandstorm
4,Super Smash Bros. Melee,$408.62,9,0.22%,$0.00,0,0.00%,$408.62,9,0.22%,Sandstorm
5,Super Smash Bros. Ultimate,$925.73,3,0.51%,$0.00,0,0.00%,$925.73,3,0.51%,Sandstorm
6,Super Smash Bros. for Wii U,"$171,320.02",116,93.73%,"$1,000.00",2,0.55%,"$170,320.02",114,93.18%,Sandstorm

## A Foxy Grampa

In [353]:
afoxygrandpa_url = 'https://www.esportsearnings.com/players/18711-a-foxy-grampa-denom-jones'
response = requests.get(afoxygrandpa_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [354]:
afoxygrandpa = pd.read_html(str(tables), skiprows=1)

In [355]:
afoxygrandpa = afoxygrandpa[0]
afoxygrandpa.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$2,000.00",1,1.16%,|,$0.00,0,0.00%,|,"$2,000.00",1,1.16%
2,2020.0,"$16,000.00",2,9.27%,|,$0.00,0,0.00%,|,"$16,000.00",2,9.27%
3,2019.0,"$12,502.43",13,7.24%,|,$25.00,1,0.01%,|,"$12,477.43",12,7.23%
4,2018.0,$308.42,2,0.18%,|,$0.00,0,0.00%,|,$308.42,2,0.18%

In [356]:
afoxygrandpa.columns = afoxygrandpa.iloc[0]

In [357]:
afoxygrandpa = afoxygrandpa.drop([0])
afoxygrandpa.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$2,000.00",1,1.16%,|,$0.00,0,0.00%,|,"$2,000.00",1,1.16%
2,2020.0,"$16,000.00",2,9.27%,|,$0.00,0,0.00%,|,"$16,000.00",2,9.27%
3,2019.0,"$12,502.43",13,7.24%,|,$25.00,1,0.01%,|,"$12,477.43",12,7.23%
4,2018.0,$308.42,2,0.18%,|,$0.00,0,0.00%,|,$308.42,2,0.18%
5,2017.0,"$57,198.35",7,33.14%,|,$0.00,0,0.00%,|,"$57,198.35",7,33.14%

In [358]:
afoxygrandpa['Player ID'] = 'A Foxy Grampa'
afoxygrandpa.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$2,000.00",1,1.16%,|,$0.00,0,0.00%,|,"$2,000.00",1,1.16%,A Foxy Grampa
2,2020.0,"$16,000.00",2,9.27%,|,$0.00,0,0.00%,|,"$16,000.00",2,9.27%,A Foxy Grampa
3,2019.0,"$12,502.43",13,7.24%,|,$25.00,1,0.01%,|,"$12,477.43",12,7.23%,A Foxy Grampa
4,2018.0,$308.42,2,0.18%,|,$0.00,0,0.00%,|,$308.42,2,0.18%,A Foxy Grampa
5,2017.0,"$57,198.35",7,33.14%,|,$0.00,0,0.00%,|,"$57,198.35",7,33.14%,A Foxy Grampa

In [359]:
afoxygrandpa.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
afoxygrandpa.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$2,000.00",1,1.16%,|,$0.00,0,0.00%,|,"$2,000.00",1,1.16%,A Foxy Grampa
2,2020.0,"$16,000.00",2,9.27%,|,$0.00,0,0.00%,|,"$16,000.00",2,9.27%,A Foxy Grampa
3,2019.0,"$12,502.43",13,7.24%,|,$25.00,1,0.01%,|,"$12,477.43",12,7.23%,A Foxy Grampa
4,2018.0,$308.42,2,0.18%,|,$0.00,0,0.00%,|,$308.42,2,0.18%,A Foxy Grampa
5,2017.0,"$57,198.35",7,33.14%,|,$0.00,0,0.00%,|,"$57,198.35",7,33.14%,A Foxy Grampa

In [360]:
afoxygrandpa['Year'] = afoxygrandpa['Year'].round().astype(int)

In [361]:
afoxygrandpa = afoxygrandpa.drop(columns=['blank', 'blank1'])
afoxygrandpa

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$2,000.00",1,1.16%,$0.00,0,0.00%,"$2,000.00",1,1.16%,A Foxy Grampa
2,2020,"$16,000.00",2,9.27%,$0.00,0,0.00%,"$16,000.00",2,9.27%,A Foxy Grampa
3,2019,"$12,502.43",13,7.24%,$25.00,1,0.01%,"$12,477.43",12,7.23%,A Foxy Grampa
4,2018,$308.42,2,0.18%,$0.00,0,0.00%,$308.42,2,0.18%,A Foxy Grampa
5,2017,"$57,198.35",7,33.14%,$0.00,0,0.00%,"$57,198.35",7,33.14%,A Foxy Grampa
6,2016,"$63,531.50",4,36.81%,$0.00,0,0.00%,"$63,531.50",4,36.81%,A Foxy Grampa
7,2015,"$21,032.23",3,12.19%,$0.00,0,0.00%,"$21,032.23",3,12.19%,A Foxy Grampa

In [362]:
afoxygrandpa_games = pd.read_html(str(tables), skiprows=1)

In [363]:
afoxygrandpa_games = afoxygrandpa_games[1]
afoxygrandpa_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dragon Ball FighterZ,$232.22,1,0.13%,|,$0.00,0,0.00%,|,$232.22,1,0.13%
2,Injustice 2,"$57,169.35",6,33.13%,|,$0.00,0,0.00%,|,"$57,169.35",6,33.13%
3,Mortal Kombat 11,"$30,502.43",16,17.68%,|,$25.00,1,0.01%,|,"$30,477.43",15,17.66%
4,Mortal Kombat X,"$72,022.23",5,41.73%,|,$0.00,0,0.00%,|,"$72,022.23",5,41.73%
5,Mortal Kombat XL,"$12,646.70",4,7.33%,|,$0.00,0,0.00%,|,"$12,646.70",4,7.33%

In [364]:
afoxygrandpa_games.columns = afoxygrandpa_games.iloc[0]

In [365]:
afoxygrandpa_games = afoxygrandpa_games.drop([0])

In [366]:
afoxygrandpa_games['Player ID'] = 'A Foxy Grampa'
afoxygrandpa_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Dragon Ball FighterZ,$232.22,1,0.13%,|,$0.00,0,0.00%,|,$232.22,1,0.13%,A Foxy Grampa
2,Injustice 2,"$57,169.35",6,33.13%,|,$0.00,0,0.00%,|,"$57,169.35",6,33.13%,A Foxy Grampa
3,Mortal Kombat 11,"$30,502.43",16,17.68%,|,$25.00,1,0.01%,|,"$30,477.43",15,17.66%,A Foxy Grampa
4,Mortal Kombat X,"$72,022.23",5,41.73%,|,$0.00,0,0.00%,|,"$72,022.23",5,41.73%,A Foxy Grampa
5,Mortal Kombat XL,"$12,646.70",4,7.33%,|,$0.00,0,0.00%,|,"$12,646.70",4,7.33%,A Foxy Grampa

In [367]:
afoxygrandpa_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
    'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
afoxygrandpa_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dragon Ball FighterZ,$232.22,1,0.13%,|,$0.00,0,0.00%,|,$232.22,1,0.13%,A Foxy Grampa
2,Injustice 2,"$57,169.35",6,33.13%,|,$0.00,0,0.00%,|,"$57,169.35",6,33.13%,A Foxy Grampa
3,Mortal Kombat 11,"$30,502.43",16,17.68%,|,$25.00,1,0.01%,|,"$30,477.43",15,17.66%,A Foxy Grampa
4,Mortal Kombat X,"$72,022.23",5,41.73%,|,$0.00,0,0.00%,|,"$72,022.23",5,41.73%,A Foxy Grampa
5,Mortal Kombat XL,"$12,646.70",4,7.33%,|,$0.00,0,0.00%,|,"$12,646.70",4,7.33%,A Foxy Grampa

In [368]:
afoxygrandpa_games = afoxygrandpa_games.drop(columns=['blank', 'blank1'])
afoxygrandpa_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dragon Ball FighterZ,$232.22,1,0.13%,$0.00,0,0.00%,$232.22,1,0.13%,A Foxy Grampa
2,Injustice 2,"$57,169.35",6,33.13%,$0.00,0,0.00%,"$57,169.35",6,33.13%,A Foxy Grampa
3,Mortal Kombat 11,"$30,502.43",16,17.68%,$25.00,1,0.01%,"$30,477.43",15,17.66%,A Foxy Grampa
4,Mortal Kombat X,"$72,022.23",5,41.73%,$0.00,0,0.00%,"$72,022.23",5,41.73%,A Foxy Grampa
5,Mortal Kombat XL,"$12,646.70",4,7.33%,$0.00,0,0.00%,"$12,646.70",4,7.33%,A Foxy Grampa

## Leffen

In [369]:
leffen_url = 'https://www.esportsearnings.com/players/5742-leffen-william-hjelte'
response = requests.get(leffen_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [370]:
leffen = pd.read_html(str(tables), skiprows=1)

In [371]:
leffen = leffen[0]
leffen.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,756.30",2,1.08%,|,$156.30,1,0.10%,|,"$1,600.00",1,0.98%
2,2020.0,"$2,694.31",4,1.65%,|,$855.34,2,0.52%,|,"$1,838.97",2,1.13%
3,2019.0,"$16,113.77",9,9.89%,|,$0.00,0,0.00%,|,"$16,113.77",9,9.89%
4,2018.0,"$32,223.31",13,19.77%,|,$0.00,0,0.00%,|,"$32,223.31",13,19.77%

In [372]:
leffen.columns = leffen.iloc[0]

In [373]:
leffen = leffen.drop([0])

In [374]:
leffen['Player ID'] = 'Leffen'
leffen.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$1,756.30",2,1.08%,|,$156.30,1,0.10%,|,"$1,600.00",1,0.98%,Leffen
2,2020.0,"$2,694.31",4,1.65%,|,$855.34,2,0.52%,|,"$1,838.97",2,1.13%,Leffen
3,2019.0,"$16,113.77",9,9.89%,|,$0.00,0,0.00%,|,"$16,113.77",9,9.89%,Leffen
4,2018.0,"$32,223.31",13,19.77%,|,$0.00,0,0.00%,|,"$32,223.31",13,19.77%,Leffen
5,2017.0,"$41,301.32",29,25.34%,|,$0.00,0,0.00%,|,"$41,301.32",29,25.34%,Leffen

In [375]:
leffen.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
leffen.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$1,756.30",2,1.08%,|,$156.30,1,0.10%,|,"$1,600.00",1,0.98%,Leffen
2,2020.0,"$2,694.31",4,1.65%,|,$855.34,2,0.52%,|,"$1,838.97",2,1.13%,Leffen
3,2019.0,"$16,113.77",9,9.89%,|,$0.00,0,0.00%,|,"$16,113.77",9,9.89%,Leffen
4,2018.0,"$32,223.31",13,19.77%,|,$0.00,0,0.00%,|,"$32,223.31",13,19.77%,Leffen
5,2017.0,"$41,301.32",29,25.34%,|,$0.00,0,0.00%,|,"$41,301.32",29,25.34%,Leffen

In [376]:
leffen['Year'] = leffen['Year'].round().astype(int)

In [377]:
leffen = leffen.drop(columns=['blank', 'blank1'])
leffen

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$1,756.30",2,1.08%,$156.30,1,0.10%,"$1,600.00",1,0.98%,Leffen
2,2020,"$2,694.31",4,1.65%,$855.34,2,0.52%,"$1,838.97",2,1.13%,Leffen
3,2019,"$16,113.77",9,9.89%,$0.00,0,0.00%,"$16,113.77",9,9.89%,Leffen
4,2018,"$32,223.31",13,19.77%,$0.00,0,0.00%,"$32,223.31",13,19.77%,Leffen
5,2017,"$41,301.32",29,25.34%,$0.00,0,0.00%,"$41,301.32",29,25.34%,Leffen
6,2016,"$23,868.76",26,14.65%,$0.00,0,0.00%,"$23,868.76",26,14.65%,Leffen
7,2015,"$37,357.87",39,22.92%,$0.00,0,0.00%,"$37,357.87",39,22.92%,Leffen
8,2014,"$6,532.30",14,4.01%,$0.00,0,0.00%,"$6,532.30",14,4.01%,Leffen
9,2013,$27.40,1,0.02%,$0.00,0,0.00%,$27.40,1,0.02%,Leffen
10,2012,$774.54,4,0.48%,$0.00,0,0.00%,$774.54,4,0.48%,Leffen
11,2011,$329.23,5,0.20%,$0.00,0,0.00%,$329.23,5,0.20%,Leffen

In [378]:
leffen_games = pd.read_html(str(tables), skiprows=1)

In [379]:
leffen_games = leffen_games[2]
leffen_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Dragon Ball FighterZ,"$2,730.11",2,1.68%,|,$0.00,0,0.00%,|,"$2,730.11",2,1.68%
2,Fall Guys,$500.00,1,0.31%,|,$500.00,1,0.31%,|,$0.00,0,0.00%
3,Guilty Gear -STRIVE-,$156.30,1,0.10%,|,$156.30,1,0.10%,|,$0.00,0,0.00%
4,Project M,$249.92,5,0.15%,|,$0.00,0,0.00%,|,$249.92,5,0.15%

In [380]:
leffen_games.columns = leffen_games.iloc[0]

In [381]:
leffen_games = leffen_games.drop([0])

In [382]:
leffen_games['Player ID'] = 'Leffen'
leffen_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Dragon Ball FighterZ,"$2,730.11",2,1.68%,|,$0.00,0,0.00%,|,"$2,730.11",2,1.68%,Leffen
2,Fall Guys,$500.00,1,0.31%,|,$500.00,1,0.31%,|,$0.00,0,0.00%,Leffen
3,Guilty Gear -STRIVE-,$156.30,1,0.10%,|,$156.30,1,0.10%,|,$0.00,0,0.00%,Leffen
4,Project M,$249.92,5,0.15%,|,$0.00,0,0.00%,|,$249.92,5,0.15%,Leffen
5,Super Smash Bros. Melee,"$154,966.56",133,95.08%,|,$355.34,1,0.22%,|,"$154,611.22",132,94.87%,Leffen

In [383]:
leffen_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
leffen_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dragon Ball FighterZ,"$2,730.11",2,1.68%,|,$0.00,0,0.00%,|,"$2,730.11",2,1.68%,Leffen
2,Fall Guys,$500.00,1,0.31%,|,$500.00,1,0.31%,|,$0.00,0,0.00%,Leffen
3,Guilty Gear -STRIVE-,$156.30,1,0.10%,|,$156.30,1,0.10%,|,$0.00,0,0.00%,Leffen
4,Project M,$249.92,5,0.15%,|,$0.00,0,0.00%,|,$249.92,5,0.15%,Leffen
5,Super Smash Bros. Melee,"$154,966.56",133,95.08%,|,$355.34,1,0.22%,|,"$154,611.22",132,94.87%,Leffen

In [384]:
leffen_games = leffen_games.drop(columns=['blank', 'blank1'])
leffen_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dragon Ball FighterZ,"$2,730.11",2,1.68%,$0.00,0,0.00%,"$2,730.11",2,1.68%,Leffen
2,Fall Guys,$500.00,1,0.31%,$500.00,1,0.31%,$0.00,0,0.00%,Leffen
3,Guilty Gear -STRIVE-,$156.30,1,0.10%,$156.30,1,0.10%,$0.00,0,0.00%,Leffen
4,Project M,$249.92,5,0.15%,$0.00,0,0.00%,$249.92,5,0.15%,Leffen
5,Super Smash Bros. Melee,"$154,966.56",133,95.08%,$355.34,1,0.22%,"$154,611.22",132,94.87%,Leffen
6,Super Smash Bros. Ultimate,"$4,215.17",3,2.59%,$0.00,0,0.00%,"$4,215.17",3,2.59%,Leffen
7,Super Smash Bros. for Wii U,$161.05,1,0.10%,$0.00,0,0.00%,$161.05,1,0.10%,Leffen

## Fujimura

In [385]:
fujimura_url = 'https://www.esportsearnings.com/players/30579-fujimura-atsushi'
response = requests.get(fujimura_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [386]:
fujimura = pd.read_html(str(tables), skiprows=1)

In [387]:
fujimura = fujimura[0]
fujimura

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%
2,2019.0,"$17,926.40",6,12.19%,|,$0.00,0,0.00%,|,"$17,926.40",6,12.19%
3,2018.0,"$71,474.80",13,48.60%,|,$0.00,0,0.00%,|,"$71,474.80",13,48.60%
4,2017.0,"$39,975.00",7,27.18%,|,$0.00,0,0.00%,|,"$39,975.00",7,27.18%
5,2016.0,"$17,460.28",3,11.87%,|,$0.00,0,0.00%,|,"$17,460.28",3,11.87%

In [388]:
fujimura.columns = fujimura.iloc[0]

In [389]:
fujimura = fujimura.drop([0])

In [390]:
fujimura['Player ID'] = 'Fujimura'
fujimura

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%,Fujimura
2,2019.0,"$17,926.40",6,12.19%,|,$0.00,0,0.00%,|,"$17,926.40",6,12.19%,Fujimura
3,2018.0,"$71,474.80",13,48.60%,|,$0.00,0,0.00%,|,"$71,474.80",13,48.60%,Fujimura
4,2017.0,"$39,975.00",7,27.18%,|,$0.00,0,0.00%,|,"$39,975.00",7,27.18%,Fujimura
5,2016.0,"$17,460.28",3,11.87%,|,$0.00,0,0.00%,|,"$17,460.28",3,11.87%,Fujimura

In [391]:
fujimura.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
fujimura

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%,Fujimura
2,2019.0,"$17,926.40",6,12.19%,|,$0.00,0,0.00%,|,"$17,926.40",6,12.19%,Fujimura
3,2018.0,"$71,474.80",13,48.60%,|,$0.00,0,0.00%,|,"$71,474.80",13,48.60%,Fujimura
4,2017.0,"$39,975.00",7,27.18%,|,$0.00,0,0.00%,|,"$39,975.00",7,27.18%,Fujimura
5,2016.0,"$17,460.28",3,11.87%,|,$0.00,0,0.00%,|,"$17,460.28",3,11.87%,Fujimura

In [392]:
fujimura['Year'] = fujimura['Year'].round().astype(int)

In [393]:
fujimura = fujimura.drop(columns=['blank', 'blank1'])
fujimura

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,$240.00,1,0.16%,$240.00,1,0.16%,$0.00,0,0.00%,Fujimura
2,2019,"$17,926.40",6,12.19%,$0.00,0,0.00%,"$17,926.40",6,12.19%,Fujimura
3,2018,"$71,474.80",13,48.60%,$0.00,0,0.00%,"$71,474.80",13,48.60%,Fujimura
4,2017,"$39,975.00",7,27.18%,$0.00,0,0.00%,"$39,975.00",7,27.18%,Fujimura
5,2016,"$17,460.28",3,11.87%,$0.00,0,0.00%,"$17,460.28",3,11.87%,Fujimura

In [394]:
fujimura_games = pd.read_html(str(tables), skiprows=1)

In [395]:
fujimura_games = fujimura_games[1]
fujimura_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$57,935.28",11,39.39%,|,$0.00,0,0.00%,|,"$57,935.28",11,39.39%
2,Street Fighter V: Arcade Edition,"$88,901.20",18,60.45%,|,$0.00,0,0.00%,|,"$88,901.20",18,60.45%
3,Street Fighter V: Champion Edition,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%

In [396]:
fujimura_games.columns = fujimura_games.iloc[0]

In [397]:
fujimura_games = fujimura_games.drop([0])

In [398]:
fujimura_games['Player ID'] = 'Fujimura'
fujimura_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$57,935.28",11,39.39%,|,$0.00,0,0.00%,|,"$57,935.28",11,39.39%,Fujimura
2,Street Fighter V: Arcade Edition,"$88,901.20",18,60.45%,|,$0.00,0,0.00%,|,"$88,901.20",18,60.45%,Fujimura
3,Street Fighter V: Champion Edition,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%,Fujimura

In [399]:
fujimura_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
fujimura_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$57,935.28",11,39.39%,|,$0.00,0,0.00%,|,"$57,935.28",11,39.39%,Fujimura
2,Street Fighter V: Arcade Edition,"$88,901.20",18,60.45%,|,$0.00,0,0.00%,|,"$88,901.20",18,60.45%,Fujimura
3,Street Fighter V: Champion Edition,$240.00,1,0.16%,|,$240.00,1,0.16%,|,$0.00,0,0.00%,Fujimura

In [400]:
fujimura_games = fujimura_games.drop(columns=['blank', 'blank1'])
fujimura_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$57,935.28",11,39.39%,$0.00,0,0.00%,"$57,935.28",11,39.39%,Fujimura
2,Street Fighter V: Arcade Edition,"$88,901.20",18,60.45%,$0.00,0,0.00%,"$88,901.20",18,60.45%,Fujimura
3,Street Fighter V: Champion Edition,$240.00,1,0.16%,$240.00,1,0.16%,$0.00,0,0.00%,Fujimura

## Itabashi Zangief

In [401]:
itabashi_url = 'https://www.esportsearnings.com/players/2032-itabashi-zangief-kumada-hiromiki'
response = requests.get(itabashi_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [402]:
itabashi = pd.read_html(str(tables), skiprows=1)

In [403]:
itabashi = itabashi[0]
itabashi.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$7,648.00",3,5.27%,|,"$6,000.00",1,4.14%,|,"$1,648.00",2,1.14%
2,2020.0,"$24,909.70",2,17.18%,|,$0.00,0,0.00%,|,"$24,909.70",2,17.18%
3,2019.0,$500.00,1,0.34%,|,$0.00,0,0.00%,|,$500.00,1,0.34%
4,2018.0,"$71,142.00",7,49.07%,|,$0.00,0,0.00%,|,"$71,142.00",7,49.07%

In [404]:
itabashi.columns = itabashi.iloc[0]

In [405]:
itabashi = itabashi.drop([0])

In [406]:
itabashi['Player ID'] = 'Itabashi Zangief'
itabashi.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$7,648.00",3,5.27%,|,"$6,000.00",1,4.14%,|,"$1,648.00",2,1.14%,Itabashi Zangief
2,2020.0,"$24,909.70",2,17.18%,|,$0.00,0,0.00%,|,"$24,909.70",2,17.18%,Itabashi Zangief
3,2019.0,$500.00,1,0.34%,|,$0.00,0,0.00%,|,$500.00,1,0.34%,Itabashi Zangief
4,2018.0,"$71,142.00",7,49.07%,|,$0.00,0,0.00%,|,"$71,142.00",7,49.07%,Itabashi Zangief
5,2017.0,"$21,550.00",6,14.86%,|,$0.00,0,0.00%,|,"$21,550.00",6,14.86%,Itabashi Zangief

In [407]:
itabashi.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
itabashi.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$7,648.00",3,5.27%,|,"$6,000.00",1,4.14%,|,"$1,648.00",2,1.14%,Itabashi Zangief
2,2020.0,"$24,909.70",2,17.18%,|,$0.00,0,0.00%,|,"$24,909.70",2,17.18%,Itabashi Zangief
3,2019.0,$500.00,1,0.34%,|,$0.00,0,0.00%,|,$500.00,1,0.34%,Itabashi Zangief
4,2018.0,"$71,142.00",7,49.07%,|,$0.00,0,0.00%,|,"$71,142.00",7,49.07%,Itabashi Zangief
5,2017.0,"$21,550.00",6,14.86%,|,$0.00,0,0.00%,|,"$21,550.00",6,14.86%,Itabashi Zangief

In [408]:
itabashi['Year'] = itabashi['Year'].round().astype(int)

In [409]:
itabashi = itabashi.drop(columns=['blank', 'blank1'])
itabashi

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$7,648.00",3,5.27%,"$6,000.00",1,4.14%,"$1,648.00",2,1.14%,Itabashi Zangief
2,2020,"$24,909.70",2,17.18%,$0.00,0,0.00%,"$24,909.70",2,17.18%,Itabashi Zangief
3,2019,$500.00,1,0.34%,$0.00,0,0.00%,$500.00,1,0.34%,Itabashi Zangief
4,2018,"$71,142.00",7,49.07%,$0.00,0,0.00%,"$71,142.00",7,49.07%,Itabashi Zangief
5,2017,"$21,550.00",6,14.86%,$0.00,0,0.00%,"$21,550.00",6,14.86%,Itabashi Zangief
6,2016,"$1,500.00",2,1.03%,$0.00,0,0.00%,"$1,500.00",2,1.03%,Itabashi Zangief
7,2015,"$1,637.49",2,1.13%,$0.00,0,0.00%,"$1,637.49",2,1.13%,Itabashi Zangief
8,2014,"$1,100.80",2,0.76%,$0.00,0,0.00%,"$1,100.80",2,0.76%,Itabashi Zangief
9,2008,"$10,000.00",1,6.90%,$0.00,0,0.00%,"$10,000.00",1,6.90%,Itabashi Zangief
10,2007,"$5,000.00",1,3.45%,$0.00,0,0.00%,"$5,000.00",1,3.45%,Itabashi Zangief
11,2004,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Itabashi Zangief

In [410]:
itabashi_games = pd.read_html(str(tables), skiprows=1)

In [411]:
itabashi_games = itabashi_games[2]
itabashi_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$23,050.00",8,15.90%,|,$0.00,0,0.00%,|,"$23,050.00",8,15.90%
2,Street Fighter V: Arcade Edition,"$72,372.27",9,49.92%,|,$0.00,0,0.00%,|,"$72,372.27",9,49.92%
3,Street Fighter V: Champion Edition,"$31,827.43",4,21.95%,|,"$6,000.00",1,4.14%,|,"$25,827.43",3,17.81%
4,Super Street Fighter IV Arcade Edition,$637.49,1,0.44%,|,$0.00,0,0.00%,|,$637.49,1,0.44%
5,Ultra Street Fighter IV,"$2,100.80",3,1.45%,|,$0.00,0,0.00%,|,"$2,100.80",3,1.45%
6,Virtua Fighter 4: Evolution,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
7,Virtua Fighter 5,"$15,000.00",2,10.35%,|,$0.00,0,0.00%,|,"$15,000.00",2,10.35%

In [412]:
itabashi_games.columns = itabashi_games.iloc[0]

In [413]:
itabashi_games = itabashi_games.drop([0])

In [414]:
itabashi_games['Player ID'] = 'Itabashi Zangief'
itabashi_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$23,050.00",8,15.90%,|,$0.00,0,0.00%,|,"$23,050.00",8,15.90%,Itabashi Zangief
2,Street Fighter V: Arcade Edition,"$72,372.27",9,49.92%,|,$0.00,0,0.00%,|,"$72,372.27",9,49.92%,Itabashi Zangief
3,Street Fighter V: Champion Edition,"$31,827.43",4,21.95%,|,"$6,000.00",1,4.14%,|,"$25,827.43",3,17.81%,Itabashi Zangief
4,Super Street Fighter IV Arcade Edition,$637.49,1,0.44%,|,$0.00,0,0.00%,|,$637.49,1,0.44%,Itabashi Zangief
5,Ultra Street Fighter IV,"$2,100.80",3,1.45%,|,$0.00,0,0.00%,|,"$2,100.80",3,1.45%,Itabashi Zangief
6,Virtua Fighter 4: Evolution,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Itabashi Zangief
7,Virtua Fighter 5,"$15,000.00",2,10.35%,|,$0.00,0,0.00%,|,"$15,000.00",2,10.35%,Itabashi Zangief

In [415]:
itabashi_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
itabashi_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$23,050.00",8,15.90%,|,$0.00,0,0.00%,|,"$23,050.00",8,15.90%,Itabashi Zangief
2,Street Fighter V: Arcade Edition,"$72,372.27",9,49.92%,|,$0.00,0,0.00%,|,"$72,372.27",9,49.92%,Itabashi Zangief
3,Street Fighter V: Champion Edition,"$31,827.43",4,21.95%,|,"$6,000.00",1,4.14%,|,"$25,827.43",3,17.81%,Itabashi Zangief
4,Super Street Fighter IV Arcade Edition,$637.49,1,0.44%,|,$0.00,0,0.00%,|,$637.49,1,0.44%,Itabashi Zangief
5,Ultra Street Fighter IV,"$2,100.80",3,1.45%,|,$0.00,0,0.00%,|,"$2,100.80",3,1.45%,Itabashi Zangief
6,Virtua Fighter 4: Evolution,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Itabashi Zangief
7,Virtua Fighter 5,"$15,000.00",2,10.35%,|,$0.00,0,0.00%,|,"$15,000.00",2,10.35%,Itabashi Zangief

In [416]:
itabashi_games = itabashi_games.drop(columns=['blank', 'blank1'])
itabashi_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$23,050.00",8,15.90%,$0.00,0,0.00%,"$23,050.00",8,15.90%,Itabashi Zangief
2,Street Fighter V: Arcade Edition,"$72,372.27",9,49.92%,$0.00,0,0.00%,"$72,372.27",9,49.92%,Itabashi Zangief
3,Street Fighter V: Champion Edition,"$31,827.43",4,21.95%,"$6,000.00",1,4.14%,"$25,827.43",3,17.81%,Itabashi Zangief
4,Super Street Fighter IV Arcade Edition,$637.49,1,0.44%,$0.00,0,0.00%,$637.49,1,0.44%,Itabashi Zangief
5,Ultra Street Fighter IV,"$2,100.80",3,1.45%,$0.00,0,0.00%,"$2,100.80",3,1.45%,Itabashi Zangief
6,Virtua Fighter 4: Evolution,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Itabashi Zangief
7,Virtua Fighter 5,"$15,000.00",2,10.35%,$0.00,0,0.00%,"$15,000.00",2,10.35%,Itabashi Zangief

## Boomie

In [417]:
boomie_url = 'https://www.esportsearnings.com/players/29916-boomie-zack-bielamowicz'
response = requests.get(boomie_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [418]:
boomie = pd.read_html(str(tables), skiprows=1)

In [419]:
boomie = boomie[0]
boomie

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$15,216.67",8,10.66%,|,"$15,216.67",8,10.66%,|,$0.00,0,0.00%
2,2020.0,"$19,720.00",20,13.82%,|,"$19,720.00",20,13.82%,|,$0.00,0,0.00%
3,2019.0,"$55,327.00",44,38.77%,|,"$11,425.00",23,8.01%,|,"$43,902.00",21,30.76%
4,2018.0,"$25,020.00",26,17.53%,|,"$3,245.00",16,2.27%,|,"$21,775.00",10,15.26%
5,2017.0,"$23,359.00",21,16.37%,|,"$3,242.50",14,2.27%,|,"$20,116.50",7,14.10%
6,2016.0,"$4,065.00",17,2.85%,|,"$1,615.00",14,1.13%,|,"$2,450.00",3,1.72%

In [420]:
boomie.columns = boomie.iloc[0]

In [421]:
boomie = boomie.drop([0])

In [422]:
boomie['Player ID'] = 'Boomie'
boomie

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$15,216.67",8,10.66%,|,"$15,216.67",8,10.66%,|,$0.00,0,0.00%,Boomie
2,2020.0,"$19,720.00",20,13.82%,|,"$19,720.00",20,13.82%,|,$0.00,0,0.00%,Boomie
3,2019.0,"$55,327.00",44,38.77%,|,"$11,425.00",23,8.01%,|,"$43,902.00",21,30.76%,Boomie
4,2018.0,"$25,020.00",26,17.53%,|,"$3,245.00",16,2.27%,|,"$21,775.00",10,15.26%,Boomie
5,2017.0,"$23,359.00",21,16.37%,|,"$3,242.50",14,2.27%,|,"$20,116.50",7,14.10%,Boomie
6,2016.0,"$4,065.00",17,2.85%,|,"$1,615.00",14,1.13%,|,"$2,450.00",3,1.72%,Boomie

In [423]:
boomie.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
boomie

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$15,216.67",8,10.66%,|,"$15,216.67",8,10.66%,|,$0.00,0,0.00%,Boomie
2,2020.0,"$19,720.00",20,13.82%,|,"$19,720.00",20,13.82%,|,$0.00,0,0.00%,Boomie
3,2019.0,"$55,327.00",44,38.77%,|,"$11,425.00",23,8.01%,|,"$43,902.00",21,30.76%,Boomie
4,2018.0,"$25,020.00",26,17.53%,|,"$3,245.00",16,2.27%,|,"$21,775.00",10,15.26%,Boomie
5,2017.0,"$23,359.00",21,16.37%,|,"$3,242.50",14,2.27%,|,"$20,116.50",7,14.10%,Boomie
6,2016.0,"$4,065.00",17,2.85%,|,"$1,615.00",14,1.13%,|,"$2,450.00",3,1.72%,Boomie

In [424]:
boomie['Year'] = boomie['Year'].round().astype(int)

In [425]:
boomie = boomie.drop(columns=['blank', 'blank1'])
boomie

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$15,216.67",8,10.66%,"$15,216.67",8,10.66%,$0.00,0,0.00%,Boomie
2,2020,"$19,720.00",20,13.82%,"$19,720.00",20,13.82%,$0.00,0,0.00%,Boomie
3,2019,"$55,327.00",44,38.77%,"$11,425.00",23,8.01%,"$43,902.00",21,30.76%,Boomie
4,2018,"$25,020.00",26,17.53%,"$3,245.00",16,2.27%,"$21,775.00",10,15.26%,Boomie
5,2017,"$23,359.00",21,16.37%,"$3,242.50",14,2.27%,"$20,116.50",7,14.10%,Boomie
6,2016,"$4,065.00",17,2.85%,"$1,615.00",14,1.13%,"$2,450.00",3,1.72%,Boomie

In [426]:
boomie_games = pd.read_html(str(tables), skiprows=1)

In [427]:
boomie_games = boomie_games[2]
boomie_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Brawlhalla,"$142,707.67",136,100.00%,|,"$54,464.17",95,38.16%,|,"$88,243.50",41,61.84%

In [428]:
boomie_games.columns = boomie_games.iloc[0]

In [429]:
boomie_games = boomie_games.drop([0])

In [430]:
boomie_games['Player ID'] = 'Boomie'
boomie_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Brawlhalla,"$142,707.67",136,100.00%,|,"$54,464.17",95,38.16%,|,"$88,243.50",41,61.84%,Boomie

In [431]:
boomie_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
boomie_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Brawlhalla,"$142,707.67",136,100.00%,|,"$54,464.17",95,38.16%,|,"$88,243.50",41,61.84%,Boomie

In [432]:
boomie_games = boomie_games.drop(columns=['blank', 'blank1'])
boomie_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Brawlhalla,"$142,707.67",136,100.00%,"$54,464.17",95,38.16%,"$88,243.50",41,61.84%,Boomie

## Dabuz

In [433]:
dabuz_url = 'https://www.esportsearnings.com/players/13751-dabuz-samuel-buzby'
response = requests.get(dabuz_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [434]:
dabuz = pd.read_html(str(tables), skiprows=1)

In [435]:
dabuz = dabuz[0]
dabuz.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$4,696.14",9,3.47%,|,$590.00,5,0.44%,|,"$4,106.14",4,3.04%
2,2020.0,"$6,685.66",16,4.94%,|,"$6,480.00",15,4.79%,|,$205.66,1,0.15%
3,2019.0,"$47,377.29",22,35.03%,|,"$1,640.00",2,1.21%,|,"$45,737.29",20,33.82%
4,2018.0,"$19,940.51",21,14.74%,|,$0.00,0,0.00%,|,"$19,940.51",21,14.74%

In [436]:
dabuz.columns = dabuz.iloc[0]

In [437]:
dabuz = dabuz.drop([0])

In [438]:
dabuz['Player ID'] = 'Dabuz'
dabuz.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$4,696.14",9,3.47%,|,$590.00,5,0.44%,|,"$4,106.14",4,3.04%,Dabuz
2,2020.0,"$6,685.66",16,4.94%,|,"$6,480.00",15,4.79%,|,$205.66,1,0.15%,Dabuz
3,2019.0,"$47,377.29",22,35.03%,|,"$1,640.00",2,1.21%,|,"$45,737.29",20,33.82%,Dabuz
4,2018.0,"$19,940.51",21,14.74%,|,$0.00,0,0.00%,|,"$19,940.51",21,14.74%,Dabuz
5,2017.0,"$22,914.80",16,16.94%,|,$0.00,0,0.00%,|,"$22,914.80",16,16.94%,Dabuz

In [439]:
dabuz.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
dabuz.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$4,696.14",9,3.47%,|,$590.00,5,0.44%,|,"$4,106.14",4,3.04%,Dabuz
2,2020.0,"$6,685.66",16,4.94%,|,"$6,480.00",15,4.79%,|,$205.66,1,0.15%,Dabuz
3,2019.0,"$47,377.29",22,35.03%,|,"$1,640.00",2,1.21%,|,"$45,737.29",20,33.82%,Dabuz
4,2018.0,"$19,940.51",21,14.74%,|,$0.00,0,0.00%,|,"$19,940.51",21,14.74%,Dabuz
5,2017.0,"$22,914.80",16,16.94%,|,$0.00,0,0.00%,|,"$22,914.80",16,16.94%,Dabuz

In [440]:
dabuz['Year'] = dabuz['Year'].round().astype(int)

In [441]:
dabuz = dabuz.drop(columns=['blank', 'blank1'])
dabuz.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$4,696.14",9,3.47%,$590.00,5,0.44%,"$4,106.14",4,3.04%,Dabuz
2,2020,"$6,685.66",16,4.94%,"$6,480.00",15,4.79%,$205.66,1,0.15%,Dabuz
3,2019,"$47,377.29",22,35.03%,"$1,640.00",2,1.21%,"$45,737.29",20,33.82%,Dabuz
4,2018,"$19,940.51",21,14.74%,$0.00,0,0.00%,"$19,940.51",21,14.74%,Dabuz
5,2017,"$22,914.80",16,16.94%,$0.00,0,0.00%,"$22,914.80",16,16.94%,Dabuz

In [442]:
dabuz_games = pd.read_html(str(tables), skiprows=1)

In [443]:
dabuz_games = dabuz_games[2]
dabuz_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Mortal Kombat 9,$2.00,1,0.00%,|,$0.00,0,0.00%,|,$2.00,1,0.00%
2,Project M,$6.00,1,0.00%,|,$0.00,0,0.00%,|,$6.00,1,0.00%
3,Super Smash Bros. Brawl,"$1,177.07",15,0.87%,|,$0.00,0,0.00%,|,"$1,177.07",15,0.87%
4,Super Smash Bros. Ultimate,"$60,477.99",47,44.72%,|,"$8,710.00",22,6.44%,|,"$51,767.99",25,38.28%
5,Super Smash Bros. for Wii U,"$73,586.67",86,54.41%,|,$0.00,0,0.00%,|,"$73,586.67",86,54.41%

In [444]:
dabuz_games.columns = dabuz_games.iloc[0]

In [445]:
dabuz_games = dabuz_games.drop([0])

In [446]:
dabuz_games['Player ID'] = 'Dabuz'
dabuz_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Mortal Kombat 9,$2.00,1,0.00%,|,$0.00,0,0.00%,|,$2.00,1,0.00%,Dabuz
2,Project M,$6.00,1,0.00%,|,$0.00,0,0.00%,|,$6.00,1,0.00%,Dabuz
3,Super Smash Bros. Brawl,"$1,177.07",15,0.87%,|,$0.00,0,0.00%,|,"$1,177.07",15,0.87%,Dabuz
4,Super Smash Bros. Ultimate,"$60,477.99",47,44.72%,|,"$8,710.00",22,6.44%,|,"$51,767.99",25,38.28%,Dabuz
5,Super Smash Bros. for Wii U,"$73,586.67",86,54.41%,|,$0.00,0,0.00%,|,"$73,586.67",86,54.41%,Dabuz

In [447]:
dabuz_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
dabuz_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Mortal Kombat 9,$2.00,1,0.00%,|,$0.00,0,0.00%,|,$2.00,1,0.00%,Dabuz
2,Project M,$6.00,1,0.00%,|,$0.00,0,0.00%,|,$6.00,1,0.00%,Dabuz
3,Super Smash Bros. Brawl,"$1,177.07",15,0.87%,|,$0.00,0,0.00%,|,"$1,177.07",15,0.87%,Dabuz
4,Super Smash Bros. Ultimate,"$60,477.99",47,44.72%,|,"$8,710.00",22,6.44%,|,"$51,767.99",25,38.28%,Dabuz
5,Super Smash Bros. for Wii U,"$73,586.67",86,54.41%,|,$0.00,0,0.00%,|,"$73,586.67",86,54.41%,Dabuz

In [448]:
dabuz_games = dabuz_games.drop(columns=['blank', 'blank1'])
dabuz_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Mortal Kombat 9,$2.00,1,0.00%,$0.00,0,0.00%,$2.00,1,0.00%,Dabuz
2,Project M,$6.00,1,0.00%,$0.00,0,0.00%,$6.00,1,0.00%,Dabuz
3,Super Smash Bros. Brawl,"$1,177.07",15,0.87%,$0.00,0,0.00%,"$1,177.07",15,0.87%,Dabuz
4,Super Smash Bros. Ultimate,"$60,477.99",47,44.72%,"$8,710.00",22,6.44%,"$51,767.99",25,38.28%,Dabuz
5,Super Smash Bros. for Wii U,"$73,586.67",86,54.41%,$0.00,0,0.00%,"$73,586.67",86,54.41%,Dabuz

## Nairo

In [449]:
nairo_url = 'https://www.esportsearnings.com/players/5749-nairo-nairoby-quezada'
response = requests.get(nairo_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [450]:
nairo = pd.read_html(str(tables), skiprows=1)

In [451]:
nairo = nairo[0]
nairo.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,525.15",1,1.14%,|,$0.00,0,0.00%,|,"$1,525.15",1,1.14%
2,2020.0,"$1,991.91",3,1.49%,|,"$1,400.00",1,1.04%,|,$591.91,2,0.44%
3,2019.0,"$21,309.27",26,15.89%,|,"$1,600.00",1,1.19%,|,"$19,709.27",25,14.70%
4,2018.0,"$18,213.37",16,13.58%,|,$0.00,0,0.00%,|,"$18,213.37",16,13.58%

In [452]:
nairo.columns = nairo.iloc[0]

In [453]:
nairo = nairo.drop([0])

In [454]:
nairo['Player ID'] = 'Nairo'
nairo.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$1,525.15",1,1.14%,|,$0.00,0,0.00%,|,"$1,525.15",1,1.14%,Nairo
2,2020.0,"$1,991.91",3,1.49%,|,"$1,400.00",1,1.04%,|,$591.91,2,0.44%,Nairo
3,2019.0,"$21,309.27",26,15.89%,|,"$1,600.00",1,1.19%,|,"$19,709.27",25,14.70%,Nairo
4,2018.0,"$18,213.37",16,13.58%,|,$0.00,0,0.00%,|,"$18,213.37",16,13.58%,Nairo
5,2017.0,"$24,118.45",34,17.98%,|,$0.00,0,0.00%,|,"$24,118.45",34,17.98%,Nairo

In [455]:
nairo.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nairo.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$1,525.15",1,1.14%,|,$0.00,0,0.00%,|,"$1,525.15",1,1.14%,Nairo
2,2020.0,"$1,991.91",3,1.49%,|,"$1,400.00",1,1.04%,|,$591.91,2,0.44%,Nairo
3,2019.0,"$21,309.27",26,15.89%,|,"$1,600.00",1,1.19%,|,"$19,709.27",25,14.70%,Nairo
4,2018.0,"$18,213.37",16,13.58%,|,$0.00,0,0.00%,|,"$18,213.37",16,13.58%,Nairo
5,2017.0,"$24,118.45",34,17.98%,|,$0.00,0,0.00%,|,"$24,118.45",34,17.98%,Nairo

In [456]:
nairo['Year'] = nairo['Year'].round().astype(int)

In [457]:
nairo = nairo.drop(columns=['blank', 'blank1'])
nairo

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$1,525.15",1,1.14%,$0.00,0,0.00%,"$1,525.15",1,1.14%,Nairo
2,2020,"$1,991.91",3,1.49%,"$1,400.00",1,1.04%,$591.91,2,0.44%,Nairo
3,2019,"$21,309.27",26,15.89%,"$1,600.00",1,1.19%,"$19,709.27",25,14.70%,Nairo
4,2018,"$18,213.37",16,13.58%,$0.00,0,0.00%,"$18,213.37",16,13.58%,Nairo
5,2017,"$24,118.45",34,17.98%,$0.00,0,0.00%,"$24,118.45",34,17.98%,Nairo
6,2016,"$33,505.35",41,24.98%,$0.00,0,0.00%,"$33,505.35",41,24.98%,Nairo
7,2015,"$24,325.28",31,18.14%,$0.00,0,0.00%,"$24,325.28",31,18.14%,Nairo
8,2014,"$3,915.70",8,2.92%,$0.00,0,0.00%,"$3,915.70",8,2.92%,Nairo
9,2013,"$2,071.95",21,1.54%,$0.00,0,0.00%,"$2,071.95",21,1.54%,Nairo
10,2012,"$2,574.75",14,1.92%,$0.00,0,0.00%,"$2,574.75",14,1.92%,Nairo
11,2011,$519.05,8,0.39%,$0.00,0,0.00%,$519.05,8,0.39%,Nairo
12,2010,$37.20,1,0.03%,$0.00,0,0.00%,$37.20,1,0.03%,Nairo

In [458]:
nairo_games = pd.read_html(str(tables), skiprows=1)

In [459]:
nairo_games = nairo_games[2]
nairo_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Super Smash Bros. Brawl,"$13,690.07",67,10.21%,|,$0.00,0,0.00%,|,"$13,690.07",67,10.21%
2,Super Smash Bros. Melee,$10.00,1,0.01%,|,$0.00,0,0.00%,|,$10.00,1,0.01%
3,Super Smash Bros. Ultimate,"$25,022.48",31,18.66%,|,"$3,000.00",2,2.24%,|,"$22,022.48",29,16.42%
4,Super Smash Bros. for Wii U,"$95,384.88",105,71.13%,|,$0.00,0,0.00%,|,"$95,384.88",105,71.13%

In [460]:
nairo_games.columns = nairo_games.iloc[0]

In [461]:
nairo_games = nairo_games.drop([0])

In [462]:
nairo_games['Player ID'] = 'Nairo'
nairo_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Super Smash Bros. Brawl,"$13,690.07",67,10.21%,|,$0.00,0,0.00%,|,"$13,690.07",67,10.21%,Nairo
2,Super Smash Bros. Melee,$10.00,1,0.01%,|,$0.00,0,0.00%,|,$10.00,1,0.01%,Nairo
3,Super Smash Bros. Ultimate,"$25,022.48",31,18.66%,|,"$3,000.00",2,2.24%,|,"$22,022.48",29,16.42%,Nairo
4,Super Smash Bros. for Wii U,"$95,384.88",105,71.13%,|,$0.00,0,0.00%,|,"$95,384.88",105,71.13%,Nairo

In [463]:
nairo_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nairo_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Brawl,"$13,690.07",67,10.21%,|,$0.00,0,0.00%,|,"$13,690.07",67,10.21%,Nairo
2,Super Smash Bros. Melee,$10.00,1,0.01%,|,$0.00,0,0.00%,|,$10.00,1,0.01%,Nairo
3,Super Smash Bros. Ultimate,"$25,022.48",31,18.66%,|,"$3,000.00",2,2.24%,|,"$22,022.48",29,16.42%,Nairo
4,Super Smash Bros. for Wii U,"$95,384.88",105,71.13%,|,$0.00,0,0.00%,|,"$95,384.88",105,71.13%,Nairo

In [464]:
nairo_games = nairo_games.drop(columns=['blank', 'blank1'])
nairo_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Brawl,"$13,690.07",67,10.21%,$0.00,0,0.00%,"$13,690.07",67,10.21%,Nairo
2,Super Smash Bros. Melee,$10.00,1,0.01%,$0.00,0,0.00%,$10.00,1,0.01%,Nairo
3,Super Smash Bros. Ultimate,"$25,022.48",31,18.66%,"$3,000.00",2,2.24%,"$22,022.48",29,16.42%,Nairo
4,Super Smash Bros. for Wii U,"$95,384.88",105,71.13%,$0.00,0,0.00%,"$95,384.88",105,71.13%,Nairo

## JWong (Justin Wong)

In [465]:
jwong_url = 'https://www.esportsearnings.com/players/1694-jwong-justin-wong'
response = requests.get(jwong_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [466]:
jwong = pd.read_html(str(tables), skiprows=1)

In [467]:
jwong = jwong[0]
jwong.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$1,497.70",5,1.13%,|,$375.14,2,0.28%,|,"$1,122.56",3,0.85%
2,2019.0,"$8,608.10",20,6.49%,|,$0.00,0,0.00%,|,"$8,608.10",20,6.49%
3,2018.0,"$23,725.70",18,17.90%,|,$0.00,0,0.00%,|,"$23,725.70",18,17.90%
4,2017.0,"$15,564.61",16,11.74%,|,$0.00,0,0.00%,|,"$15,564.61",16,11.74%

In [468]:
jwong.columns = jwong.iloc[0]

In [469]:
jwong = jwong.drop([0])

In [470]:
jwong['Player ID'] = 'JWong'
jwong.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$1,497.70",5,1.13%,|,$375.14,2,0.28%,|,"$1,122.56",3,0.85%,JWong
2,2019.0,"$8,608.10",20,6.49%,|,$0.00,0,0.00%,|,"$8,608.10",20,6.49%,JWong
3,2018.0,"$23,725.70",18,17.90%,|,$0.00,0,0.00%,|,"$23,725.70",18,17.90%,JWong
4,2017.0,"$15,564.61",16,11.74%,|,$0.00,0,0.00%,|,"$15,564.61",16,11.74%,JWong
5,2016.0,"$18,409.21",17,13.89%,|,$0.00,0,0.00%,|,"$18,409.21",17,13.89%,JWong

In [471]:
jwong.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
jwong.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$1,497.70",5,1.13%,|,$375.14,2,0.28%,|,"$1,122.56",3,0.85%,JWong
2,2019.0,"$8,608.10",20,6.49%,|,$0.00,0,0.00%,|,"$8,608.10",20,6.49%,JWong
3,2018.0,"$23,725.70",18,17.90%,|,$0.00,0,0.00%,|,"$23,725.70",18,17.90%,JWong
4,2017.0,"$15,564.61",16,11.74%,|,$0.00,0,0.00%,|,"$15,564.61",16,11.74%,JWong
5,2016.0,"$18,409.21",17,13.89%,|,$0.00,0,0.00%,|,"$18,409.21",17,13.89%,JWong

In [472]:
jwong['Year'] = jwong['Year'].round().astype(int)

In [473]:
jwong = jwong.drop(columns=['blank', 'blank1'])
jwong.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$1,497.70",5,1.13%,$375.14,2,0.28%,"$1,122.56",3,0.85%,JWong
2,2019,"$8,608.10",20,6.49%,$0.00,0,0.00%,"$8,608.10",20,6.49%,JWong
3,2018,"$23,725.70",18,17.90%,$0.00,0,0.00%,"$23,725.70",18,17.90%,JWong
4,2017,"$15,564.61",16,11.74%,$0.00,0,0.00%,"$15,564.61",16,11.74%,JWong
5,2016,"$18,409.21",17,13.89%,$0.00,0,0.00%,"$18,409.21",17,13.89%,JWong

In [474]:
jwong_games = pd.read_html(str(tables), skiprows=1)

In [475]:
jwong_games = jwong_games[2]
jwong_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Capcom vs. SNK 2,"$2,026.79",8,1.53%,|,$0.00,0,0.00%,|,"$2,026.79",8,1.53%
2,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
3,Divekick,$550.00,1,0.41%,|,$0.00,0,0.00%,|,$550.00,1,0.41%
4,Fighting EX Layer,$76.48,1,0.06%,|,$0.00,0,0.00%,|,$76.48,1,0.06%

In [476]:
jwong_games.columns = jwong_games.iloc[0]

In [477]:
jwong_games = jwong_games.drop([0])

In [478]:
jwong_games['Player ID'] = 'JWong'
jwong_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Capcom vs. SNK 2,"$2,026.79",8,1.53%,|,$0.00,0,0.00%,|,"$2,026.79",8,1.53%,JWong
2,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,JWong
3,Divekick,$550.00,1,0.41%,|,$0.00,0,0.00%,|,$550.00,1,0.41%,JWong
4,Fighting EX Layer,$76.48,1,0.06%,|,$0.00,0,0.00%,|,$76.48,1,0.06%,JWong
5,Garou: Mark of the Wolves,$70.66,1,0.05%,|,$0.00,0,0.00%,|,$70.66,1,0.05%,JWong

In [479]:
jwong_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
jwong_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,"$2,026.79",8,1.53%,|,$0.00,0,0.00%,|,"$2,026.79",8,1.53%,JWong
2,Dead or Alive 5,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,JWong
3,Divekick,$550.00,1,0.41%,|,$0.00,0,0.00%,|,$550.00,1,0.41%,JWong
4,Fighting EX Layer,$76.48,1,0.06%,|,$0.00,0,0.00%,|,$76.48,1,0.06%,JWong
5,Garou: Mark of the Wolves,$70.66,1,0.05%,|,$0.00,0,0.00%,|,$70.66,1,0.05%,JWong

In [480]:
jwong_games = jwong_games.drop(columns=['blank', 'blank1'])
jwong_games.head()

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,"$2,026.79",8,1.53%,$0.00,0,0.00%,"$2,026.79",8,1.53%,JWong
2,Dead or Alive 5,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,JWong
3,Divekick,$550.00,1,0.41%,$0.00,0,0.00%,$550.00,1,0.41%,JWong
4,Fighting EX Layer,$76.48,1,0.06%,$0.00,0,0.00%,$76.48,1,0.06%,JWong
5,Garou: Mark of the Wolves,$70.66,1,0.05%,$0.00,0,0.00%,$70.66,1,0.05%,JWong

## Xian

In [481]:
xian_url = 'https://www.esportsearnings.com/players/3470-xian-ho-kun-xian'
response = requests.get(xian_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [482]:
xian = pd.read_html(str(tables), skiprows=1)

In [483]:
xian = xian[0]
xian.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%
2,2019.0,"$4,500.00",4,3.44%,|,$0.00,0,0.00%,|,"$4,500.00",4,3.44%
3,2018.0,"$19,024.00",6,14.52%,|,$0.00,0,0.00%,|,"$19,024.00",6,14.52%
4,2017.0,"$14,250.00",6,10.88%,|,$0.00,0,0.00%,|,"$14,250.00",6,10.88%

In [484]:
xian.columns = xian.iloc[0]

In [485]:
xian = xian.drop([0])

In [486]:
xian['Player ID'] = 'Xian'
xian.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%,Xian
2,2019.0,"$4,500.00",4,3.44%,|,$0.00,0,0.00%,|,"$4,500.00",4,3.44%,Xian
3,2018.0,"$19,024.00",6,14.52%,|,$0.00,0,0.00%,|,"$19,024.00",6,14.52%,Xian
4,2017.0,"$14,250.00",6,10.88%,|,$0.00,0,0.00%,|,"$14,250.00",6,10.88%,Xian
5,2016.0,"$6,089.64",7,4.65%,|,$0.00,0,0.00%,|,"$6,089.64",7,4.65%,Xian

In [487]:
xian.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
xian.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%,Xian
2,2019.0,"$4,500.00",4,3.44%,|,$0.00,0,0.00%,|,"$4,500.00",4,3.44%,Xian
3,2018.0,"$19,024.00",6,14.52%,|,$0.00,0,0.00%,|,"$19,024.00",6,14.52%,Xian
4,2017.0,"$14,250.00",6,10.88%,|,$0.00,0,0.00%,|,"$14,250.00",6,10.88%,Xian
5,2016.0,"$6,089.64",7,4.65%,|,$0.00,0,0.00%,|,"$6,089.64",7,4.65%,Xian

In [488]:
xian['Year'] = xian['Year'].round().astype(int)

In [489]:
xian = xian.drop(columns=['blank', 'blank1'])
xian.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$5,000.00",1,3.82%,"$5,000.00",1,3.82%,$0.00,0,0.00%,Xian
2,2019,"$4,500.00",4,3.44%,$0.00,0,0.00%,"$4,500.00",4,3.44%,Xian
3,2018,"$19,024.00",6,14.52%,$0.00,0,0.00%,"$19,024.00",6,14.52%,Xian
4,2017,"$14,250.00",6,10.88%,$0.00,0,0.00%,"$14,250.00",6,10.88%,Xian
5,2016,"$6,089.64",7,4.65%,$0.00,0,0.00%,"$6,089.64",7,4.65%,Xian

In [490]:
xian_games = pd.read_html(str(tables), skiprows=1)

In [491]:
xian_games = xian_games[1]
xian_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,King of Fighters XIII,$298.90,6,0.23%,|,$0.00,0,0.00%,|,$298.90,6,0.23%
2,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
3,Street Fighter V,"$20,176.64",12,15.40%,|,$0.00,0,0.00%,|,"$20,176.64",12,15.40%
4,Street Fighter V: Arcade Edition,"$23,524.00",10,17.96%,|,$0.00,0,0.00%,|,"$23,524.00",10,17.96%
5,Street Fighter V: Champion Edition,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%
6,Super Street Fighter IV Arcade Edition,"$11,570.07",9,8.83%,|,$0.00,0,0.00%,|,"$11,570.07",9,8.83%
7,Ultra Street Fighter IV,"$70,415.31",15,53.76%,|,$0.00,0,0.00%,|,"$70,415.31",15,53.76%

In [492]:
xian_games.columns = xian_games.iloc[0]

In [493]:
xian_games = xian_games.drop([0])

In [494]:
xian_games['Player ID'] = 'Xian'
xian_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,King of Fighters XIII,$298.90,6,0.23%,|,$0.00,0,0.00%,|,$298.90,6,0.23%,Xian
2,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Xian
3,Street Fighter V,"$20,176.64",12,15.40%,|,$0.00,0,0.00%,|,"$20,176.64",12,15.40%,Xian
4,Street Fighter V: Arcade Edition,"$23,524.00",10,17.96%,|,$0.00,0,0.00%,|,"$23,524.00",10,17.96%,Xian
5,Street Fighter V: Champion Edition,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%,Xian
6,Super Street Fighter IV Arcade Edition,"$11,570.07",9,8.83%,|,$0.00,0,0.00%,|,"$11,570.07",9,8.83%,Xian
7,Ultra Street Fighter IV,"$70,415.31",15,53.76%,|,$0.00,0,0.00%,|,"$70,415.31",15,53.76%,Xian

In [495]:
xian_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
xian_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,King of Fighters XIII,$298.90,6,0.23%,|,$0.00,0,0.00%,|,$298.90,6,0.23%,Xian
2,Persona 4 Arena,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Xian
3,Street Fighter V,"$20,176.64",12,15.40%,|,$0.00,0,0.00%,|,"$20,176.64",12,15.40%,Xian
4,Street Fighter V: Arcade Edition,"$23,524.00",10,17.96%,|,$0.00,0,0.00%,|,"$23,524.00",10,17.96%,Xian
5,Street Fighter V: Champion Edition,"$5,000.00",1,3.82%,|,"$5,000.00",1,3.82%,|,$0.00,0,0.00%,Xian
6,Super Street Fighter IV Arcade Edition,"$11,570.07",9,8.83%,|,$0.00,0,0.00%,|,"$11,570.07",9,8.83%,Xian
7,Ultra Street Fighter IV,"$70,415.31",15,53.76%,|,$0.00,0,0.00%,|,"$70,415.31",15,53.76%,Xian

In [496]:
xian_games = xian_games.drop(columns=['blank', 'blank1'])
xian_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,King of Fighters XIII,$298.90,6,0.23%,$0.00,0,0.00%,$298.90,6,0.23%,Xian
2,Persona 4 Arena,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Xian
3,Street Fighter V,"$20,176.64",12,15.40%,$0.00,0,0.00%,"$20,176.64",12,15.40%,Xian
4,Street Fighter V: Arcade Edition,"$23,524.00",10,17.96%,$0.00,0,0.00%,"$23,524.00",10,17.96%,Xian
5,Street Fighter V: Champion Edition,"$5,000.00",1,3.82%,"$5,000.00",1,3.82%,$0.00,0,0.00%,Xian
6,Super Street Fighter IV Arcade Edition,"$11,570.07",9,8.83%,$0.00,0,0.00%,"$11,570.07",9,8.83%,Xian
7,Ultra Street Fighter IV,"$70,415.31",15,53.76%,$0.00,0,0.00%,"$70,415.31",15,53.76%,Xian

## JDCR

In [497]:
jdcr_url = 'https://www.esportsearnings.com/players/1504-jdcr-kim-hyun-jin'
response = requests.get(jdcr_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [498]:
jdcr = pd.read_html(str(tables), skiprows=1)

In [499]:
jdcr = jdcr[0]
jdcr.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$9,750.00",2,7.56%,|,$0.00,0,0.00%,|,"$9,750.00",2,7.56%
2,2020.0,"$10,132.00",3,7.86%,|,$0.00,0,0.00%,|,"$10,132.00",3,7.86%
3,2019.0,"$17,437.90",11,13.53%,|,$0.00,0,0.00%,|,"$17,437.90",11,13.53%
4,2018.0,"$7,374.10",8,5.72%,|,$0.00,0,0.00%,|,"$7,374.10",8,5.72%

In [500]:
jdcr.columns = jdcr.iloc[0]

In [501]:
jdcr = jdcr.drop([0])

In [502]:
jdcr['Player ID'] = 'JDCR'
jdcr.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$9,750.00",2,7.56%,|,$0.00,0,0.00%,|,"$9,750.00",2,7.56%,JDCR
2,2020.0,"$10,132.00",3,7.86%,|,$0.00,0,0.00%,|,"$10,132.00",3,7.86%,JDCR
3,2019.0,"$17,437.90",11,13.53%,|,$0.00,0,0.00%,|,"$17,437.90",11,13.53%,JDCR
4,2018.0,"$7,374.10",8,5.72%,|,$0.00,0,0.00%,|,"$7,374.10",8,5.72%,JDCR
5,2017.0,"$59,512.00",13,46.16%,|,$0.00,0,0.00%,|,"$59,512.00",13,46.16%,JDCR

In [503]:
jdcr.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
jdcr.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$9,750.00",2,7.56%,|,$0.00,0,0.00%,|,"$9,750.00",2,7.56%,JDCR
2,2020.0,"$10,132.00",3,7.86%,|,$0.00,0,0.00%,|,"$10,132.00",3,7.86%,JDCR
3,2019.0,"$17,437.90",11,13.53%,|,$0.00,0,0.00%,|,"$17,437.90",11,13.53%,JDCR
4,2018.0,"$7,374.10",8,5.72%,|,$0.00,0,0.00%,|,"$7,374.10",8,5.72%,JDCR
5,2017.0,"$59,512.00",13,46.16%,|,$0.00,0,0.00%,|,"$59,512.00",13,46.16%,JDCR

In [504]:
jdcr['Year'] = jdcr['Year'].round().astype(int)

In [505]:
jdcr = jdcr.drop(columns=['blank', 'blank1'])
jdcr

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$9,750.00",2,7.56%,$0.00,0,0.00%,"$9,750.00",2,7.56%,JDCR
2,2020,"$10,132.00",3,7.86%,$0.00,0,0.00%,"$10,132.00",3,7.86%,JDCR
3,2019,"$17,437.90",11,13.53%,$0.00,0,0.00%,"$17,437.90",11,13.53%,JDCR
4,2018,"$7,374.10",8,5.72%,$0.00,0,0.00%,"$7,374.10",8,5.72%,JDCR
5,2017,"$59,512.00",13,46.16%,$0.00,0,0.00%,"$59,512.00",13,46.16%,JDCR
6,2015,"$1,383.20",2,1.07%,$0.00,0,0.00%,"$1,383.20",2,1.07%,JDCR
7,2014,"$9,542.00",4,7.40%,$0.00,0,0.00%,"$9,542.00",4,7.40%,JDCR
8,2013,"$4,800.00",3,3.72%,$0.00,0,0.00%,"$4,800.00",3,3.72%,JDCR
9,2012,"$7,985.61",2,6.19%,$0.00,0,0.00%,"$7,985.61",2,6.19%,JDCR
10,2011,"$1,000.00",1,0.78%,$0.00,0,0.00%,"$1,000.00",1,0.78%,JDCR

In [506]:
jdcr_games = pd.read_html(str(tables), skiprows=1)

In [507]:
jdcr_games = jdcr_games[2]
jdcr_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 6,"$2,985.61",2,2.32%,|,$0.00,0,0.00%,|,"$2,985.61",2,2.32%
2,Tekken 7,"$105,589.20",38,81.90%,|,$0.00,0,0.00%,|,"$105,589.20",38,81.90%
3,Tekken Tag Tournament 2,"$20,342.00",9,15.78%,|,$0.00,0,0.00%,|,"$20,342.00",9,15.78%

In [508]:
jdcr_games.columns = jdcr_games.iloc[0]

In [509]:
jdcr_games = jdcr_games.drop([0])

In [510]:
jdcr_games['Player ID'] = 'JDCR'
jdcr_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Tekken 6,"$2,985.61",2,2.32%,|,$0.00,0,0.00%,|,"$2,985.61",2,2.32%,JDCR
2,Tekken 7,"$105,589.20",38,81.90%,|,$0.00,0,0.00%,|,"$105,589.20",38,81.90%,JDCR
3,Tekken Tag Tournament 2,"$20,342.00",9,15.78%,|,$0.00,0,0.00%,|,"$20,342.00",9,15.78%,JDCR

In [511]:
jdcr_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
jdcr_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$2,985.61",2,2.32%,|,$0.00,0,0.00%,|,"$2,985.61",2,2.32%,JDCR
2,Tekken 7,"$105,589.20",38,81.90%,|,$0.00,0,0.00%,|,"$105,589.20",38,81.90%,JDCR
3,Tekken Tag Tournament 2,"$20,342.00",9,15.78%,|,$0.00,0,0.00%,|,"$20,342.00",9,15.78%,JDCR

In [512]:
jdcr_games = jdcr_games.drop(columns=['blank', 'blank1'])
jdcr_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$2,985.61",2,2.32%,$0.00,0,0.00%,"$2,985.61",2,2.32%,JDCR
2,Tekken 7,"$105,589.20",38,81.90%,$0.00,0,0.00%,"$105,589.20",38,81.90%,JDCR
3,Tekken Tag Tournament 2,"$20,342.00",9,15.78%,$0.00,0,0.00%,"$20,342.00",9,15.78%,JDCR

## Plup

In [513]:
plup_url = 'https://www.esportsearnings.com/players/5745-plup-justin-mcgrath'
response = requests.get(plup_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [514]:
plup = pd.read_html(str(tables), skiprows=1)

In [515]:
plup = plup[0]
plup.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$17,166.90",2,13.37%,|,$0.00,0,0.00%,|,"$17,166.90",2,13.37%
2,2020.0,"$15,880.72",3,12.37%,|,"$1,750.07",1,1.36%,|,"$14,130.65",2,11.01%
3,2019.0,"$8,012.61",17,6.24%,|,$0.00,0,0.00%,|,"$8,012.61",17,6.24%
4,2018.0,"$27,343.43",19,21.30%,|,$0.00,0,0.00%,|,"$27,343.43",19,21.30%

In [516]:
plup.columns = plup.iloc[0]

In [517]:
plup = plup.drop([0])

In [518]:
plup['Player ID'] = 'Plup'
plup.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$17,166.90",2,13.37%,|,$0.00,0,0.00%,|,"$17,166.90",2,13.37%,Plup
2,2020.0,"$15,880.72",3,12.37%,|,"$1,750.07",1,1.36%,|,"$14,130.65",2,11.01%,Plup
3,2019.0,"$8,012.61",17,6.24%,|,$0.00,0,0.00%,|,"$8,012.61",17,6.24%,Plup
4,2018.0,"$27,343.43",19,21.30%,|,$0.00,0,0.00%,|,"$27,343.43",19,21.30%,Plup
5,2017.0,"$27,088.73",35,21.10%,|,$0.00,0,0.00%,|,"$27,088.73",35,21.10%,Plup

In [519]:
plup.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
plup.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$17,166.90",2,13.37%,|,$0.00,0,0.00%,|,"$17,166.90",2,13.37%,Plup
2,2020.0,"$15,880.72",3,12.37%,|,"$1,750.07",1,1.36%,|,"$14,130.65",2,11.01%,Plup
3,2019.0,"$8,012.61",17,6.24%,|,$0.00,0,0.00%,|,"$8,012.61",17,6.24%,Plup
4,2018.0,"$27,343.43",19,21.30%,|,$0.00,0,0.00%,|,"$27,343.43",19,21.30%,Plup
5,2017.0,"$27,088.73",35,21.10%,|,$0.00,0,0.00%,|,"$27,088.73",35,21.10%,Plup

In [520]:
plup['Year'] = plup['Year'].round().astype(int)

In [521]:
plup = plup.drop(columns=['blank', 'blank1'])
plup.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$17,166.90",2,13.37%,$0.00,0,0.00%,"$17,166.90",2,13.37%,Plup
2,2020,"$15,880.72",3,12.37%,"$1,750.07",1,1.36%,"$14,130.65",2,11.01%,Plup
3,2019,"$8,012.61",17,6.24%,$0.00,0,0.00%,"$8,012.61",17,6.24%,Plup
4,2018,"$27,343.43",19,21.30%,$0.00,0,0.00%,"$27,343.43",19,21.30%,Plup
5,2017,"$27,088.73",35,21.10%,$0.00,0,0.00%,"$27,088.73",35,21.10%,Plup

In [522]:
plup_games = pd.read_html(str(tables), skiprows=1)

In [523]:
plup_games = plup_games[2]
plup_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$2,431.85",18,1.89%,|,$0.00,0,0.00%,|,"$2,431.85",18,1.89%
2,Rivals of Aether,$250.00,1,0.19%,|,$0.00,0,0.00%,|,$250.00,1,0.19%
3,Super Smash Bros. Melee,"$124,728.49",214,97.14%,|,"$1,750.07",1,1.36%,|,"$122,978.42",213,95.78%
4,Super Smash Bros. Ultimate,$761.84,2,0.59%,|,$0.00,0,0.00%,|,$761.84,2,0.59%
5,Super Smash Bros. for Wii U,$224.40,4,0.17%,|,$0.00,0,0.00%,|,$224.40,4,0.17%

In [524]:
plup_games.columns = plup_games.iloc[0]

In [525]:
plup_games = plup_games.drop([0])

In [526]:
plup_games['Player ID'] = 'Plup'
plup_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$2,431.85",18,1.89%,|,$0.00,0,0.00%,|,"$2,431.85",18,1.89%,Plup
2,Rivals of Aether,$250.00,1,0.19%,|,$0.00,0,0.00%,|,$250.00,1,0.19%,Plup
3,Super Smash Bros. Melee,"$124,728.49",214,97.14%,|,"$1,750.07",1,1.36%,|,"$122,978.42",213,95.78%,Plup
4,Super Smash Bros. Ultimate,$761.84,2,0.59%,|,$0.00,0,0.00%,|,$761.84,2,0.59%,Plup
5,Super Smash Bros. for Wii U,$224.40,4,0.17%,|,$0.00,0,0.00%,|,$224.40,4,0.17%,Plup

In [527]:
plup_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
plup_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$2,431.85",18,1.89%,|,$0.00,0,0.00%,|,"$2,431.85",18,1.89%,Plup
2,Rivals of Aether,$250.00,1,0.19%,|,$0.00,0,0.00%,|,$250.00,1,0.19%,Plup
3,Super Smash Bros. Melee,"$124,728.49",214,97.14%,|,"$1,750.07",1,1.36%,|,"$122,978.42",213,95.78%,Plup
4,Super Smash Bros. Ultimate,$761.84,2,0.59%,|,$0.00,0,0.00%,|,$761.84,2,0.59%,Plup
5,Super Smash Bros. for Wii U,$224.40,4,0.17%,|,$0.00,0,0.00%,|,$224.40,4,0.17%,Plup

In [528]:
plup_games = plup_games.drop(columns=['blank', 'blank1'])
plup_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$2,431.85",18,1.89%,$0.00,0,0.00%,"$2,431.85",18,1.89%,Plup
2,Rivals of Aether,$250.00,1,0.19%,$0.00,0,0.00%,$250.00,1,0.19%,Plup
3,Super Smash Bros. Melee,"$124,728.49",214,97.14%,"$1,750.07",1,1.36%,"$122,978.42",213,95.78%,Plup
4,Super Smash Bros. Ultimate,$761.84,2,0.59%,$0.00,0,0.00%,$761.84,2,0.59%,Plup
5,Super Smash Bros. for Wii U,$224.40,4,0.17%,$0.00,0,0.00%,$224.40,4,0.17%,Plup

## Tweek

In [529]:
tweek_url = 'https://www.esportsearnings.com/players/21593-tweek-gavin-dempsey'
response = requests.get(tweek_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [530]:
tweek = pd.read_html(str(tables), skiprows=1)

In [531]:
tweek = tweek[0]
tweek.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$48,879.46",3,38.14%,|,$0.00,0,0.00%,|,"$48,879.46",3,38.14%
2,2020.0,"$3,892.21",9,3.04%,|,"$2,805.00",6,2.19%,|,"$1,087.21",3,0.85%
3,2019.0,"$27,298.83",17,21.30%,|,$0.00,0,0.00%,|,"$27,298.83",17,21.30%
4,2018.0,"$30,311.14",21,23.65%,|,$0.00,0,0.00%,|,"$30,311.14",21,23.65%

In [532]:
tweek.columns = tweek.iloc[0]

In [533]:
tweek = tweek.drop([0])

In [534]:
tweek['Player ID'] = 'Tweek'
tweek.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$48,879.46",3,38.14%,|,$0.00,0,0.00%,|,"$48,879.46",3,38.14%,Tweek
2,2020.0,"$3,892.21",9,3.04%,|,"$2,805.00",6,2.19%,|,"$1,087.21",3,0.85%,Tweek
3,2019.0,"$27,298.83",17,21.30%,|,$0.00,0,0.00%,|,"$27,298.83",17,21.30%,Tweek
4,2018.0,"$30,311.14",21,23.65%,|,$0.00,0,0.00%,|,"$30,311.14",21,23.65%,Tweek
5,2017.0,"$12,661.10",30,9.88%,|,$0.00,0,0.00%,|,"$12,661.10",30,9.88%,Tweek

In [535]:
tweek.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
tweek.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$48,879.46",3,38.14%,|,$0.00,0,0.00%,|,"$48,879.46",3,38.14%,Tweek
2,2020.0,"$3,892.21",9,3.04%,|,"$2,805.00",6,2.19%,|,"$1,087.21",3,0.85%,Tweek
3,2019.0,"$27,298.83",17,21.30%,|,$0.00,0,0.00%,|,"$27,298.83",17,21.30%,Tweek
4,2018.0,"$30,311.14",21,23.65%,|,$0.00,0,0.00%,|,"$30,311.14",21,23.65%,Tweek
5,2017.0,"$12,661.10",30,9.88%,|,$0.00,0,0.00%,|,"$12,661.10",30,9.88%,Tweek

In [536]:
tweek['Year'] = tweek['Year'].round().astype(int)

In [537]:
tweek = tweek.drop(columns=['blank', 'blank1'])
tweek

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$48,879.46",3,38.14%,$0.00,0,0.00%,"$48,879.46",3,38.14%,Tweek
2,2020,"$3,892.21",9,3.04%,"$2,805.00",6,2.19%,"$1,087.21",3,0.85%,Tweek
3,2019,"$27,298.83",17,21.30%,$0.00,0,0.00%,"$27,298.83",17,21.30%,Tweek
4,2018,"$30,311.14",21,23.65%,$0.00,0,0.00%,"$30,311.14",21,23.65%,Tweek
5,2017,"$12,661.10",30,9.88%,$0.00,0,0.00%,"$12,661.10",30,9.88%,Tweek
6,2016,"$4,214.92",22,3.29%,$0.00,0,0.00%,"$4,214.92",22,3.29%,Tweek
7,2015,$904.75,9,0.71%,$0.00,0,0.00%,$904.75,9,0.71%,Tweek

In [538]:
tweek_games = pd.read_html(str(tables), skiprows=1)

In [539]:
tweek_games = tweek_games[2]
tweek_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Super Smash Bros. Melee,$106.75,4,0.08%,|,$0.00,0,0.00%,|,$106.75,4,0.08%
2,Super Smash Bros. Ultimate,"$87,826.50",33,68.53%,|,"$2,805.00",6,2.19%,|,"$85,021.50",27,66.34%
3,Super Smash Bros. for Wii U,"$40,229.16",74,31.39%,|,$0.00,0,0.00%,|,"$40,229.16",74,31.39%

In [540]:
tweek_games.columns = tweek_games.iloc[0]

In [541]:
tweek_games = tweek_games.drop([0])

In [542]:
tweek_games['Player ID'] = 'Tweek'
tweek_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Super Smash Bros. Melee,$106.75,4,0.08%,|,$0.00,0,0.00%,|,$106.75,4,0.08%,Tweek
2,Super Smash Bros. Ultimate,"$87,826.50",33,68.53%,|,"$2,805.00",6,2.19%,|,"$85,021.50",27,66.34%,Tweek
3,Super Smash Bros. for Wii U,"$40,229.16",74,31.39%,|,$0.00,0,0.00%,|,"$40,229.16",74,31.39%,Tweek

In [543]:
tweek_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
tweek_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Melee,$106.75,4,0.08%,|,$0.00,0,0.00%,|,$106.75,4,0.08%,Tweek
2,Super Smash Bros. Ultimate,"$87,826.50",33,68.53%,|,"$2,805.00",6,2.19%,|,"$85,021.50",27,66.34%,Tweek
3,Super Smash Bros. for Wii U,"$40,229.16",74,31.39%,|,$0.00,0,0.00%,|,"$40,229.16",74,31.39%,Tweek

In [544]:
tweek_games = tweek_games.drop(columns=['blank', 'blank1'])
tweek_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Super Smash Bros. Melee,$106.75,4,0.08%,$0.00,0,0.00%,$106.75,4,0.08%,Tweek
2,Super Smash Bros. Ultimate,"$87,826.50",33,68.53%,"$2,805.00",6,2.19%,"$85,021.50",27,66.34%,Tweek
3,Super Smash Bros. for Wii U,"$40,229.16",74,31.39%,$0.00,0,0.00%,"$40,229.16",74,31.39%,Tweek

## Bonchan

In [545]:
bonchan_url = 'https://www.esportsearnings.com/players/2028-bonchan-takahashi-masato'
response = requests.get(bonchan_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [546]:
bonchan = pd.read_html(str(tables), skiprows=1)

In [547]:
bonchan = bonchan[0]
bonchan.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%
2,2019.0,"$56,862.06",7,45.88%,|,$0.00,0,0.00%,|,"$56,862.06",7,45.88%
3,2018.0,"$15,456.10",6,12.47%,|,$0.00,0,0.00%,|,"$15,456.10",6,12.47%
4,2017.0,"$10,000.00",3,8.07%,|,$0.00,0,0.00%,|,"$10,000.00",3,8.07%

In [548]:
bonchan.columns = bonchan.iloc[0]

In [549]:
bonchan = bonchan.drop([0])

In [550]:
bonchan['Player ID'] = 'Bonchan'
bonchan.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%,Bonchan
2,2019.0,"$56,862.06",7,45.88%,|,$0.00,0,0.00%,|,"$56,862.06",7,45.88%,Bonchan
3,2018.0,"$15,456.10",6,12.47%,|,$0.00,0,0.00%,|,"$15,456.10",6,12.47%,Bonchan
4,2017.0,"$10,000.00",3,8.07%,|,$0.00,0,0.00%,|,"$10,000.00",3,8.07%,Bonchan
5,2016.0,"$3,706.73",5,2.99%,|,$0.00,0,0.00%,|,"$3,706.73",5,2.99%,Bonchan

In [551]:
bonchan.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
bonchan.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%,Bonchan
2,2019.0,"$56,862.06",7,45.88%,|,$0.00,0,0.00%,|,"$56,862.06",7,45.88%,Bonchan
3,2018.0,"$15,456.10",6,12.47%,|,$0.00,0,0.00%,|,"$15,456.10",6,12.47%,Bonchan
4,2017.0,"$10,000.00",3,8.07%,|,$0.00,0,0.00%,|,"$10,000.00",3,8.07%,Bonchan
5,2016.0,"$3,706.73",5,2.99%,|,$0.00,0,0.00%,|,"$3,706.73",5,2.99%,Bonchan

In [552]:
bonchan['Year'] = bonchan['Year'].round().astype(int)

In [553]:
bonchan = bonchan.drop(columns=['blank', 'blank1'])
bonchan

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$3,881.33",2,3.13%,"$1,750.00",1,1.41%,"$2,131.33",1,1.72%,Bonchan
2,2019,"$56,862.06",7,45.88%,$0.00,0,0.00%,"$56,862.06",7,45.88%,Bonchan
3,2018,"$15,456.10",6,12.47%,$0.00,0,0.00%,"$15,456.10",6,12.47%,Bonchan
4,2017,"$10,000.00",3,8.07%,$0.00,0,0.00%,"$10,000.00",3,8.07%,Bonchan
5,2016,"$3,706.73",5,2.99%,$0.00,0,0.00%,"$3,706.73",5,2.99%,Bonchan
6,2015,"$22,366.22",7,18.05%,$0.00,0,0.00%,"$22,366.22",7,18.05%,Bonchan
7,2014,"$8,961.77",6,7.23%,$0.00,0,0.00%,"$8,961.77",6,7.23%,Bonchan
8,2013,"$1,940.52",2,1.57%,$0.00,0,0.00%,"$1,940.52",2,1.57%,Bonchan
9,2012,$637.84,2,0.51%,$0.00,0,0.00%,$637.84,2,0.51%,Bonchan
10,2010,$110.69,1,0.09%,$0.00,0,0.00%,$110.69,1,0.09%,Bonchan

In [554]:
bonchan_games = pd.read_html(str(tables), skiprows=1)

In [555]:
bonchan_games = bonchan_games[2]
bonchan_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter IV,$110.69,1,0.09%,|,$0.00,0,0.00%,|,$110.69,1,0.09%
2,Street Fighter V,"$13,706.73",8,11.06%,|,$0.00,0,0.00%,|,"$13,706.73",8,11.06%
3,Street Fighter V: Arcade Edition,"$72,318.16",13,58.36%,|,$0.00,0,0.00%,|,"$72,318.16",13,58.36%
4,Street Fighter V: Champion Edition,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%
5,Super Street Fighter IV Arcade Edition,"$5,038.26",6,4.07%,|,$0.00,0,0.00%,|,"$5,038.26",6,4.07%
6,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%
7,Ultra Street Fighter IV,"$28,868.09",10,23.30%,|,$0.00,0,0.00%,|,"$28,868.09",10,23.30%

In [556]:
bonchan_games.columns = bonchan_games.iloc[0]

In [557]:
bonchan_games = bonchan_games.drop([0])

In [558]:
bonchan_games['Player ID'] = 'Bonchan'
bonchan_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter IV,$110.69,1,0.09%,|,$0.00,0,0.00%,|,$110.69,1,0.09%,Bonchan
2,Street Fighter V,"$13,706.73",8,11.06%,|,$0.00,0,0.00%,|,"$13,706.73",8,11.06%,Bonchan
3,Street Fighter V: Arcade Edition,"$72,318.16",13,58.36%,|,$0.00,0,0.00%,|,"$72,318.16",13,58.36%,Bonchan
4,Street Fighter V: Champion Edition,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%,Bonchan
5,Super Street Fighter IV Arcade Edition,"$5,038.26",6,4.07%,|,$0.00,0,0.00%,|,"$5,038.26",6,4.07%,Bonchan
6,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Bonchan
7,Ultra Street Fighter IV,"$28,868.09",10,23.30%,|,$0.00,0,0.00%,|,"$28,868.09",10,23.30%,Bonchan

In [559]:
bonchan_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
bonchan_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter IV,$110.69,1,0.09%,|,$0.00,0,0.00%,|,$110.69,1,0.09%,Bonchan
2,Street Fighter V,"$13,706.73",8,11.06%,|,$0.00,0,0.00%,|,"$13,706.73",8,11.06%,Bonchan
3,Street Fighter V: Arcade Edition,"$72,318.16",13,58.36%,|,$0.00,0,0.00%,|,"$72,318.16",13,58.36%,Bonchan
4,Street Fighter V: Champion Edition,"$3,881.33",2,3.13%,|,"$1,750.00",1,1.41%,|,"$2,131.33",1,1.72%,Bonchan
5,Super Street Fighter IV Arcade Edition,"$5,038.26",6,4.07%,|,$0.00,0,0.00%,|,"$5,038.26",6,4.07%,Bonchan
6,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Bonchan
7,Ultra Street Fighter IV,"$28,868.09",10,23.30%,|,$0.00,0,0.00%,|,"$28,868.09",10,23.30%,Bonchan

In [560]:
bonchan_games = bonchan_games.drop(columns=['blank', 'blank1'])
bonchan_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter IV,$110.69,1,0.09%,$0.00,0,0.00%,$110.69,1,0.09%,Bonchan
2,Street Fighter V,"$13,706.73",8,11.06%,$0.00,0,0.00%,"$13,706.73",8,11.06%,Bonchan
3,Street Fighter V: Arcade Edition,"$72,318.16",13,58.36%,$0.00,0,0.00%,"$72,318.16",13,58.36%,Bonchan
4,Street Fighter V: Champion Edition,"$3,881.33",2,3.13%,"$1,750.00",1,1.41%,"$2,131.33",1,1.72%,Bonchan
5,Super Street Fighter IV Arcade Edition,"$5,038.26",6,4.07%,$0.00,0,0.00%,"$5,038.26",6,4.07%,Bonchan
6,Ultimate Marvel vs. Capcom 3,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Bonchan
7,Ultra Street Fighter IV,"$28,868.09",10,23.30%,$0.00,0,0.00%,"$28,868.09",10,23.30%,Bonchan

## Phenom

In [561]:
phenom_url = 'https://www.esportsearnings.com/players/12071-phenom-arman-hanjani'
response = requests.get(phenom_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [562]:
phenom = pd.read_html(str(tables), skiprows=1)

In [563]:
phenom = phenom[0]
phenom.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%
2,2019.0,"$30,912.95",8,25.32%,|,$0.00,0,0.00%,|,"$30,912.95",8,25.32%
3,2018.0,"$12,701.52",10,10.40%,|,$0.00,0,0.00%,|,"$12,701.52",10,10.40%
4,2017.0,"$53,716.73",9,44.00%,|,$0.00,0,0.00%,|,"$53,716.73",9,44.00%

In [564]:
phenom.columns = phenom.iloc[0]

In [565]:
phenom = phenom.drop([0])

In [566]:
phenom['Player ID'] = 'Phenom'
phenom

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%,Phenom
2,2019.0,"$30,912.95",8,25.32%,|,$0.00,0,0.00%,|,"$30,912.95",8,25.32%,Phenom
3,2018.0,"$12,701.52",10,10.40%,|,$0.00,0,0.00%,|,"$12,701.52",10,10.40%,Phenom
4,2017.0,"$53,716.73",9,44.00%,|,$0.00,0,0.00%,|,"$53,716.73",9,44.00%,Phenom
5,2016.0,"$12,866.93",5,10.54%,|,$0.00,0,0.00%,|,"$12,866.93",5,10.54%,Phenom
6,2015.0,"$2,178.10",4,1.78%,|,$0.00,0,0.00%,|,"$2,178.10",4,1.78%,Phenom
7,2014.0,$688.02,1,0.56%,|,$0.00,0,0.00%,|,$688.02,1,0.56%,Phenom

In [567]:
phenom.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
phenom

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%,Phenom
2,2019.0,"$30,912.95",8,25.32%,|,$0.00,0,0.00%,|,"$30,912.95",8,25.32%,Phenom
3,2018.0,"$12,701.52",10,10.40%,|,$0.00,0,0.00%,|,"$12,701.52",10,10.40%,Phenom
4,2017.0,"$53,716.73",9,44.00%,|,$0.00,0,0.00%,|,"$53,716.73",9,44.00%,Phenom
5,2016.0,"$12,866.93",5,10.54%,|,$0.00,0,0.00%,|,"$12,866.93",5,10.54%,Phenom
6,2015.0,"$2,178.10",4,1.78%,|,$0.00,0,0.00%,|,"$2,178.10",4,1.78%,Phenom
7,2014.0,$688.02,1,0.56%,|,$0.00,0,0.00%,|,$688.02,1,0.56%,Phenom

In [568]:
phenom['Year'] = phenom['Year'].round().astype(int)

In [569]:
phenom = phenom.drop(columns=['blank', 'blank1'])
phenom

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$9,022.38",2,7.39%,"$7,500.00",1,6.14%,"$1,522.38",1,1.25%,Phenom
2,2019,"$30,912.95",8,25.32%,$0.00,0,0.00%,"$30,912.95",8,25.32%,Phenom
3,2018,"$12,701.52",10,10.40%,$0.00,0,0.00%,"$12,701.52",10,10.40%,Phenom
4,2017,"$53,716.73",9,44.00%,$0.00,0,0.00%,"$53,716.73",9,44.00%,Phenom
5,2016,"$12,866.93",5,10.54%,$0.00,0,0.00%,"$12,866.93",5,10.54%,Phenom
6,2015,"$2,178.10",4,1.78%,$0.00,0,0.00%,"$2,178.10",4,1.78%,Phenom
7,2014,$688.02,1,0.56%,$0.00,0,0.00%,$688.02,1,0.56%,Phenom

In [570]:
phenom_games = pd.read_html(str(tables), skiprows=1)

In [571]:
phenom_games = phenom_games[1]
phenom_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$66,583.66",14,54.54%,|,$0.00,0,0.00%,|,"$66,583.66",14,54.54%
2,Street Fighter V: Arcade Edition,"$43,614.47",18,35.72%,|,$0.00,0,0.00%,|,"$43,614.47",18,35.72%
3,Street Fighter V: Champion Edition,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%
4,Ultra Street Fighter IV,"$2,866.12",5,2.35%,|,$0.00,0,0.00%,|,"$2,866.12",5,2.35%

In [572]:
phenom_games.columns = phenom_games.iloc[0]

In [573]:
phenom_games = phenom_games.drop([0])

In [574]:
phenom_games['Player ID'] = 'Phenom'
phenom_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$66,583.66",14,54.54%,|,$0.00,0,0.00%,|,"$66,583.66",14,54.54%,Phenom
2,Street Fighter V: Arcade Edition,"$43,614.47",18,35.72%,|,$0.00,0,0.00%,|,"$43,614.47",18,35.72%,Phenom
3,Street Fighter V: Champion Edition,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%,Phenom
4,Ultra Street Fighter IV,"$2,866.12",5,2.35%,|,$0.00,0,0.00%,|,"$2,866.12",5,2.35%,Phenom

In [575]:
phenom_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
phenom_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$66,583.66",14,54.54%,|,$0.00,0,0.00%,|,"$66,583.66",14,54.54%,Phenom
2,Street Fighter V: Arcade Edition,"$43,614.47",18,35.72%,|,$0.00,0,0.00%,|,"$43,614.47",18,35.72%,Phenom
3,Street Fighter V: Champion Edition,"$9,022.38",2,7.39%,|,"$7,500.00",1,6.14%,|,"$1,522.38",1,1.25%,Phenom
4,Ultra Street Fighter IV,"$2,866.12",5,2.35%,|,$0.00,0,0.00%,|,"$2,866.12",5,2.35%,Phenom

In [576]:
phenom_games = phenom_games.drop(columns=['blank', 'blank1'])
phenom_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$66,583.66",14,54.54%,$0.00,0,0.00%,"$66,583.66",14,54.54%,Phenom
2,Street Fighter V: Arcade Edition,"$43,614.47",18,35.72%,$0.00,0,0.00%,"$43,614.47",18,35.72%,Phenom
3,Street Fighter V: Champion Edition,"$9,022.38",2,7.39%,"$7,500.00",1,6.14%,"$1,522.38",1,1.25%,Phenom
4,Ultra Street Fighter IV,"$2,866.12",5,2.35%,$0.00,0,0.00%,"$2,866.12",5,2.35%,Phenom

## Ally

In [577]:
ally_url = 'https://www.esportsearnings.com/players/5752-ally-elliot-carroza-oyarce'
response = requests.get(ally_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [578]:
ally = pd.read_html(str(tables), skiprows=1)

In [579]:
ally = ally[0]
ally.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2020.0,$125.00,1,0.11%,|,$125.00,1,0.11%,|,$0.00,0,0.00%
2,2019.0,"$9,705.66",7,8.38%,|,$0.00,0,0.00%,|,"$9,705.66",7,8.38%
3,2018.0,"$5,843.89",11,5.04%,|,$0.00,0,0.00%,|,"$5,843.89",11,5.04%
4,2017.0,"$15,448.55",23,13.33%,|,$0.00,0,0.00%,|,"$15,448.55",23,13.33%

In [580]:
ally.columns = ally.iloc[0]

In [581]:
ally = ally.drop([0])

In [582]:
ally['Player ID'] = 'Ally'
ally.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2020.0,$125.00,1,0.11%,|,$125.00,1,0.11%,|,$0.00,0,0.00%,Ally
2,2019.0,"$9,705.66",7,8.38%,|,$0.00,0,0.00%,|,"$9,705.66",7,8.38%,Ally
3,2018.0,"$5,843.89",11,5.04%,|,$0.00,0,0.00%,|,"$5,843.89",11,5.04%,Ally
4,2017.0,"$15,448.55",23,13.33%,|,$0.00,0,0.00%,|,"$15,448.55",23,13.33%,Ally
5,2016.0,"$39,906.48",61,34.44%,|,$0.00,0,0.00%,|,"$39,906.48",61,34.44%,Ally

In [583]:
ally.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
ally.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020.0,$125.00,1,0.11%,|,$125.00,1,0.11%,|,$0.00,0,0.00%,Ally
2,2019.0,"$9,705.66",7,8.38%,|,$0.00,0,0.00%,|,"$9,705.66",7,8.38%,Ally
3,2018.0,"$5,843.89",11,5.04%,|,$0.00,0,0.00%,|,"$5,843.89",11,5.04%,Ally
4,2017.0,"$15,448.55",23,13.33%,|,$0.00,0,0.00%,|,"$15,448.55",23,13.33%,Ally
5,2016.0,"$39,906.48",61,34.44%,|,$0.00,0,0.00%,|,"$39,906.48",61,34.44%,Ally

In [584]:
ally['Year'] = ally['Year'].round().astype(int)

In [585]:
ally = ally.drop(columns=['blank', 'blank1'])
ally

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2020,$125.00,1,0.11%,$125.00,1,0.11%,$0.00,0,0.00%,Ally
2,2019,"$9,705.66",7,8.38%,$0.00,0,0.00%,"$9,705.66",7,8.38%,Ally
3,2018,"$5,843.89",11,5.04%,$0.00,0,0.00%,"$5,843.89",11,5.04%,Ally
4,2017,"$15,448.55",23,13.33%,$0.00,0,0.00%,"$15,448.55",23,13.33%,Ally
5,2016,"$39,906.48",61,34.44%,$0.00,0,0.00%,"$39,906.48",61,34.44%,Ally
6,2015,"$21,340.78",42,18.42%,$0.00,0,0.00%,"$21,340.78",42,18.42%,Ally
7,2014,$304.51,5,0.26%,$0.00,0,0.00%,$304.51,5,0.26%,Ally
8,2013,"$1,163.10",9,1.00%,$0.00,0,0.00%,"$1,163.10",9,1.00%,Ally
9,2012,"$1,096.45",10,0.95%,$0.00,0,0.00%,"$1,096.45",10,0.95%,Ally
10,2011,"$5,785.09",14,4.99%,$0.00,0,0.00%,"$5,785.09",14,4.99%,Ally
11,2010,"$8,041.50",10,6.94%,$0.00,0,0.00%,"$8,041.50",10,6.94%,Ally
12,2009,"$7,106.93",14,6.13%,$0.00,0,0.00%,"$7,106.93",14,6.13%,Ally

In [586]:
ally_games = pd.read_html(str(tables), skiprows=1)

In [587]:
ally_games = ally_games[2]
ally_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Project M,"$4,269.83",22,3.69%,|,$0.00,0,0.00%,|,"$4,269.83",22,3.69%
2,Super Smash Bros. Brawl,"$24,679.87",66,21.30%,|,$0.00,0,0.00%,|,"$24,679.87",66,21.30%
3,Super Smash Bros. Ultimate,"$11,755.66",10,10.15%,|,$125.00,1,0.11%,|,"$11,630.66",9,10.04%
4,Super Smash Bros. for Wii U,"$75,162.58",109,64.87%,|,$0.00,0,0.00%,|,"$75,162.58",109,64.87%

In [588]:
ally_games.columns = ally_games.iloc[0]

In [589]:
ally_games = ally_games.drop([0])

In [590]:
ally_games['Player ID'] = 'Ally'
ally_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Project M,"$4,269.83",22,3.69%,|,$0.00,0,0.00%,|,"$4,269.83",22,3.69%,Ally
2,Super Smash Bros. Brawl,"$24,679.87",66,21.30%,|,$0.00,0,0.00%,|,"$24,679.87",66,21.30%,Ally
3,Super Smash Bros. Ultimate,"$11,755.66",10,10.15%,|,$125.00,1,0.11%,|,"$11,630.66",9,10.04%,Ally
4,Super Smash Bros. for Wii U,"$75,162.58",109,64.87%,|,$0.00,0,0.00%,|,"$75,162.58",109,64.87%,Ally

In [591]:
ally_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
ally_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$4,269.83",22,3.69%,|,$0.00,0,0.00%,|,"$4,269.83",22,3.69%,Ally
2,Super Smash Bros. Brawl,"$24,679.87",66,21.30%,|,$0.00,0,0.00%,|,"$24,679.87",66,21.30%,Ally
3,Super Smash Bros. Ultimate,"$11,755.66",10,10.15%,|,$125.00,1,0.11%,|,"$11,630.66",9,10.04%,Ally
4,Super Smash Bros. for Wii U,"$75,162.58",109,64.87%,|,$0.00,0,0.00%,|,"$75,162.58",109,64.87%,Ally

In [592]:
ally_games = ally_games.drop(columns=['blank', 'blank1'])
ally_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Project M,"$4,269.83",22,3.69%,$0.00,0,0.00%,"$4,269.83",22,3.69%,Ally
2,Super Smash Bros. Brawl,"$24,679.87",66,21.30%,$0.00,0,0.00%,"$24,679.87",66,21.30%,Ally
3,Super Smash Bros. Ultimate,"$11,755.66",10,10.15%,$125.00,1,0.11%,"$11,630.66",9,10.04%,Ally
4,Super Smash Bros. for Wii U,"$75,162.58",109,64.87%,$0.00,0,0.00%,"$75,162.58",109,64.87%,Ally

## Qudans

In [593]:
qudans_url = 'https://www.esportsearnings.com/players/4100-qudans-byeong-mun-son'
response = requests.get(qudans_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [594]:
qudans = pd.read_html(str(tables), skiprows=1)

In [595]:
qudans = qudans[0]
qudans

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2019.0,"$61,130.00",5,53.83%,|,$0.00,0,0.00%,|,"$61,130.00",5,53.83%
2,2018.0,"$15,106.00",10,13.30%,|,$0.00,0,0.00%,|,"$15,106.00",10,13.30%
3,2017.0,"$37,334.01",6,32.87%,|,$0.00,0,0.00%,|,"$37,334.01",6,32.87%
4,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [596]:
qudans.columns = qudans.iloc[0]

In [597]:
qudans = qudans.drop([0])

In [598]:
qudans['Player ID'] = 'Qudans'
qudans

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2019.0,"$61,130.00",5,53.83%,|,$0.00,0,0.00%,|,"$61,130.00",5,53.83%,Qudans
2,2018.0,"$15,106.00",10,13.30%,|,$0.00,0,0.00%,|,"$15,106.00",10,13.30%,Qudans
3,2017.0,"$37,334.01",6,32.87%,|,$0.00,0,0.00%,|,"$37,334.01",6,32.87%,Qudans
4,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Qudans

In [599]:
qudans.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
qudans

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019.0,"$61,130.00",5,53.83%,|,$0.00,0,0.00%,|,"$61,130.00",5,53.83%,Qudans
2,2018.0,"$15,106.00",10,13.30%,|,$0.00,0,0.00%,|,"$15,106.00",10,13.30%,Qudans
3,2017.0,"$37,334.01",6,32.87%,|,$0.00,0,0.00%,|,"$37,334.01",6,32.87%,Qudans
4,2005.0,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Qudans

In [600]:
qudans['Year'] = qudans['Year'].round().astype(int)

In [601]:
qudans = qudans.drop(columns=['blank', 'blank1'])
qudans

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2019,"$61,130.00",5,53.83%,$0.00,0,0.00%,"$61,130.00",5,53.83%,Qudans
2,2018,"$15,106.00",10,13.30%,$0.00,0,0.00%,"$15,106.00",10,13.30%,Qudans
3,2017,"$37,334.01",6,32.87%,$0.00,0,0.00%,"$37,334.01",6,32.87%,Qudans
4,2005,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Qudans

In [602]:
qudans_games = pd.read_html(str(tables), skiprows=1)

In [603]:
qudans_games = qudans_games[1]
qudans_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 5: Dark Resurrection,$105.00,1,0.09%,|,$0.00,0,0.00%,|,$105.00,1,0.09%
2,Tekken 7,"$113,465.01",20,99.91%,|,$0.00,0,0.00%,|,"$113,465.01",20,99.91%
3,Tekken Tag Tournament,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%

In [604]:
qudans_games.columns = qudans_games.iloc[0]

In [605]:
qudans_games = qudans_games.drop([0])

In [606]:
qudans_games['Player ID'] = 'Qudans'
qudans_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Tekken 5: Dark Resurrection,$105.00,1,0.09%,|,$0.00,0,0.00%,|,$105.00,1,0.09%,Qudans
2,Tekken 7,"$113,465.01",20,99.91%,|,$0.00,0,0.00%,|,"$113,465.01",20,99.91%,Qudans
3,Tekken Tag Tournament,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Qudans

In [607]:
qudans_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
qudans_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 5: Dark Resurrection,$105.00,1,0.09%,|,$0.00,0,0.00%,|,$105.00,1,0.09%,Qudans
2,Tekken 7,"$113,465.01",20,99.91%,|,$0.00,0,0.00%,|,"$113,465.01",20,99.91%,Qudans
3,Tekken Tag Tournament,$0.00,1,0.00%,|,$0.00,0,0.00%,|,$0.00,1,0.00%,Qudans

In [608]:
qudans_games = qudans_games.drop(columns=['blank', 'blank1'])
qudans_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 5: Dark Resurrection,$105.00,1,0.09%,$0.00,0,0.00%,$105.00,1,0.09%,Qudans
2,Tekken 7,"$113,465.01",20,99.91%,$0.00,0,0.00%,"$113,465.01",20,99.91%,Qudans
3,Tekken Tag Tournament,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Qudans

## Problem X

In [609]:
problem_x_url = 'https://www.esportsearnings.com/players/3599-problem-x-benjamin-simon'
response = requests.get(problem_x_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

5

In [610]:
problem_x = pd.read_html(str(tables), skiprows=1)

In [611]:
problem_x = problem_x[0]
problem_x.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%
2,2019.0,"$12,458.05",8,11.06%,|,$0.00,0,0.00%,|,"$12,458.05",8,11.06%
3,2018.0,"$57,084.07",6,50.70%,|,$0.00,0,0.00%,|,"$57,084.07",6,50.70%
4,2017.0,"$27,319.78",6,24.26%,|,$0.00,0,0.00%,|,"$27,319.78",6,24.26%

In [612]:
problem_x.columns = problem_x.iloc[0]

In [613]:
problem_x = problem_x.drop([0])

In [614]:
problem_x['Player ID'] = 'Problem X'
problem_x.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%,Problem X
2,2019.0,"$12,458.05",8,11.06%,|,$0.00,0,0.00%,|,"$12,458.05",8,11.06%,Problem X
3,2018.0,"$57,084.07",6,50.70%,|,$0.00,0,0.00%,|,"$57,084.07",6,50.70%,Problem X
4,2017.0,"$27,319.78",6,24.26%,|,$0.00,0,0.00%,|,"$27,319.78",6,24.26%,Problem X
5,2016.0,$661.81,1,0.59%,|,$0.00,0,0.00%,|,$661.81,1,0.59%,Problem X

In [615]:
problem_x.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
problem_x.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%,Problem X
2,2019.0,"$12,458.05",8,11.06%,|,$0.00,0,0.00%,|,"$12,458.05",8,11.06%,Problem X
3,2018.0,"$57,084.07",6,50.70%,|,$0.00,0,0.00%,|,"$57,084.07",6,50.70%,Problem X
4,2017.0,"$27,319.78",6,24.26%,|,$0.00,0,0.00%,|,"$27,319.78",6,24.26%,Problem X
5,2016.0,$661.81,1,0.59%,|,$0.00,0,0.00%,|,$661.81,1,0.59%,Problem X

In [616]:
problem_x['Year'] = problem_x['Year'].round().astype(int)

In [617]:
problem_x = problem_x.drop(columns=['blank', 'blank1'])
problem_x.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,"$7,108.95",2,6.31%,$0.00,0,0.00%,"$7,108.95",2,6.31%,Problem X
2,2019,"$12,458.05",8,11.06%,$0.00,0,0.00%,"$12,458.05",8,11.06%,Problem X
3,2018,"$57,084.07",6,50.70%,$0.00,0,0.00%,"$57,084.07",6,50.70%,Problem X
4,2017,"$27,319.78",6,24.26%,$0.00,0,0.00%,"$27,319.78",6,24.26%,Problem X
5,2016,$661.81,1,0.59%,$0.00,0,0.00%,$661.81,1,0.59%,Problem X

In [618]:
problem_x_games = pd.read_html(str(tables), skiprows=1)

In [619]:
problem_x_games = problem_x_games[1]
problem_x_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Street Fighter V,"$27,981.59",7,24.85%,|,$0.00,0,0.00%,|,"$27,981.59",7,24.85%
2,Street Fighter V: Arcade Edition,"$69,542.12",14,61.76%,|,$0.00,0,0.00%,|,"$69,542.12",14,61.76%
3,Street Fighter V: Champion Edition,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%
4,Super Street Fighter IV,$164.18,1,0.15%,|,$0.00,0,0.00%,|,$164.18,1,0.15%
5,Super Street Fighter IV Arcade Edition,"$1,841.63",2,1.64%,|,$0.00,0,0.00%,|,"$1,841.63",2,1.64%
6,Ultra Street Fighter IV,"$5,953.81",5,5.29%,|,$0.00,0,0.00%,|,"$5,953.81",5,5.29%

In [620]:
problem_x_games.columns = problem_x_games.iloc[0]

In [621]:
problem_x_games = problem_x_games.drop([0])

In [622]:
problem_x_games['Player ID'] = 'Problem X'
problem_x_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Street Fighter V,"$27,981.59",7,24.85%,|,$0.00,0,0.00%,|,"$27,981.59",7,24.85%,Problem X
2,Street Fighter V: Arcade Edition,"$69,542.12",14,61.76%,|,$0.00,0,0.00%,|,"$69,542.12",14,61.76%,Problem X
3,Street Fighter V: Champion Edition,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%,Problem X
4,Super Street Fighter IV,$164.18,1,0.15%,|,$0.00,0,0.00%,|,$164.18,1,0.15%,Problem X
5,Super Street Fighter IV Arcade Edition,"$1,841.63",2,1.64%,|,$0.00,0,0.00%,|,"$1,841.63",2,1.64%,Problem X
6,Ultra Street Fighter IV,"$5,953.81",5,5.29%,|,$0.00,0,0.00%,|,"$5,953.81",5,5.29%,Problem X

In [623]:
problem_x_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
problem_x_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$27,981.59",7,24.85%,|,$0.00,0,0.00%,|,"$27,981.59",7,24.85%,Problem X
2,Street Fighter V: Arcade Edition,"$69,542.12",14,61.76%,|,$0.00,0,0.00%,|,"$69,542.12",14,61.76%,Problem X
3,Street Fighter V: Champion Edition,"$7,108.95",2,6.31%,|,$0.00,0,0.00%,|,"$7,108.95",2,6.31%,Problem X
4,Super Street Fighter IV,$164.18,1,0.15%,|,$0.00,0,0.00%,|,$164.18,1,0.15%,Problem X
5,Super Street Fighter IV Arcade Edition,"$1,841.63",2,1.64%,|,$0.00,0,0.00%,|,"$1,841.63",2,1.64%,Problem X
6,Ultra Street Fighter IV,"$5,953.81",5,5.29%,|,$0.00,0,0.00%,|,"$5,953.81",5,5.29%,Problem X

In [624]:
problem_x_games = problem_x_games.drop(columns=['blank', 'blank1'])
problem_x_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Street Fighter V,"$27,981.59",7,24.85%,$0.00,0,0.00%,"$27,981.59",7,24.85%,Problem X
2,Street Fighter V: Arcade Edition,"$69,542.12",14,61.76%,$0.00,0,0.00%,"$69,542.12",14,61.76%,Problem X
3,Street Fighter V: Champion Edition,"$7,108.95",2,6.31%,$0.00,0,0.00%,"$7,108.95",2,6.31%,Problem X
4,Super Street Fighter IV,$164.18,1,0.15%,$0.00,0,0.00%,$164.18,1,0.15%,Problem X
5,Super Street Fighter IV Arcade Edition,"$1,841.63",2,1.64%,$0.00,0,0.00%,"$1,841.63",2,1.64%,Problem X
6,Ultra Street Fighter IV,"$5,953.81",5,5.29%,$0.00,0,0.00%,"$5,953.81",5,5.29%,Problem X

## NOBI

In [625]:
nobi_url = 'https://www.esportsearnings.com/players/1502-nobi-daichi-nakayama'
response = requests.get(nobi_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [626]:
nobi = pd.read_html(str(tables), skiprows=1)

In [627]:
nobi = nobi[0]
nobi.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$273.53,1,0.25%,|,$0.00,0,0.00%,|,$273.53,1,0.25%
2,2020.0,$473.52,1,0.43%,|,$0.00,0,0.00%,|,$473.52,1,0.43%
3,2019.0,"$29,971.98",11,27.51%,|,$0.00,0,0.00%,|,"$29,971.98",11,27.51%
4,2018.0,"$20,258.00",8,18.59%,|,$0.00,0,0.00%,|,"$20,258.00",8,18.59%

In [628]:
nobi.columns = nobi.iloc[0]

In [629]:
nobi = nobi.drop([0])

In [630]:
nobi['Player ID'] = 'NOBI'
nobi.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,$273.53,1,0.25%,|,$0.00,0,0.00%,|,$273.53,1,0.25%,NOBI
2,2020.0,$473.52,1,0.43%,|,$0.00,0,0.00%,|,$473.52,1,0.43%,NOBI
3,2019.0,"$29,971.98",11,27.51%,|,$0.00,0,0.00%,|,"$29,971.98",11,27.51%,NOBI
4,2018.0,"$20,258.00",8,18.59%,|,$0.00,0,0.00%,|,"$20,258.00",8,18.59%,NOBI
5,2017.0,"$2,327.32",4,2.14%,|,$0.00,0,0.00%,|,"$2,327.32",4,2.14%,NOBI

In [631]:
nobi.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed', 
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nobi.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,$273.53,1,0.25%,|,$0.00,0,0.00%,|,$273.53,1,0.25%,NOBI
2,2020.0,$473.52,1,0.43%,|,$0.00,0,0.00%,|,$473.52,1,0.43%,NOBI
3,2019.0,"$29,971.98",11,27.51%,|,$0.00,0,0.00%,|,"$29,971.98",11,27.51%,NOBI
4,2018.0,"$20,258.00",8,18.59%,|,$0.00,0,0.00%,|,"$20,258.00",8,18.59%,NOBI
5,2017.0,"$2,327.32",4,2.14%,|,$0.00,0,0.00%,|,"$2,327.32",4,2.14%,NOBI

In [632]:
nobi['Year'] = nobi['Year'].round().astype(int)

In [633]:
nobi = nobi.drop(columns=['blank', 'blank1'])
nobi.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,$273.53,1,0.25%,$0.00,0,0.00%,$273.53,1,0.25%,NOBI
2,2020,$473.52,1,0.43%,$0.00,0,0.00%,$473.52,1,0.43%,NOBI
3,2019,"$29,971.98",11,27.51%,$0.00,0,0.00%,"$29,971.98",11,27.51%,NOBI
4,2018,"$20,258.00",8,18.59%,$0.00,0,0.00%,"$20,258.00",8,18.59%,NOBI
5,2017,"$2,327.32",4,2.14%,$0.00,0,0.00%,"$2,327.32",4,2.14%,NOBI

In [634]:
nobi_games = pd.read_html(str(tables), skiprows=1)

In [635]:
nobi_games = nobi_games[2]
nobi_games

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Tekken 6,"$10,000.00",1,9.18%,|,$0.00,0,0.00%,|,"$10,000.00",1,9.18%
2,Tekken 7,"$98,962.71",28,90.82%,|,$0.00,0,0.00%,|,"$98,962.71",28,90.82%

In [636]:
nobi_games.columns = nobi_games.iloc[0]

In [637]:
nobi_games = nobi_games.drop([0])

In [638]:
nobi_games['Player ID'] = 'NOBI'
nobi_games

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Tekken 6,"$10,000.00",1,9.18%,|,$0.00,0,0.00%,|,"$10,000.00",1,9.18%,NOBI
2,Tekken 7,"$98,962.71",28,90.82%,|,$0.00,0,0.00%,|,"$98,962.71",28,90.82%,NOBI

In [639]:
nobi_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
nobi_games

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$10,000.00",1,9.18%,|,$0.00,0,0.00%,|,"$10,000.00",1,9.18%,NOBI
2,Tekken 7,"$98,962.71",28,90.82%,|,$0.00,0,0.00%,|,"$98,962.71",28,90.82%,NOBI

In [640]:
nobi_games = nobi_games.drop(columns=['blank', 'blank1'])
nobi_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Tekken 6,"$10,000.00",1,9.18%,$0.00,0,0.00%,"$10,000.00",1,9.18%,NOBI
2,Tekken 7,"$98,962.71",28,90.82%,$0.00,0,0.00%,"$98,962.71",28,90.82%,NOBI

## Mago

In [641]:
mago_url = 'https://www.esportsearnings.com/players/2023-mago-hayashi-kenryo'
response = requests.get(mago_url)
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.find_all('table')
len(tables)

6

In [642]:
mago = pd.read_html(str(tables), skiprows=1)

In [643]:
mago = mago[0]
mago.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,2021.0,$480.00,1,0.46%,|,$480.00,1,0.46%,|,$0.00,0,0.00%
2,2020.0,"$12,605.35",4,12.03%,|,"$1,900.00",1,1.81%,|,"$10,705.35",3,10.22%
3,2019.0,"$32,548.50",4,31.07%,|,$0.00,0,0.00%,|,"$32,548.50",4,31.07%
4,2018.0,"$9,250.00",7,8.83%,|,$0.00,0,0.00%,|,"$9,250.00",7,8.83%

In [644]:
mago.columns = mago.iloc[0]

In [645]:
mago = mago.drop([0])

In [646]:
mago['Player ID'] = 'Mago'
mago.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,2021.0,$480.00,1,0.46%,|,$480.00,1,0.46%,|,$0.00,0,0.00%,Mago
2,2020.0,"$12,605.35",4,12.03%,|,"$1,900.00",1,1.81%,|,"$10,705.35",3,10.22%,Mago
3,2019.0,"$32,548.50",4,31.07%,|,$0.00,0,0.00%,|,"$32,548.50",4,31.07%,Mago
4,2018.0,"$9,250.00",7,8.83%,|,$0.00,0,0.00%,|,"$9,250.00",7,8.83%,Mago
5,2017.0,"$4,824.23",6,4.61%,|,$0.00,0,0.00%,|,"$4,824.23",6,4.61%,Mago

In [647]:
mago.columns = ['Year', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mago.head()

,Year,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021.0,$480.00,1,0.46%,|,$480.00,1,0.46%,|,$0.00,0,0.00%,Mago
2,2020.0,"$12,605.35",4,12.03%,|,"$1,900.00",1,1.81%,|,"$10,705.35",3,10.22%,Mago
3,2019.0,"$32,548.50",4,31.07%,|,$0.00,0,0.00%,|,"$32,548.50",4,31.07%,Mago
4,2018.0,"$9,250.00",7,8.83%,|,$0.00,0,0.00%,|,"$9,250.00",7,8.83%,Mago
5,2017.0,"$4,824.23",6,4.61%,|,$0.00,0,0.00%,|,"$4,824.23",6,4.61%,Mago

In [648]:
mago['Year'] = mago['Year'].round().astype(int)

In [649]:
mago = mago.drop(columns=['blank', 'blank1'])
mago.head()

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,2021,$480.00,1,0.46%,$480.00,1,0.46%,$0.00,0,0.00%,Mago
2,2020,"$12,605.35",4,12.03%,"$1,900.00",1,1.81%,"$10,705.35",3,10.22%,Mago
3,2019,"$32,548.50",4,31.07%,$0.00,0,0.00%,"$32,548.50",4,31.07%,Mago
4,2018,"$9,250.00",7,8.83%,$0.00,0,0.00%,"$9,250.00",7,8.83%,Mago
5,2017,"$4,824.23",6,4.61%,$0.00,0,0.00%,"$4,824.23",6,4.61%,Mago

In [650]:
mago_games = pd.read_html(str(tables), skiprows=1)

In [651]:
mago_games = mago_games[2]
mago_games.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results
1,Capcom vs. SNK 2,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
2,Guilty Gear XX Accent Core,$83.33,1,0.08%,|,$0.00,0,0.00%,|,$83.33,1,0.08%
3,King of Fighters XIII,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%
4,Street Fighter IV,"$1,025.75",1,0.98%,|,$0.00,0,0.00%,|,"$1,025.75",1,0.98%

In [652]:
mago_games.columns = mago_games.iloc[0]

In [653]:
mago_games = mago_games.drop([0])

In [654]:
mago_games['Player ID'] = 'Mago'
mago_games.head()

,NaN,Total Results,Total Results,Total Results,NaN,Online Results,Online Results,Online Results,NaN,Offline/LAN Results,Offline/LAN Results,Offline/LAN Results,Player ID
1,Capcom vs. SNK 2,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Mago
2,Guilty Gear XX Accent Core,$83.33,1,0.08%,|,$0.00,0,0.00%,|,$83.33,1,0.08%,Mago
3,King of Fighters XIII,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Mago
4,Street Fighter IV,"$1,025.75",1,0.98%,|,$0.00,0,0.00%,|,"$1,025.75",1,0.98%,Mago
5,Street Fighter V,"$20,615.68",15,19.68%,|,$0.00,0,0.00%,|,"$20,615.68",15,19.68%,Mago

In [655]:
mago_games.columns = ['Game', 'Total Prizes', 'Total Placed', 'Total Percent', 'blank', 'Online Prizes', 'Online Placed',
'Online Percent', 'blank1', 'Offline Prizes', 'Offline Placed', 'Offline Percent', 'Player ID']
mago_games.head()

,Game,Total Prizes,Total Placed,Total Percent,blank,Online Prizes,Online Placed,Online Percent,blank1,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Mago
2,Guilty Gear XX Accent Core,$83.33,1,0.08%,|,$0.00,0,0.00%,|,$83.33,1,0.08%,Mago
3,King of Fighters XIII,$0.00,2,0.00%,|,$0.00,0,0.00%,|,$0.00,2,0.00%,Mago
4,Street Fighter IV,"$1,025.75",1,0.98%,|,$0.00,0,0.00%,|,"$1,025.75",1,0.98%,Mago
5,Street Fighter V,"$20,615.68",15,19.68%,|,$0.00,0,0.00%,|,"$20,615.68",15,19.68%,Mago

In [656]:
mago_games = mago_games.drop(columns=['blank', 'blank1'])
mago_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Capcom vs. SNK 2,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Mago
2,Guilty Gear XX Accent Core,$83.33,1,0.08%,$0.00,0,0.00%,$83.33,1,0.08%,Mago
3,King of Fighters XIII,$0.00,2,0.00%,$0.00,0,0.00%,$0.00,2,0.00%,Mago
4,Street Fighter IV,"$1,025.75",1,0.98%,$0.00,0,0.00%,"$1,025.75",1,0.98%,Mago
5,Street Fighter V,"$20,615.68",15,19.68%,$0.00,0,0.00%,"$20,615.68",15,19.68%,Mago
6,Street Fighter V: Arcade Edition,"$43,949.86",11,41.95%,$0.00,0,0.00%,"$43,949.86",11,41.95%,Mago
7,Street Fighter V: Champion Edition,"$9,433.99",4,9.01%,"$2,380.00",2,2.27%,"$7,053.99",2,6.73%,Mago
8,Super Street Fighter IV,"$6,200.00",1,5.92%,"$6,200.00",1,5.92%,$0.00,0,0.00%,Mago
9,Super Street Fighter IV Arcade Edition,"$9,161.89",12,8.75%,$0.00,0,0.00%,"$9,161.89",12,8.75%,Mago
10,Ultra Street Fighter IV,"$14,286.20",3,13.64%,$0.00,0,0.00%,"$14,286.20",3,13.64%,Mago

In [665]:
players_years = pd.concat([sonic_fox, punk, tokido, hungrybox, nuckledu, gachikun, armada, idom, mew2king, dragon, mena, daigo, mango, mkleo, knee, kazunoko, infiltration, fuudo, momochi, zero, sandstorm, afoxygrandpa, leffen, fujimura, itabashi, boomie, dabuz, nairo, jwong, xian, jdcr, plup, tweek, bonchan, phenom, ally, qudans, problem_x, nobi, mago])

In [666]:
players_years.reset_index(drop=True)

,Year,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
0,2021,"$18,694.21",9,2.67%,"$1,826.37",2,0.26%,"$16,867.84",7,2.41%,SonicFox
1,2020,"$40,800.00",2,5.82%,$0.00,0,0.00%,"$40,800.00",2,5.82%,SonicFox
2,2019,"$64,925.00",22,9.27%,$200.00,1,0.03%,"$64,725.00",21,9.24%,SonicFox
3,2018,"$84,201.28",23,12.02%,$0.00,0,0.00%,"$84,201.28",23,12.02%,SonicFox
4,2017,"$184,820.53",19,26.38%,$0.00,0,0.00%,"$184,820.53",19,26.38%,SonicFox
...,...,...,...,...,...,...,...,...,...,...,...
393,2010,"$6,200.00",1,5.92%,"$6,200.00",1,5.92%,$0.00,0,0.00%,Mago
394,2009,"$1,025.75",1,0.98%,$0.00,0,0.00%,"$1,025.75",1,0.98%,Mago
395,2007,$83.33,1,0.08%,$0.00,0,0.00%,$83.33,1,0.08%,Mago
396,2005,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Mago
397,2003,$0.00,1,0.00%,$0.00,0,0.00%,$0.00,1,0.00%,Mago

In [667]:
players_years.to_csv('../data/players_years.csv')

In [668]:
players_games = pd.concat([sonic_fox_games, punk_games, tokido_games, hungrybox_games, nuckledu_games, gachikun_games, armada_games, idom_games, mew2king_games, dragon_games, mena_games, daigo_games, mango_games, mkleo_games, knee_games, kazunoko_games, infiltration_games, fuudo_games, momochi_games, zero_games, sandstorm_games, afoxygrandpa_games, leffen_games, fujimura_games, itabashi_games, boomie_games, dabuz_games, nairo_games, jwong_games, xian_games, jdcr_games, plup_games, tweek_games, bonchan_games, phenom_games, ally_games, qudans_games, problem_x_games, nobi_games, mago_games])

In [669]:
players_games

,Game,Total Prizes,Total Placed,Total Percent,Online Prizes,Online Placed,Online Percent,Offline Prizes,Offline Placed,Offline Percent,Player ID
1,Dead or Alive 5 Ultimate,$0.00,4,0.00%,$0.00,0,0.00%,$0.00,4,0.00%,SonicFox
2,Dead or Alive 5: Last Round,$504.00,6,0.07%,$0.00,0,0.00%,$504.00,6,0.07%,SonicFox
3,Dragon Ball FighterZ,"$43,872.21",22,6.26%,$0.00,0,0.00%,"$43,872.21",22,6.26%,SonicFox
4,Guilty Gear -STRIVE-,"$2,647.10",4,0.38%,"$1,826.37",2,0.26%,$820.73,2,0.12%,SonicFox
5,Injustice 2,"$223,245.53",16,31.87%,$0.00,0,0.00%,"$223,245.53",16,31.87%,SonicFox
...,...,...,...,...,...,...,...,...,...,...,...
6,Street Fighter V: Arcade Edition,"$43,949.86",11,41.95%,$0.00,0,0.00%,"$43,949.86",11,41.95%,Mago
7,Street Fighter V: Champion Edition,"$9,433.99",4,9.01%,"$2,380.00",2,2.27%,"$7,053.99",2,6.73%,Mago
8,Super Street Fighter IV,"$6,200.00",1,5.92%,"$6,200.00",1,5.92%,$0.00,0,0.00%,Mago
9,Super Street Fighter IV Arcade Edition,"$9,161.89",12,8.75%,$0.00,0,0.00%,"$9,161.89",12,8.75%,Mago
10,Ultra Street Fighter IV,"$14,286.20",3,13.64%,$0.00,0,0.00%,"$14,286.20",3,13.64%,Mago

In [670]:
players_games.to_csv('../data/players_games.csv')

In [663]:
#pd.concat([punk, sonic_fox, tokido])

In [664]:
#three.to_csv('../data/three.csv')